{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering an album.

Here is a list of objects / variables that can be accessed in this template:

Tx_PtExtlist_Domain_Model_List_ListData listData               List of items in album

@package YAG
@author Daniel Lienert <daniel@lienert.cc>
@author Michael Knoll <mimi@kaktusteam.de>
-->
</extlist:comment>
<f:layout name="Default" />
<f:section name="head" />
<f:section name="main">

	<div class="tx-yag-album-header">
    	<f:if condition="{album.name}"><h1>{album.name}</h1></f:if>
        <f:if condition="{album.date}"><div class="yag-album-date"><f:format.date format="d.m.Y">{album.date}</f:format.date></div></f:if>
		<f:if condition="{album.description}"><p><f:format.nl2br><f:format.stripTags value="{album.description}"></f:format.stripTags></f:format.nl2br></p></f:if>
	</div>

    <div id="yag-{config.contextIdentifier}" class="yag-list-wrap yag-gallery" data-yag-gallery-settings='{yag:Javascript.JsonSettings(tsPath:"javaScriptSettings")}'>

        <ul>
            <div class="offPageItems">
                <yag:offPageItemList type="pre">
                    <f:render partial="{config.itemListConfig.imageThumbPartial}" arguments="{config: config, image: image, rowIndex: listRow.specialValues.absoluteRowIndex, pager: pager, pagerCollection:pagerCollection, hideThumb:'1'}" />
                </yag:offPageItemList>
            </div>

			<div class="tx-yag-items">
                <f:for each="{listData}" key="rowIndex" as="listRow">
                    <f:render partial="{config.itemListConfig.imageThumbPartial}" arguments="{config: config, image: listRow.image.value, rowIndex: listRow.specialValues.absoluteRowIndex, pager: pager, pagerCollection:pagerCollection}" />
                </f:for>
			</div>

            <div class="offPageItems">
                <yag:offPageItemList type="post">
                    <f:render partial="{config.itemListConfig.imageThumbPartial}" arguments="{config: config, image: image, rowIndex: listRow.specialValues.absoluteRowIndex, pager: pager, pagerCollection:pagerCollection, hideThumb:'1'}" />
                </yag:offPageItemList>
            </div>

            <f:if condition="{config.settings.itemList.zipDownload.active}">
                <f:if condition="{listData->f:count()}">
                    <yag:link.zipDownload album="{album}"><f:translate key="tx_yag_controller_album.downloadAsZip"/></yag:link.zipDownload>
                </f:if>
            </f:if>

            <f:if condition="{config.settings.itemList.showPager}">
                <div class="tx-yag-pager">
                    <f:render partial="{config.itemListConfig.pagerPartial}" arguments="{action: listAction, controller: 'ItemList', pager: pager, pagerCollection: pagerCollection, itemsText: '{f:translate(key:\'tx_yag_domain_model_album.items\')}'}" />
                </div>
            </f:if>
        </ul>
    </div>
</f:section>

<f:section name="beButtonsLeft"></f:section>
<f:section name="feEdit"></f:section>
