<ul id="nav" class="dropdown dropdown-horizontal">
	<li class="dir"><f:if condition="{action} == 'index'">
	    <f:then><f:link.action action="index" class="active">Bearbeiten</f:link.action></f:then>
		<f:else><f:link.action action="index">Bearbeiten</f:link.action></f:else>
	</f:if></li>
	<li class="dir"><f:if condition="{action} == 'abrechnen'">
	    <f:then><f:link.action action="abrechnen" class="active">Abrechnen</f:link.action></f:then>
		<f:else><f:link.action action="abrechnen">Abrechnen</f:link.action></f:else>
	</f:if></li>
	<li class="dir"><f:if condition="{action} == 'erledigt'">
	    <f:then><f:link.action action="erledigt" class="active">erledigt</f:link.action></f:then>
		<f:else><f:link.action action="erledigt">erledigt</f:link.action></f:else>
	</f:if></li>
	<li class="dir"><f:if condition="{action} == 'erstattung'">
	    <f:then><f:link.action action="erstattung" class="active">Ausbildungsr&uuml;ckerstattung</f:link.action></f:then>
		<f:else><f:link.action action="erstattung">Ausbildungsr&uuml;ckerstattung</f:link.action></f:else>
	</f:if></li>
	<li class="dir"><f:if condition="{action} == 'deleted'">
		<f:then><f:link.action action="deleted" class="active">Gelöscht</f:link.action></f:then>
		<f:else><f:link.action action="deleted">Gelöscht</f:link.action></f:else>
	</f:if></li>
	<li class="dir"><f:if condition="{action} == 'mitarbeiter'">
		<f:then><f:link.action action="mitarbeiter" class="active">Mitarbeiter</f:link.action></f:then>
		<f:else><f:link.action action="mitarbeiter">Mitarbeiter</f:link.action></f:else>
	</f:if></li>
<f:if condition="{action} == 'seminar'">
    <li class="dir">
    	<a href="#" class="active">NB-Seminar anlegen</a>
	</li>
</f:if>
<!--
<f:if condition="{action} == 'erledigt'">
    <f:then><li class="dir">
		<f:link.action action="erledigt" class="active">erledigt</f:link.action>
    </li>
    <li class="dir">
		<f:link.action action="erstattung">Ausbildungsr&uuml;ckerstattung</f:link.action>
	</li>
    </f:then>
	<f:else><li class="dir">
    	<f:link.action action="erledigt">Erledigt</f:link.action>
	</li></f:else>
</f:if>
<f:if condition="{action} == 'erstattung'">
    <li class="dir">
		<f:link.action action="erstattung" class="active">Ausbildungsr&uuml;ckerstattung</f:link.action>
	</li>
</f:if>
<f:if condition="{action} == 'seminar'">
    <li class="dir">
	    <f:link.action action="erstattung">Ausbildungsr&uuml;ckerstattung</f:link.action>
	</li>
    <li class="dir">
    	<a href="#" class="active">NB-Seminar anlegen</a>
	</li>
</f:if>
-->
</ul>