<f:if condition="{view} != 'erstattung'">
  <f:then>
    	<thead>
        	<tr>
            	<th>UID</th>
            	<th>Reise-Nr.</th>
            	<th>Pers.-Nr.</th>
            	<th>Mitarbeiter</th>
                <th>Datum</th>
                <th>Grund</th>
                <th>Ziel</th>
                <th>Klienten-Nr.</th>
                <th>Projekt-Nr.</th>
                <th>Status</th>
<f:if condition="{view} == 'abrechnen'">
                <th title="Buchhaltung">BH <input type="checkbox" id="selectAllBH"></th>
                <th title="Lohnverrechnung">LV <input type="checkbox" id="selectAllLV"></th>
                <th title="Weiterverrechnung">WV</th>
</f:if>
                <th>Steuerfrei</th>
                <th>Steuerpflichtig</th>
                <th>Gesamt MA</th>
                <th>Gesamt WV</th>
                <th></th>
            </tr>
        </thead>
  </f:then>
  <f:else>
    	<thead>
        	<tr>
            	<th>UID</th>
            	<th>Reise-Nr.</th>
            	<th>Pers.-Nr.</th>
            	<th>Mitarbeiter</th>
                <th>Art</th>
                <th>Datum</th>
                <th>Grund</th>
                <th>Kosten GESAMT</th>
                <th>Kosten SEMINAR</th>
                <th>Kosten REISE</th>
                <th>Aliquoter Anteil</th>
                <th></th>
            </tr>
        </thead>
  </f:else>
</f:if>