<div class="tx-address-countries">
  <table border="0" cellspacing="0" cellpadding="0" class="result">
    <thead>
      <tr>
        <th>
          <f:if condition="{L}==1">
        	<f:then>country:</f:then>
            <f:else>Land:</f:else>
          </f:if>
        </th>
        <td>
          <f:if condition="{L}==1">
        	<f:then>country expert:</f:then>
            <f:else>Länderexperte:</f:else>
          </f:if>
        </td>
      </tr>
    </thead>
    <tbody>
      <f:for each="{list}" as="listItem" iteration="itemIteration">
        <tr<f:if condition="{itemIteration.isEven}"> class="even"</f:if>>
          <th>{listItem.country}</th>
          <td>
			<f:link.action pageUid="{settings.contactsPage}" arguments="{address: '{listItem.uid}'}" action="{settings.person.detail.action}" controller="{settings.person.detail.controller}" extensionName="{settings.person.detail.extensionName}" pluginName="{settings.person.detail.pluginName}">
              	{listItem.name}
            </f:link.action>
          </td>
        </tr>
      </f:for>
    </tbody>
  </table>
</div>
