<div class="tx-address-map">
  <div class="map-selector">
    <div class="map-selector-header">
      <f:if condition="{settings.countrylistHeader}">
        <f:then>{settings.countrylistHeader}</f:then>
        <f:else>Länder in welchen wir für Sie tätig sind:</f:else>
      </f:if>
    </div>
    <div class="countryArrow">Liste zeigen</div>
    <div class="map-selector-list">
      <div class="map-col col1"></div>
      <div class="map-col col2"></div>
      <div class="map-col col3"></div>
    </div>
  </div>
  <div class="map-table">
    <div class="map-row">
      <div class="mapMap">
        <div id="{map.title}" class="gme-map"> </div>
      </div>
      <div class="mapDetails">
        <div class="mapDetailsHeader">{settings.mapInfoHeader}</div>
        <div class="mapDetailInfo">
          <f:format.raw><f:format.nl2br>{settings.mapInfoText}</f:format.nl2br></f:format.raw>
        </div>
        <div class="mapDetailsAddresses"></div>
      </div>
    </div>
  </div>

  <f:render partial="Map/Assign" arguments="{request:request, map:map, settings:settings, addresses:list, details:details, settings:settings, lang:lang}" />
    
</div>
