<div class="tx-infobar-icon">

<f:if condition="{addresses}">
  <f:then>
    <div class="addressTeasers">
	<f:for each="{addresses}" as="addressItem" iteration="addressesIteration">
      <f:if condition="{addressesIteration.isOdd}">
      <div class="row">
      </f:if>
    	<div class="addressTeaser<f:if condition="{addressesIteration.isEven}"> right</f:if>">
    	<f:if condition="{addressItem.page}">
        	<f:then>
            	<f:link.page pageUid="{addressItem.page}">
                	<f:image src="uploads/pics/{addressItem.image}" alt="<f:if condition='{addressItem.title}'>{addressItem.title} </f:if>{addressItem.firstname} {addressItem.lastname}" width="86c" height="111c"/>
                <f:if condition="{addressItem.title}">{addressItem.title} </f:if>{addressItem.firstname} {addressItem.lastname}
                </f:link.page>
            </f:then>
        	<f:else>
                <f:image src="uploads/pics/{addressItem.image}" alt="<f:if condition='{addressItem.title}'>{addressItem.title} </f:if>{addressItem.firstname} {addressItem.lastname}"/>
                <f:if condition="{addressItem.title}">{addressItem.title} </f:if> {addressItem.firstname} {addressItem.lastname}
            </f:else>
        </f:if>
        </div>
        
  <f:if condition="{addressesIteration.isLast}">
    <f:then>
      </div>
    </f:then>
    <f:else>
      <f:if condition="{addressesIteration.isEven}">
      </div>
      </f:if>
    </f:else>
  </f:if>
    </f:for>
      <div class="clear"> </div>
    </div>
  </f:then>
</f:if>
    
<br />
		<div class="newsTeaser">
	    <h1>News / Publikationen</h1>
    	<p>UKRAINE | Neue Vorschriften für Verrechnungspreise</p>
		<p align="right"><a title="UKRAINE | Neue Vorschriften für Verrechnungspreise" target="_blank" href="http://www.icon.at/index_html?sc=140945363&amp;xo=2094#news2094">... mehr Informationen.</a></p>
        </div>
		<div class="newsTeaser">
	    <h1>News / Publikationen</h1>
    	<p>UKRAINE | Neue Vorschriften für Verrechnungspreise</p>
		<p align="right"><a title="UKRAINE | Neue Vorschriften für Verrechnungspreise" target="_blank" href="http://www.icon.at/index_html?sc=140945363&amp;xo=2094#news2094">... mehr Informationen.</a></p>
        </div>


	<f:for each="{news}" as="newsItem" iteration="newsIteration">
		<div class="newsTeaser">
	    <h1>News / Publikationen</h1>
    	<p>UKRAINE | Neue Vorschriften für Verrechnungspreise</p>
		<p align="right"><a title="UKRAINE | Neue Vorschriften für Verrechnungspreise" target="_blank" href="http://www.icon.at/index_html?sc=140945363&amp;xo=2094#news2094">... mehr Informationen.</a></p>
        </div>
    </f:for>

	<f:for each="{seminars}" as="seminarItem" iteration="seminarsIteration">
		<div class="newsTeaser">
	    <h1>News / Publikationen</h1>
    	<p>UKRAINE | Neue Vorschriften für Verrechnungspreise</p>
		<p align="right"><a title="UKRAINE | Neue Vorschriften für Verrechnungspreise" target="_blank" href="http://www.icon.at/index_html?sc=140945363&amp;xo=2094#news2094">... mehr Informationen.</a></p>
        </div>
    </f:for>

	<f:for each="{workshops}" as="workshopItem" iteration="workshopsIteration">
		<div class="newsTeaser">
	    <h1>News / Publikationen</h1>
    	<p>UKRAINE | Neue Vorschriften für Verrechnungspreise</p>
		<p align="right"><a title="UKRAINE | Neue Vorschriften für Verrechnungspreise" target="_blank" href="http://www.icon.at/index_html?sc=140945363&amp;xo=2094#news2094">... mehr Informationen.</a></p>
        </div>
    </f:for>
  
</div>
