<ul id="nav" class="dropdown dropdown-horizontal">
	<li class="dir"><f:link.action action="index">Meine Reiseabrechnungen</f:link.action></li>
    <li class="dir last"><f:link.action action="edit">Neue Reiseabrechnung anlegen </f:link.action></li>
</ul>
