{namespace yag=Tx_Yag_ViewHelpers}



<yag:Javascript.Template templatePath="EXT:yag/Resources/Private/JSTemplates/FlexForm/SelectGallery.js" arguments="{elementId : PA.elementID}" />



<div class="itemSelectorBox">

	<f:render partial="Backend/Flexform/FlexFormGalleryList.html" arguments="{selectedGalleryUid: PA.itemFormElValue, listId: 'galleryGallerySelector', galleries : galleries}" />

</div>



<div style="clear:both"></div>



<f:form.hidden name="{PA.itemFormElName}" value="{PA.itemFormElValue}" id="{PA.elementID}" />