<div class="tx-yag-item-meta">

	<div class="tx-yag-item-meta-left">

		<dl>

			<dt><f:translate key="tx_yag_domain_model_item.title" default="Title" />:</dt>

			<dd>{mainItem.title}</dd>

			<dt><f:translate key="tx_yag_domain_model_item.description" default="Description" />:</dt>

			<dd>{mainItem.description}</dd>

			<dt><f:translate key="tx_yag_domain_model_itemmeta.artist" default="Artist" />:</dt>

			<dd>{mainItem.itemMeta.artist}</dd>

			<dt><f:translate key="tx_yag_domain_model_itemmeta.keywords" default="Keywords" />:</dt>

			<dd>{mainItem.itemMeta.keywords}</dd>

            <dt><f:translate key="tx_yag_domain_model_itemmeta.captureDate" />:</dt>

			<dd><f:format.date format="d.m.Y. H:i">{mainItem.itemMeta.captureDate}</f:format.date></dd>

		</dl>

	</div>

	

	<div class="tx-yag-item-meta-right">

	    <dl>

			<dt><f:translate key="tx_yag_domain_model_itemmeta.camera_model" default="Camera" />:</dt>

			<dd>{mainItem.itemMeta.cameraModel}</dd>

			<dt><f:translate key="tx_yag_domain_model_itemmeta.lens" default="Lens" />:</dt>

			<dd>{mainItem.itemMeta.lens}</dd>

			<dt><f:translate key="tx_yag_domain_model_itemmeta.focal_length" default="Focal Length" />:</dt>

			<dd>{mainItem.itemMeta.focalLength} mm</dd>

			<dt><f:translate key="tx_yag_domain_model_itemmeta.iso" default="ISO" />:</dt>

			<dd>{mainItem.itemMeta.iso}</dd>

			<dt><f:translate key="tx_yag_domain_model_itemmeta.shutter_speed" default="ShutterSpeed" />:</dt>

			<dd>{mainItem.itemMeta.shutterSpeed}</dd>

			<dt><f:translate key="tx_yag_domain_model_itemmeta.aperture" default="Aperture" />:</dt>

			<dd>{mainItem.itemMeta.aperture}</dd>

			<dt><f:translate key="tx_yag_domain_model_itemmeta.flash" default="Flash" />:</dt>

			<dd>{mainItem.itemMeta.flash}</dd>

	   </dl>

   </div>

</div>    