<div class="reise-login-form">
	<f:form action="login" name="logindata" object="{logindata}" method="POST" noCacheHash="1">
      <fieldset class="block">
        <fieldset class="row">
          <fieldset class="col0">
		    <label>Login<span>*</span></label>
            <f:form.password property="login" value=""/>
          </fieldset>
          <fieldset class="col0">
            <f:form.submit value="LogIn" class="button"/>
          </fieldset>
        </fieldset>
     </fieldset>  
   </f:form>
</div>