<f:if condition="{loggedInUser}">
<div class="login-infobar">
	<div class="login-mode">userMode: {userMode}</div>
	<div class="login-status">Angemeldet als: <strong>{loggedInUser.firstname} {loggedInUser.lastname} ({loggedInUser.personnr})</strong></div>
	<div class="logout"><f:link.action action="logout">LogOut</f:link.action></div>
</div>
</f:if>