<f:if condition="{address.ausgetretten}">
  <f:then>
    <p>Diese Person ist nicht mehr in unserem Unternehmen tätig.</p>
  </f:then>
  <f:else>
<div class="mainMiddleInfobar">

  <div class="tx-address-detail">
    <h1>
      <f:if condition="{address.title}">{address.title} </f:if>
      <f:if condition="{address.firstname}">{address.firstname} </f:if>
      <f:if condition="{address.lastname}"><span class="lastname">{address.lastname}</span></f:if><f:if condition="{address.titleAfter}">, {address.titleAfter}</f:if>
	  <f:if condition="{LANG}==1">
        <f:then>
          <f:if condition="{address.hasBerufstitelFunktionEn}">
            <br><small><f:if condition="{address.myBerufstitelEn}">{address.myBerufstitelEn}<br></f:if><f:if condition="{address.myFunktionEn}">{address.myFunktionEn}</f:if></small>
          </f:if>
        </f:then>
        <f:else>
          <f:if condition="{address.hasBerufstitelFunktion}">
            <br><small><f:if condition="{address.berufstitel}">{address.berufstitel}<br></f:if><f:if condition="{address.funktion}">{address.funktion}</f:if></small>
          </f:if>
        </f:else>
	  </f:if>        
	</h1>
    
    <f:if condition="{LANG}==1">
        <f:then>
            <f:if condition="{address.descriptionEn}">
                <f:format.html>{address.myDescriptionEn}</f:format.html>
            </f:if>
        </f:then>
        <f:else><f:format.html>{address.description}</f:format.html></f:else>
    </f:if>
  </div>

</div>
<div class="mainRight">  

  <div class="tx-address-detail-contact">
  <f:if condition="{address.image}">
    <f:then>
      <div class="tx-address-image">
		<f:image src="{address.image.uid}" treatIdAsReference="TRUE" alt="{address.firstname} {address.lastname}" width="{settings.detail.image.width}" height="{settings.detail.image.height}" />
      </div>
    </f:then>
    <f:else>
      <f:if condition="{settings.general.dummyImage}">
      <div class="tx-address-image">
        <f:image src="{settings.general.dummyImage}" alt="{address.firstname} {address.lastname}" width="{settings.detail.image.width}" height="{settings.detail.image.height}"/>
      </div>
      </f:if>
    </f:else>
    </f:if>
    
    <div class="tx-address-name">
      <f:if condition="{address.title}">{address.title} </f:if>
      <f:if condition="{address.firstname}">{address.firstname} </f:if>
      <f:if condition="{address.lastname}">{address.lastname}</f:if><f:if condition="{address.titleAfter}">, {address.titleAfter}</f:if>
    </div>
    
    <div class="tx-address-data">
      <f:if condition="{address.phone}"><span class="spacerAddr">Tel:</span> {settings.general.phone} - {address.phone}<br></f:if> 
      <f:if condition="{address.fax}"><span class="spacerAddr">Fax:</span> {settings.general.fax} - {address.fax}<br></f:if> 
      <f:if condition="{address.mobile}"><span class="spacerAddr">Mobile:</span> {address.mobile}<br></f:if> 
      <f:if condition="{address.email}">
        <f:link.email email="{address.email}"><f:if condition="{LANG}==1"><f:then>write E-Mail</f:then><f:else>E-Mail schreiben</f:else></f:if></f:link.email> | 
      </f:if> 
      <f:link.external uri="/contact.vcf?team={address.uid}" defaultScheme=""><f:if condition="{LANG}==1"><f:then>download vCard</f:then><f:else>vCard speichern</f:else></f:if></f:link.external>
    </div>

<f:if condition="{showButtons}">
	<div class="tx-address-publications">
	<f:if condition="{hasBooks}">
		<f:link.page additionalParams="{tx_newsicon_pi1: {author: address.uid} }" pageUid="{settings.person.publications.books.detailUid}"><f:if condition="{LANG}==1"><f:then>Books</f:then><f:else>Bücher</f:else></f:if></f:link.page>
	</f:if>
	<f:if condition="{hasNews}">
		<f:link.page additionalParams="{tx_newsicon_pi2: {author: address.uid} }" pageUid="{settings.person.publications.news.detailUid}"><f:if condition="{LANG}==1"><f:then>News</f:then><f:else>News</f:else></f:if></f:link.page>
	</f:if>
	<f:if condition="{hasPublications}">
		<f:link.page additionalParams="{tx_newsicon_pi3: {author: address.uid} }" pageUid="{settings.person.publications.publications.detailUid}"><f:if condition="{LANG}==1"><f:then>Publications</f:then><f:else>Publikationen</f:else></f:if></f:link.page>
	</f:if>
	<f:if condition="{hasEvents}">
		<f:link.page additionalParams="{tx_iconevents_pi1: {speaker: address.uid} }" pageUid="{settings.person.events.events.detailUid}"><f:if condition="{LANG}==1"><f:then>Seminars</f:then><f:else>Seminare</f:else></f:if></f:link.page>
	</f:if>
    </div>
</f:if>
  </div>
  
</div>

</f:else>
</f:if>