<div class="tx-address-list">

  <f:if condition="{settings.overviewHeadline}"><h1>{settings.overviewHeadline}</h1></f:if>
  <f:if condition="{settings.overviewText}"><p><f:format.nl2br>{settings.overviewText}</f:format.nl2br></p><br></f:if>
    
  <p><span class="spacerAddr">Tel.:</span> {settings.general.phone}<br>
     <span class="spacerAddr">Fax:</span> {settings.general.phone}
  </p>
  <br>
  
<f:if condition="{showForm}">
  <div>
    <f:form action="index" name="searchdata" object="{searchdata}" method="POST">
      <f:if condition="{settings.filter1Groups}">
        <fieldset class="fs_filter1">
          <f:if condition="{settings.filter1Label}"><label for="filter1">{settings.filter1Label}</label></f:if>
          <f:form.select id="filter1" property="filter1" options="{group1}" prependOptionValue="" prependOptionLabel=" -- "/>
        </fieldset>
      </f:if>
      <f:if condition="{settings.filter2Groups}">
        <fieldset class="fs_filter2">
          <f:if condition="{settings.filter2Label}"><label for="filter2">{settings.filter2Label}:</label></f:if>
          <f:form.select id="filter2" property="filter2" options="{group2}" prependOptionValue="" prependOptionLabel=" -- "/>
        </fieldset>
      </f:if>
        
        <fieldset class="fs_submit">
          <f:form.submit class="submit" value="Suchen"/>
        </fieldset>
    </f:form>
	<script type="text/javascript">
    <!--
	    $('#filter1').each( function(index){
		    $(this).change(function(){ 
				$('#filter2').val('');
				$(this).closest("form").submit();
			});
    	});
	    $('#filter2').each( function(index){
		    $(this).change(function(){ 
				$('#filter1').val('');
				$(this).closest("form").submit();
			});
    	});
    -->
    </script>
  </div>
</f:if>

  <table border="0" cellspacing="0" cellpadding="0" class="result">
    <thead>
      <tr>
        <th>
          <f:if condition="{LANG}==1">
        	<f:then>Name</f:then>
            <f:else>Name</f:else>
          </f:if>
        </th>
        <td>
          <f:if condition="{LANG}==1">
        	<f:then>Job title</f:then>
            <f:else>Berufstitel</f:else>
          </f:if>
        </td>
        <td>
          <f:if condition="{LANG}==1">
        	<f:then>Function</f:then>
            <f:else>Funktion</f:else>
          </f:if>
        </td>
        <td>
          <f:if condition="{LANG}==1">
        	<f:then>Mobile</f:then>
            <f:else>Mobil</f:else>
          </f:if>
        </td>
        <td>Tel. - DW</td>
        <td>Fax - DW</td>
      </tr>
    </thead>
    <tbody>
      <f:for each="{list}" as="listItem" iteration="itemIteration">
        <tr<f:if condition="{itemIteration.isEven}"> class="even"</f:if>>
          <th>
          <f:link.action action="detail" arguments="{address: '{listItem.uid}'}"><f:if condition="{listItem.title}">{listItem.title} </f:if>{listItem.firstname} <strong>{listItem.lastname}</strong><f:if condition="{listItem.titleAfter}">, {listItem.titleAfter}</f:if></f:link.action>
          </th>
          <td>
          	<f:if condition="{LANG}==1">
           	  <f:then><f:if condition="{listItem.berufstitelshort_EN}"><f:then>{listItem.berufstitelshort_EN}</f:then><f:else>{listItem.berufstitelshort}</f:else></f:if></f:then>
              <f:else>{listItem.berufstitelshort}</f:else>
            </f:if>
          </td>
          <td>
            <f:if condition="{LANG}==1">
              <f:then><f:if condition="{listItem.funktion_EN}"><f:then>{listItem.funktion_EN}</f:then><f:else>{listItem.funktion}</f:else></f:if></f:then>
              <f:else>{listItem.funktion}</f:else>
            </f:if>
          </td>
          <td>{listItem.mobile}</td>
          <td>{listItem.phone}</td>
          <td>{listItem.fax}</td>
        </tr>
      </f:for>
    </tbody>
  </table>
</div>
