<div class="tx-address-list">
  <table border="0" cellspacing="0" cellpadding="0" class="result">
    <thead>
      <tr>
        <th>
          <f:if condition="{LANG}==1">
        	<f:then>Name</f:then>
            <f:else>Name</f:else>
          </f:if>
        </th>
        <td>
          <f:if condition="{LANG}==1">
        	<f:then>Job title</f:then>
            <f:else>Berufstitel</f:else>
          </f:if>
        </td>
        <td>
          <f:if condition="{LANG}==1">
        	<f:then>Function</f:then>
            <f:else>Funktion</f:else>
          </f:if>
        </td>
        <td>
          <f:if condition="{LANG}==1">
        	<f:then>Mobile</f:then>
            <f:else>Mobil</f:else>
          </f:if>
        </td>
        <td>Tel. - DW</td>
        <td>Fax - DW</td>
      </tr>
    </thead>
    <tbody>
      <f:for each="{list}" as="listItem" iteration="itemIteration">
        <tr<f:if condition="{itemIteration.isEven}"> class="even"</f:if>>
          <th>
            <f:if condition="{listItem.page}">
              <f:then>
                <f:link.page pageUid="{listItem.page}">{listItem.lastname} {listItem.firstname}<f:if condition="{listItem.title}">, {listItem.title}</f:if></f:link.page>
              </f:then>
              <f:else>
              	{listItem.lastname} {listItem.firstname}<f:if condition="{listItem.title}">, {listItem.title}</f:if>
              </f:else>
            </f:if>
          </th>
          <td>
          	<f:if condition="{LANG}==1">
           	  <f:then><f:if condition="{listItem.berufstitelshort_EN}"><f:then>{listItem.berufstitelshort_EN}</f:then><f:else>{listItem.berufstitelshort}</f:else></f:if></f:then>
              <f:else>{listItem.berufstitelshort}</f:else>
            </f:if>
          </td>
          <td>
            <f:if condition="{LANG}==1">
              <f:then><f:if condition="{listItem.funktion_EN}"><f:then>{listItem.funktion_EN}</f:then><f:else>{listItem.funktion}</f:else></f:if></f:then>
              <f:else>{listItem.funktion}</f:else>
            </f:if>
          </td>
          <td>{listItem.mobile}</td>
          <td>{listItem.phone}</td>
          <td>{listItem.fax}</td>
        </tr>
      </f:for>
    </tbody>
  </table>
</div>
