<f:layout name="Default" />

<f:section name="main">
  
  <h1><f:translate key="page-title" /></h1>
   
  <f:form id="formCompany" action="saveCompany" name="formdata" object="{formdata}" method="POST" noCacheHash="1" enctype="multipart/form-data">
    <f:form.hidden property="process"/>
    <f:form.hidden property="interested"/> 
    <f:form.hidden id="form-lang" name="lang" value="{LANG}"/>

    <f:form.validationResults>
      <f:if condition="{validationResults.flattenedErrors}">
      <p class="error"><f:translate key="form-error-info" /></p>
      </f:if>
    </f:form.validationResults>

    <fieldset class="block">
      <div><f:translate key="formular-info-requireds" /></div>
      <fieldset class="row">
        <fieldset class="col0">
          <label for="comName"><f:translate key="companyname" /><span>*</span></label>
          <f:form.textfield property="comName" id="comName"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="comStreet"><f:translate key="street" /><span>*</span></label>
          <f:form.textfield property="comStreet" id="comStreet"/>
        </fieldset>
        <fieldset class="col2">
          <label for="comStreetNr"><f:translate key="streetNr" /><span>*</span></label>
          <f:form.textfield property="comStreetNr" id="comStreetNr"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="comZip"><f:translate key="zip" /><span>*</span></label>
          <f:form.textfield property="comZip" id="comZip"/>
        </fieldset>
        <fieldset class="col2">
          <label for="comCity"><f:translate key="city" /><span>*</span></label>
          <f:form.textfield property="comCity" id="comCity"/>
        </fieldset>
      </fieldset>
      <fieldset class="row fs_select-sol">
        <fieldset class="col0">
          <label for="comCountry"><f:translate key="country" /><span>*</span></label>
          <div class="js-selector">
            <f:form.select property="comCountry" id="comCountry" options="{lst_laender}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue=""/>
          </div>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col0 billaddress">
          <f:form.checkbox property="billAddr" value="1" id="switchBillAddr"/>
          <label for="switchBillAddr" class="billaddress"><f:translate key="billing-address-other" /></label>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="billAddr" class="block<f:if condition='{hideBillAddr}'> hide</f:if>">
      <div class=""><f:translate key="billing-address" /></div>
      <fieldset class="row">
        <fieldset class="col0">
          <label for="billCompanyname"><f:translate key="companyname" /><span>*</span></label>
          <f:form.textfield property="billCompanyname" id="billCompanyname"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col0">
          <label for="billCareOf"><f:translate key="careof" /><span></span></label>
          <f:form.textfield property="billCareOf" id="billCareOf"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="billStreet"><f:translate key="street" /><span>*</span></label>
          <f:form.textfield property="billStreet" id="billStreet"/>
        </fieldset>
        <fieldset class="col2">
          <label for="billStreetNr"><f:translate key="streetNr" /><span>*</span></label>
          <f:form.textfield property="billStreetNr" id="billStreetNr"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="billZip"><f:translate key="zip" /><span>*</span></label>
          <f:form.textfield property="billZip" id="billZip"/>
        </fieldset>
        <fieldset class="col2">
          <label for="billCity"><f:translate key="city" /><span>*</span></label>
          <f:form.textfield property="billCity" id="billCity"/>
        </fieldset>
      </fieldset>
      <fieldset class="row fs_select-sol">
        <fieldset class="col0">
          <label for="billCountry"><f:translate key="country" /><span>*</span></label>
          <div class="js-selector">
            <f:form.select property="billCountry" id="billCountry" options="{lst_laender}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue=""/>
          </div>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="billEmailMode" class="block">
      <div class=""><f:translate key="billing-shipping" /></div>
      <fieldset class="row">
        <fieldset class="col0 billaddress">
          <f:form.checkbox property="billEmailMode" value="1" id="switchBillEmailMode"/>
          <label for="switchBillEmailMode" class="billaddress"><f:translate key="billing-shipping-email" /></label>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="billEmail" class="block<f:if condition='{hideBillEmailMode}'> hide</f:if>">
      <div class=""><f:translate key="billing-shipping-email-header" /></div>
      <fieldset class="row">
        <fieldset class="col1 anrede">
		  <label><f:translate key="salutation" /><span></span></label>
          <f:form.radio property="billEmailGender" value="<f:translate key='gender-F' />" id="billEmailGender_F"/>
          <label for="billEmailGender_F" class="anrede"><f:translate key="gender-F" /></label>
          <f:form.radio property="billEmailGender" value="<f:translate key='gender-M' />" id="billEmailGender_M"/>
          <label for="billEmailGender_M" class="anrede"><f:translate key="gender-M" /></label>
        </fieldset>
        <fieldset class="col2 title">
          <label for="billEmailTitle"><f:translate key="title" /><span></span></label>
          <f:form.select property="billEmailTitle" id="sel-billEmailTitle" options="{lst_titel}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="billEmailFirstname"><f:translate key="firstname" /><span></span></label>
          <f:form.textfield property="billEmailFirstname" id="billEmailFirstname"/>
        </fieldset>
        <fieldset class="col2">
          <label for="billEmailLastname"><f:translate key="lastname" /><span></span></label>
          <f:form.textfield property="billEmailLastname" id="billEmailLastname"/>
        </fieldset>
        <fieldset class="col3">
          <label for="billEmailTitleAfter"><f:translate key="titleAfter" /><span></span></label>
          <f:form.select property="billEmailTitleAfter" id="sel-billEmailTitleAfter" options="{lst_titel_nach}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title-after"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="billEmailFunction"><f:translate key="position-function" /><span></span></label>
          <f:form.textfield property="billEmailFunction" id="billEmailFunction" class="hide"/>
          <f:form.select name="sel-billEmailFunction" id="sel-billEmailFunction" options="{}" class="position-function"/>
        </fieldset>
        <fieldset class="col2">
          <label for="billEmailEmail"><f:translate key="email" /><span>*</span></label>
          <f:form.textfield property="billEmailEmail" id="billEmailEmail"/>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="phone"></label>
          <div class="info-phone info-phone-top">
          	<span class="info-phoneCC"><f:translate key="phoneCC" /></span>
          	<span class="info-phoneRC"><f:translate key="phoneRC" /></span>
          	<span class="info-phoneNR"><f:translate key="phoneNR" /></span>
          	<span class="info-phoneEX"><f:translate key="phoneEX" /></span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="billEmailPhone"><f:translate key="phone" /><span></span></label>
          <f:form.textfield property="billEmailPhoneCc" id="billEmailPhoneCC" class="phoneCC" maxlength="4"/> / 
          <f:form.textfield property="billEmailPhoneRc" id="billEmailPhoneRC" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="billEmailPhoneNr" id="billEmailPhoneNR" class="phoneNR" maxlength="10"/> - 
          <f:form.textfield property="billEmailPhoneEx" id="billEmailPhoneEX" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="billEmailFax"><f:translate key="fax" /><span></span></label>
          <f:form.textfield property="billEmailFaxCc" id="billEmailFaxCC" class="phoneCC" maxlength="4"/> / 
          <f:form.textfield property="billEmailFaxRc" id="billEmailFaxRC" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="billEmailFaxNr" id="billEmailFaxNR" class="phoneNR" maxlength="10"/> - 
          <f:form.textfield property="billEmailFaxEx" id="billEmailFaxEX" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="billEmailMobile"><f:translate key="mobile" /><span></span></label>
          <f:form.textfield property="billEmailMobileCc" id="billEmailMobileCC" class="phoneCC" maxlength="4"/> / 
          <f:form.textfield property="billEmailMobileRc" id="billEmailMobileRC" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="billEmailMobileNr" id="billEmailMobileNR" class="phoneNR" maxlength="10"/> - 
          <f:form.textfield property="billEmailMobileEx" id="billEmailMobileEX" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="blockAdditional" class="block">
      <div class=""><f:translate key="additionals-infos" /></div>
      <fieldset class="row">
        <fieldset class="col0 message">
          <label for="additional" class="message"><f:translate key="additional" /><span></span></label>
          <f:form.textarea property="additional" id="additional"/>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="taxOffices" class="block taxOffices">
      <div class=""><f:translate key="tax-header" /></div>
      <fieldset class="row header">
        <fieldset class="col1">
          <label><f:translate key="tax-office" /><span></span></label>
        </fieldset>
        <fieldset class="col2">
          <label><f:translate key="tax-number" /><span></span></label>
        </fieldset>
        <fieldset class="col3">
          <label><f:translate key="tax-UID" /><span></span></label>
        </fieldset>
      </fieldset>

	  <div id="taxOffice_1">
	      <f:form.hidden property="taxOfficeUsed1" id="taxOfficeUsed1"/>
          <f:form.hidden property="taxOfficeNr1" id="taxOfficeNr1"/>
          <fieldset class="row">
            <fieldset class="col1">
              <label for="taxOffice1">1<span></span></label>
              <f:form.textfield property="taxOffice1" id="taxOffice1"/>
              <div id="taxOfficeOptions1" class="taxOffice-field-options"></div>
            </fieldset>
            <fieldset class="col2">
              <f:form.textfield property="taxId1" id="taxId1"/>
            </fieldset>
            <fieldset class="col3">
              <f:form.textfield property="taxUid1" id="taxUid1"/>
            </fieldset>
          </fieldset>
      </div>
      <div id="taxOffice_2" <f:if condition='{hideTO2}'>class="hide"</f:if>>
	      <f:form.hidden property="taxOfficeUsed2" id="taxOfficeUsed2"/>
          <f:form.hidden property="taxOfficeNr2" id="taxOfficeNr2"/>
          <fieldset class="row">
            <fieldset class="col1">
              <label for="taxOffice2">2<span></span></label>
              <f:form.textfield property="taxOffice2" id="taxOffice2"/>
              <div id="taxOfficeOptions2" class="taxOffice-field-options"></div>
            </fieldset>
            <fieldset class="col2">
              <f:form.textfield property="taxId2" id="taxId2"/>
            </fieldset>
            <fieldset class="col3">
              <f:form.textfield property="taxUid2" id="taxUid2"/>
            </fieldset>
          </fieldset>
      </div>
      <div id="taxOffice_3" <f:if condition='{hideTO3}'>class="hide"</f:if>>
	      <f:form.hidden property="taxOfficeUsed3" id="taxOfficeUsed3"/>
          <f:form.hidden property="taxOfficeNr3" id="taxOfficeNr3"/>
          <fieldset class="row">
            <fieldset class="col1">
              <label for="taxOffice3">3<span></span></label>
              <f:form.textfield property="taxOffice3" id="taxOffice3"/>
              <div id="taxOfficeOptions3" class="taxOffice-field-options"></div>
            </fieldset>
            <fieldset class="col2">
              <f:form.textfield property="taxId3" id="taxId3"/>
            </fieldset>
            <fieldset class="col3">
              <f:form.textfield property="taxUid3" id="taxUid3"/>
            </fieldset>
          </fieldset>
      </div>
      <div id="taxOffice_4" <f:if condition='{hideTO4}'>class="hide"</f:if>>
	      <f:form.hidden property="taxOfficeUsed4" id="taxOfficeUsed4"/>
          <f:form.hidden property="taxOfficeNr4" id="taxOfficeNr4"/>
          <fieldset class="row">
            <fieldset class="col1">
              <label for="taxOffice4">4<span></span></label>
              <f:form.textfield property="taxOffice4" id="taxOffice4"/>
              <div id="taxOfficeOptions4" class="taxOffice-field-options"></div>
            </fieldset>
            <fieldset class="col2">
              <f:form.textfield property="taxId4" id="taxId4"/>
            </fieldset>
            <fieldset class="col3">
              <f:form.textfield property="taxUid4" id="taxUid4"/>
            </fieldset>
          </fieldset>
      </div>
      <div id="taxOffice_5" <f:if condition='{hideTO5}'>class="hide"</f:if>>
	      <f:form.hidden property="taxOfficeUsed5" id="taxOfficeUsed5"/>
          <f:form.hidden property="taxOfficeNr5" id="taxOfficeNr5"/>
          <fieldset class="row">
            <fieldset class="col1">
              <label for="taxOffice5">5<span></span></label>
              <f:form.textfield property="taxOffice5" id="taxOffice5"/>
              <div id="taxOfficeOptions5" class="taxOffice-field-options"></div>
            </fieldset>
            <fieldset class="col2">
              <f:form.textfield property="taxId5" id="taxId5"/>
            </fieldset>
            <fieldset class="col3">
              <f:form.textfield property="taxUid5" id="taxUid5"/>
            </fieldset>
          </fieldset>
      </div>

        <div class="js-selector hide">
	        <f:form.select name="sel-taxOffices" id="sel-taxOffices" options="{lst_finanzamt}"/>
        </div>

      <fieldset class="row">
        <fieldset class="fs_addTaxOffice">
	      <f:form.button type="button" id="taxAdd" class="button"><f:translate key="tax-button-add" /></f:form.button>
	      <f:form.button type="button" id="taxDel" class="button hide"><f:translate key="tax-button-del" /></f:form.button>
        </fieldset>
      </fieldset>

    </fieldset>

    <fieldset id="blockPerson_0" class="block fs_person">
      <div class=""><f:translate key="person-block-header-0" /></div>
      <fieldset class="row">
        <fieldset class="col1 anrede">
		  <label><f:translate key="salutation" /><span>*</span></label>
          <f:form.radio property="gender0" value="<f:translate key='gender-F' />" id="gender0_F"/>
          <label for="gender0_F" class="anrede"><f:translate key="gender-F" /></label>
          <f:form.radio property="gender0" value="<f:translate key='gender-M' />" id="gender0_M"/>
          <label for="gender0_M" class="anrede"><f:translate key="gender-M" /></label>
        </fieldset>
        <fieldset class="col2 title">
          <label for="title0"><f:translate key="title" /><span></span></label>
          <f:form.select property="title0" id="sel-title0" options="{lst_titel}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="firstname0"><f:translate key="firstname" /><span>*</span></label>
          <f:form.textfield property="firstname0" id="firstname0"/>
        </fieldset>
        <fieldset class="col2">
          <label for="lastname0"><f:translate key="lastname" /><span>*</span></label>
          <f:form.textfield property="lastname0" id="lastname0"/>
        </fieldset>
        <fieldset class="col3">
          <label for="titleAfter0"><f:translate key="titleAfter" /><span></span></label>
          <f:form.select property="titleAfter0" id="sel-title-after0" options="{lst_titel_nach}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title-after"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="function0"><f:translate key="position-function" /><span>*</span></label>
          <f:form.textfield property="function0" value="CFO" id="function0" class="hide"/>
          <div class="person0_function-gff"><f:translate key="position-function-GFF" /></div>
        </fieldset>
        <fieldset class="col2">
          <label for="email0"><f:translate key="email" /><span>*</span></label>
          <f:form.textfield property="email0" id="email0"/>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="phone"></label>
          <div class="info-phone info-phone-top">
          	<span class="info-phoneCC"><f:translate key="phoneCC" /></span>
          	<span class="info-phoneRC"><f:translate key="phoneRC" /></span>
          	<span class="info-phoneNR"><f:translate key="phoneNR" /></span>
          	<span class="info-phoneEX"><f:translate key="phoneEX" /></span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="phone0"><f:translate key="phone" /><span></span></label>
          <f:form.textfield property="phoneCc0" id="phoneCC0" class="phoneCC" maxlength="4" /> / 
          <f:form.textfield property="phoneRc0" id="phoneRC0" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="phoneNr0" id="phoneNR0" class="phoneNR" maxlength="10" /> - 
          <f:form.textfield property="phoneEx0" id="phoneEX0" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="fax0"><f:translate key="fax" /><span></span></label>
          <f:form.textfield property="faxCc0" id="faxCC0" class="phoneCC" maxlength="4" /> / 
          <f:form.textfield property="faxRc0" id="faxRC0" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="faxNr0" id="faxNR0" class="phoneNR" maxlength="10" /> - 
          <f:form.textfield property="faxEx0" id="faxEX0" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="mobile0"><f:translate key="mobile" /><span></span></label>
          <f:form.textfield property="mobileCc0" id="mobileCC0" class="phoneCC" maxlength="4" /> / 
          <f:form.textfield property="mobileRc0" id="mobileRC0" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="mobileNr0" id="mobileNR0" class="phoneNR" maxlength="10" /> - 
          <f:form.textfield property="mobileEx0" id="mobileEX0" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="blockPerson_1" class="block fs_person<f:if condition='{hideP1}'> hide</f:if>">
      <div class=""><f:translate key="person-block-header-1" /></div>
      <f:form.hidden property="used1" id="used1"/>
      <fieldset class="row">
        <fieldset class="col1 anrede">
		  <label><f:translate key="salutation" /><span>*</span></label>
          <f:form.radio property="gender1" value="<f:translate key='gender-F' />" id="gender1_F"/>
          <label for="gender1_F" class="anrede"><f:translate key="gender-F" /></label>
          <f:form.radio property="gender1" value="<f:translate key='gender-M' />" id="gender1_M"/>
          <label for="gender1_M" class="anrede"><f:translate key="gender-M" /></label>
        </fieldset>
        <fieldset class="col2 title">
          <label for="title1"><f:translate key="title" /><span></span></label>
          <f:form.select property="title1" id="sel-title1" options="{lst_titel}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="firstname1"><f:translate key="firstname" /><span>*</span></label>
          <f:form.textfield property="firstname1" id="firstname1"/>
        </fieldset>
        <fieldset class="col2">
          <label for="lastname1"><f:translate key="lastname" /><span>*</span></label>
          <f:form.textfield property="lastname1" id="lastname1"/>
        </fieldset>
        <fieldset class="col3">
          <label for="titleAfter1"><f:translate key="titleAfter" /><span></span></label>
          <f:form.select property="titleAfter1" id="sel-title-after1" options="{lst_titel_nach}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title-after"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="function1"><f:translate key="position-function" /><span>*</span></label>
          <f:form.textfield property="function1" id="function1" class="hide"/>
          <f:form.select name="sel-function1" id="sel-function1" options="{}" class="position-function"/>
        </fieldset>
        <fieldset class="col2">
          <label for="email1"><f:translate key="email" /><span>*</span></label>
          <f:form.textfield property="email1" id="email1"/>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="phone"></label>
          <div class="info-phone info-phone-top">
          	<span class="info-phoneCC"><f:translate key="phoneCC" /></span>
          	<span class="info-phoneRC"><f:translate key="phoneRC" /></span>
          	<span class="info-phoneNR"><f:translate key="phoneNR" /></span>
          	<span class="info-phoneEX"><f:translate key="phoneEX" /></span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="phone1"><f:translate key="phone" /><span></span></label>
          <f:form.textfield property="phoneCc1" id="phoneCC1" class="phoneCC" maxlength="4" /> / 
          <f:form.textfield property="phoneRc1" id="phoneRC1" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="phoneNr1" id="phoneNR1" class="phoneNR" maxlength="10" /> - 
          <f:form.textfield property="phoneEx1" id="phoneEX1" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="fax1"><f:translate key="fax" /><span></span></label>
          <f:form.textfield property="faxCc1" id="faxCC1" class="phoneCC" maxlength="4" /> / 
          <f:form.textfield property="faxRc1" id="faxRC1" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="faxNr1" id="faxNR1" class="phoneNR" maxlength="10" /> - 
          <f:form.textfield property="faxEx1" id="faxEX1" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="mobile1"><f:translate key="mobile" /><span></span></label>
          <f:form.textfield property="mobileCc1" id="mobileCC1" class="phoneCC" maxlength="4" /> / 
          <f:form.textfield property="mobileRc1" id="mobileRC1" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="mobileNr1" id="mobileNR1" class="phoneNR" maxlength="10" /> - 
          <f:form.textfield property="mobileEx1" id="mobileEX1" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="blockPerson_2" class="block fs_person<f:if condition='{hideP2}'> hide</f:if>">
      <div class=""><f:translate key="person-block-header-2" /></div>
      <f:form.hidden property="used2" id="used2"/>
      <fieldset class="row">
        <fieldset class="col1 anrede">
		  <label><f:translate key="salutation" /><span>*</span></label>
          <f:form.radio property="gender2" value="<f:translate key='gender-F' />" id="gender2_F"/>
          <label for="gender2_F" class="anrede"><f:translate key="gender-F" /></label>
          <f:form.radio property="gender2" value="<f:translate key='gender-M' />" id="gender2_M"/>
          <label for="gender2_M" class="anrede"><f:translate key="gender-M" /></label>
        </fieldset>
        <fieldset class="col2 title">
          <label for="title2"><f:translate key="title" /><span></span></label>
          <f:form.select property="title2" id="sel-title2" options="{lst_titel}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="firstname2"><f:translate key="firstname" /><span>*</span></label>
          <f:form.textfield property="firstname2" id="firstname2"/>
        </fieldset>
        <fieldset class="col2">
          <label for="lastname2"><f:translate key="lastname" /><span>*</span></label>
          <f:form.textfield property="lastname2" id="lastname2"/>
        </fieldset>
        <fieldset class="col3">
          <label for="titleAfter2"><f:translate key="titleAfter" /><span></span></label>
          <f:form.select property="titleAfter2" id="sel-title-after2" options="{lst_titel_nach}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title-after"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="function2"><f:translate key="position-function" /><span>*</span></label>
          <f:form.textfield property="function2" id="function2" class="hide"/>
          <f:form.select name="sel-function2" id="sel-function2" options="{}" class="position-function"/>
        </fieldset>
        <fieldset class="col2">
          <label for="email2"><f:translate key="email" /><span>*</span></label>
          <f:form.textfield property="email2" id="email2"/>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="phone"></label>
          <div class="info-phone info-phone-top">
          	<span class="info-phoneCC"><f:translate key="phoneCC" /></span>
          	<span class="info-phoneRC"><f:translate key="phoneRC" /></span>
          	<span class="info-phoneNR"><f:translate key="phoneNR" /></span>
          	<span class="info-phoneEX"><f:translate key="phoneEX" /></span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="phone2"><f:translate key="phone" /><span></span></label>
          <f:form.textfield property="phoneCc2" id="phoneCC2" class="phoneCC" maxlength="4" /> / 
          <f:form.textfield property="phoneRc2" id="phoneRC2" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="phoneNr2" id="phoneNR2" class="phoneNR" maxlength="10" /> - 
          <f:form.textfield property="phoneEx2" id="phoneEX2" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="fax2"><f:translate key="fax" /><span></span></label>
          <f:form.textfield property="faxCc2" id="faxCC2" class="phoneCC" maxlength="4" /> / 
          <f:form.textfield property="faxRc2" id="faxRC2" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="faxNr2" id="faxNR2" class="phoneNR" maxlength="10" /> - 
          <f:form.textfield property="faxEx2" id="faxEX2" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="mobile2"><f:translate key="mobile" /><span></span></label>
          <f:form.textfield property="mobileCc2" id="mobileCC2" class="phoneCC" maxlength="4" /> / 
          <f:form.textfield property="mobileRc2" id="mobileRC2" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="mobileNr2" id="mobileNR2" class="phoneNR" maxlength="10" /> - 
          <f:form.textfield property="mobileEx2" id="mobileEX2" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="blockPerson_3" class="block fs_person<f:if condition='{hideP3}'> hide</f:if>">
      <div class=""><f:translate key="person-block-header-3" /></div>
      <f:form.hidden property="used3" id="used3"/>
      <fieldset class="row">
        <fieldset class="col1 anrede">
		  <label><f:translate key="salutation" /><span>*</span></label>
          <f:form.radio property="gender3" value="<f:translate key='gender-F' />" id="gender3_F"/>
          <label for="gender3_F" class="anrede"><f:translate key="gender-F" /></label>
          <f:form.radio property="gender3" value="<f:translate key='gender-M' />" id="gender3_M"/>
          <label for="gender3_M" class="anrede"><f:translate key="gender-M" /></label>
        </fieldset>
        <fieldset class="col2 title">
          <label for="title3"><f:translate key="title" /><span></span></label>
          <f:form.select property="title3" id="sel-title3" options="{lst_titel}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="firstname3"><f:translate key="firstname" /><span>*</span></label>
          <f:form.textfield property="firstname3" id="firstname3"/>
        </fieldset>
        <fieldset class="col2">
          <label for="lastname3"><f:translate key="lastname" /><span>*</span></label>
          <f:form.textfield property="lastname3" id="lastname3"/>
        </fieldset>
        <fieldset class="col3">
          <label for="titleAfter3"><f:translate key="titleAfter" /><span></span></label>
          <f:form.select property="titleAfter3" id="sel-title-after3" options="{lst_titel_nach}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title-after"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="function3"><f:translate key="position-function" /><span>*</span></label>
          <f:form.textfield property="function3" id="function3" class="hide"/>
          <f:form.select name="sel-function3" id="sel-function3" options="{}" class="position-function"/>
        </fieldset>
        <fieldset class="col2">
          <label for="email3"><f:translate key="email" /><span>*</span></label>
          <f:form.textfield property="email3" id="email3"/>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="phone"></label>
          <div class="info-phone info-phone-top">
          	<span class="info-phoneCC"><f:translate key="phoneCC" /></span>
          	<span class="info-phoneRC"><f:translate key="phoneRC" /></span>
          	<span class="info-phoneNR"><f:translate key="phoneNR" /></span>
          	<span class="info-phoneEX"><f:translate key="phoneEX" /></span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="phone3"><f:translate key="phone" /><span></span></label>
          <f:form.textfield property="phoneCc3" id="phoneCC3" class="phoneCC" maxlength="4" /> / 
          <f:form.textfield property="phoneRc3" id="phoneRC3" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="phoneNr3" id="phoneNR3" class="phoneNR" maxlength="10" /> - 
          <f:form.textfield property="phoneEx3" id="phoneEX3" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="fax3"><f:translate key="fax" /><span></span></label>
          <f:form.textfield property="faxCc3" id="faxCC3" class="phoneCC" maxlength="4" /> / 
          <f:form.textfield property="faxRc3" id="faxRC3" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="faxNr3" id="faxNR3" class="phoneNR" maxlength="10" /> - 
          <f:form.textfield property="faxEx3" id="faxEX3" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="mobile3"><f:translate key="mobile" /><span></span></label>
          <f:form.textfield property="mobileCc3" id="mobileCC3" class="phoneCC" maxlength="4" /> / 
          <f:form.textfield property="mobileRc3" id="mobileRC3" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="mobileNr3" id="mobileNR3" class="phoneNR" maxlength="10" /> - 
          <f:form.textfield property="mobileEx3" id="mobileEX3" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="blockPerson_4" class="block fs_person<f:if condition='{hideP4}'> hide</f:if>">
      <div class=""><f:translate key="person-block-header-4" /></div>
      <f:form.hidden property="used4" id="used4"/>
      <fieldset class="row">
        <fieldset class="col1 anrede">
		  <label><f:translate key="salutation" /><span>*</span></label>
          <f:form.radio property="gender4" value="<f:translate key='gender-F' />" id="gender4_F"/>
          <label for="gender4_F" class="anrede"><f:translate key="gender-F" /></label>
          <f:form.radio property="gender4" value="<f:translate key='gender-M' />" id="gender4_M"/>
          <label for="gender4_M" class="anrede"><f:translate key="gender-M" /></label>
        </fieldset>
        <fieldset class="col2 title">
          <label for="title4"><f:translate key="title" /><span></span></label>
          <f:form.select property="title4" id="sel-title4" options="{lst_titel}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="firstname4"><f:translate key="firstname" /><span>*</span></label>
          <f:form.textfield property="firstname4" id="firstname4"/>
        </fieldset>
        <fieldset class="col2">
          <label for="lastname4"><f:translate key="lastname" /><span>*</span></label>
          <f:form.textfield property="lastname4" id="lastname4"/>
        </fieldset>
        <fieldset class="col3">
          <label for="titleAfter4"><f:translate key="titleAfter" /><span></span></label>
          <f:form.select property="titleAfter4" id="sel-title-after4" options="{lst_titel_nach}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title-after"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="function4"><f:translate key="position-function" /><span>*</span></label>
          <f:form.textfield property="function4" id="function4" class="hide"/>
          <f:form.select name="sel-function4" id="sel-function4" options="{}" class="position-function"/>
        </fieldset>
        <fieldset class="col2">
          <label for="email4"><f:translate key="email" /><span>*</span></label>
          <f:form.textfield property="email4" id="email4"/>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="phone"></label>
          <div class="info-phone info-phone-top">
          	<span class="info-phoneCC"><f:translate key="phoneCC" /></span>
          	<span class="info-phoneRC"><f:translate key="phoneRC" /></span>
          	<span class="info-phoneNR"><f:translate key="phoneNR" /></span>
          	<span class="info-phoneEX"><f:translate key="phoneEX" /></span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="phone4"><f:translate key="phone" /><span></span></label>
          <f:form.textfield property="phoneCc4" id="phoneCC4" class="phoneCC" maxlength="4" /> / 
          <f:form.textfield property="phoneRc4" id="phoneRC4" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="phoneNr4" id="phoneNR4" class="phoneNR" maxlength="10" /> - 
          <f:form.textfield property="phoneEx4" id="phoneEX4" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="fax4"><f:translate key="fax" /><span></span></label>
          <f:form.textfield property="faxCc4" id="faxCC4" class="phoneCC" maxlength="4" /> / 
          <f:form.textfield property="faxRc4" id="faxRC4" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="faxNr4" id="faxNR4" class="phoneNR" maxlength="10" /> - 
          <f:form.textfield property="faxEx4" id="faxEX4" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="mobile4"><f:translate key="mobile" /><span></span></label>
          <f:form.textfield property="mobileCc4" id="mobileCC4" class="phoneCC" maxlength="4" /> / 
          <f:form.textfield property="mobileRc4" id="mobileRC4" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="mobileNr4" id="mobileNR4" class="phoneNR" maxlength="10" /> - 
          <f:form.textfield property="mobileEx4" id="mobileEX4" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="blockPerson_5" class="block fs_person<f:if condition='{hideP5}'> hide</f:if>">
      <div class=""><f:translate key="person-block-header-5" /></div>
      <f:form.hidden property="used5" id="used5"/>
      <fieldset class="row">
        <fieldset class="col1 anrede">
		  <label><f:translate key="salutation" /><span>*</span></label>
          <f:form.radio property="gender5" value="<f:translate key='gender-F' />" id="gender5_F"/>
          <label for="gender5_F" class="anrede"><f:translate key="gender-F" /></label>
          <f:form.radio property="gender5" value="<f:translate key='gender-M' />" id="gender5_M"/>
          <label for="gender5_M" class="anrede"><f:translate key="gender-M" /></label>
        </fieldset>
        <fieldset class="col2 title">
          <label for="title5"><f:translate key="title" /><span></span></label>
          <f:form.select property="title5" id="sel-title5" options="{lst_titel}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="firstname5"><f:translate key="firstname" /><span>*</span></label>
          <f:form.textfield property="firstname5" id="firstname5"/>
        </fieldset>
        <fieldset class="col2">
          <label for="lastname5"><f:translate key="lastname" /><span>*</span></label>
          <f:form.textfield property="lastname5" id="lastname5"/>
        </fieldset>
        <fieldset class="col3">
          <label for="titleAfter5"><f:translate key="titleAfter" /><span></span></label>
          <f:form.select property="titleAfter5" id="sel-title-after5" options="{lst_titel_nach}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title-after"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="function5"><f:translate key="position-function" /><span>*</span></label>
          <f:form.textfield property="function5" id="function5" class="hide"/>
          <f:form.select name="sel-function5" id="sel-function5" options="{}" class="position-function"/>
        </fieldset>
        <fieldset class="col2">
          <label for="email5"><f:translate key="email" /><span>*</span></label>
          <f:form.textfield property="email5" id="email5"/>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="phone"></label>
          <div class="info-phone info-phone-top">
          	<span class="info-phoneCC"><f:translate key="phoneCC" /></span>
          	<span class="info-phoneRC"><f:translate key="phoneRC" /></span>
          	<span class="info-phoneNR"><f:translate key="phoneNR" /></span>
          	<span class="info-phoneEX"><f:translate key="phoneEX" /></span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="phone5"><f:translate key="phone" /><span></span></label>
          <f:form.textfield property="phoneCc5" id="phoneCC5" class="phoneCC" maxlength="4" /> / 
          <f:form.textfield property="phoneRc5" id="phoneRC5" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="phoneNr5" id="phoneNR5" class="phoneNR" maxlength="10" /> - 
          <f:form.textfield property="phoneEx5" id="phoneEX5" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="fax5"><f:translate key="fax" /><span></span></label>
          <f:form.textfield property="faxCc5" id="faxCC5" class="phoneCC" maxlength="4" /> / 
          <f:form.textfield property="faxRc5" id="faxRC5" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="faxNr5" id="faxNR5" class="phoneNR" maxlength="10" /> - 
          <f:form.textfield property="faxEx5" id="faxEX5" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="mobile5"><f:translate key="mobile" /><span></span></label>
          <f:form.textfield property="mobileCc5" id="mobileCC5" class="phoneCC" maxlength="4" /> / 
          <f:form.textfield property="mobileRc5" id="mobileRC5" class="phoneRC" maxlength="5" /> / 
          <f:form.textfield property="mobileNr5" id="mobileNR5" class="phoneNR" maxlength="10" /> - 
          <f:form.textfield property="mobileEx5" id="mobileEX5" class="phoneEX" maxlength="10" />
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
    </fieldset>
<!--
-->
    <fieldset class="block add">
      <fieldset class="row">
        <fieldset class="fs_addPerson">
	      <f:form.button type="button" id="personAdd" class="button"><f:translate key="person-button-add" /></f:form.button>
	      <f:form.button type="button" id="personDel" class="button hide"><f:translate key="person-button-del" /></f:form.button>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="attachments" class="block">
      <div class=""><f:translate key="files-header" /></div>
      <fieldset class="row">
        <fieldset class="col0">
          <label for="file1" class="billaddress"><f:translate key="files-file1" /></label>
		  <f:form.upload name="file1" id="file1" />
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col0">
          <label for="file2" class="billaddress"><f:translate key="files-file2" /></label>
		  <f:form.upload name="file2" id="file2" />
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col0">
          <label for="file3" class="billaddress"><f:translate key="files-file3" /></label>
		  <f:form.upload name="file3" id="file3" />
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col0">
          <label for="file4" class="billaddress"><f:translate key="files-file4" /></label>
		  <f:form.upload name="file4" id="file4" />
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col0">
          <label for="file5" class="billaddress"><f:translate key="files-file5" /></label>
		  <f:form.upload name="file5" id="file5" />
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="ATTENTIVELY" class="block">
      <div class=""><f:format.raw><f:translate key="attentively-header" /></f:format.raw></div>
      <fieldset class="row">
        <fieldset class="col0">
          <f:form.checkbox property="attentivelyWebsite" value="1" id="attentivelyWebsite"/>
          <label for="attentivelyWebsite" class="billaddress"><f:translate key="attentively-website" /></label>
        </fieldset>
        <fieldset class="col0">
          <f:form.checkbox property="attentivelyTaxAcademy" value="1" id="attentivelyTaxAcademy"/>
          <label for="attentivelyTaxAcademy" class="billaddress"><f:translate key="attentively-tax-academy" /></label>
        </fieldset>
        <fieldset class="col0">
          <f:form.checkbox property="attentivelyInserat" value="1" id="attentivelyInserat"/>
          <label for="attentivelyInserat" class="billaddress"><f:translate key="attentively-ad" /></label>
        </fieldset>
        <fieldset class="col0">
          <f:form.checkbox property="attentivelyEmpfehlung" value="1" id="attentivelyEmpfehlung"/>
          <label for="attentivelyEmpfehlung" class="billaddress"><f:translate key="attentively-recommendation" /></label>
          <f:form.textfield property="attentivelyEmpfehlungInfo"/>
        </fieldset>
        <fieldset class="col0">
          <f:form.checkbox property="attentivelySearchengine" value="1" id="attentivelySearchengine"/>
          <label for="attentivelySearchengine" class="billaddress"><f:translate key="attentively-searchengine" /></label>
        </fieldset>
        <fieldset class="col0">
          <f:form.checkbox property="attentivelySonstiges" value="1" id="attentivelySonstiges"/>
          <label for="attentivelySonstiges" class="billaddress"><f:translate key="attentively-others" /></label>
          <f:form.textfield property="attentivelySonstigesInfo"/>
        </fieldset>
      </fieldset>
    </fieldset>
    
    <fieldset class="block last">
      <div>&nbsp;</div>
      <fieldset class="row">
        <fieldset class="fs_submit">
	      <f:form.submit value="<f:translate key='form-button-submit' />" class="button"/>
        </fieldset>
      </fieldset>
    </fieldset>

  </f:form>

	<link rel="stylesheet" href="/typo3conf/ext/icon_neuklientenanlage/Resources/Public/js/sol/sol.css">
    <script type="text/javascript" src="/typo3conf/ext/icon_neuklientenanlage/Resources/Public/js/sol/sol.js"></script>
	<script type="text/javascript">
		var sel_values_position = '<f:format.raw>{pf_data}</f:format.raw>';
	</script>
  <script src="/typo3conf/ext/icon_neuklientenanlage/Resources/Public/js/form.js" type="text/javascript"></script>

</f:section>