<f:layout name="Default" />

<f:section name="main">
  
  <h1><f:translate key="page-title" /></h1>
  
  <p><strong><f:translate key="form-result-done-header" /></strong></p>
  <p><f:format.raw><f:translate key="form-result-done-info" /></f:format.raw></p>

<f:if condition="{test}">
	<br />
	<br />
	<br />
    <p>Der nachfolgende Block kommt weg - ist rein für testzwecke!!!</p>
    <br />
	<strong>RESPONSE DATA:</strong><br />
    ---<br />
    {resp_data}<br>
    ---<br />
    <br/>
    <strong>error_ID:</strong> {error_ID}<br />
    <strong>error_info:</strong>
    <pre>{error_info}</pre>
    <strong>message:</strong>
    {message}
    <br />
</f:if>

</f:section>