<f:layout name="Default" />

<f:section name="main">
  
  <h1>FEHLER - AUFRUF NICHT KORREKT</h1>

<f:if condition="{test}">
	<br />
	<br />
    <strong>Aufruf</strong>
    <pre>
    LANG:       {LANG}
    FORM:       {aufruf.form}
    PROCESS:    {aufruf.process}
    INTERESTED: {aufruf.interested}
    ERROR:      {error}
    ARGS:       {args}
    RESP:       
    {res}
    </pre>
</f:if>
  
</f:section>