<f:layout name="Default" />

<f:section name="main">
  
  <h1><f:translate key="page-title" /></h1>
   
  <f:form id="formPrivate" action="savePrivate" name="formdata" object="{formdata}" method="POST" noCacheHash="1" enctype="multipart/form-data">
    <f:form.hidden property="process"/>
    <f:form.hidden property="interested"/> 
    <f:form.hidden id="form-lang" name="lang" value="{LANG}"/>

    <f:form.validationResults>
      <f:if condition="{validationResults.flattenedErrors}">
      <p class="error"><f:translate key="form-error-info" /></p>
      </f:if>
    </f:form.validationResults>

    <fieldset class="block">
      <div><f:translate key="formular-info-requireds" /></div>
      <fieldset class="row">
        <fieldset class="col1 anrede">
		  <label><f:translate key="salutation" /><span>*</span></label>
          <f:form.radio property="gender" value="<f:translate key='gender-F' />" id="anrede_frau"/>
          <label for="anrede_frau" class="anrede"><f:translate key='gender-F' /></label>
          <f:form.radio property="gender" value="<f:translate key='gender-M' />" id="anrede_herr"/>
          <label for="anrede_herr" class="anrede"><f:translate key='gender-M' /></label>
        </fieldset>
        <fieldset class="col2 title">
          <label for="title"><f:translate key="title" /><span></span></label>
          <f:form.select property="title" id="sel-title" options="{lst_titel}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="firstname"><f:translate key="firstname" /><span>*</span></label>
          <f:form.textfield property="firstname" id="firstname"/>
        </fieldset>
        <fieldset class="col2">
          <label for="lastname"><f:translate key="lastname" /><span>*</span></label>
          <f:form.textfield property="lastname" id="lastname"/>
        </fieldset>
        <fieldset class="col3">
          <label for="titleAfter"><f:translate key="titleAfter" /><span></span></label>
          <f:form.select property="titleAfter" id="sel-title-after" options="{lst_titel_nach}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title-after"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="function"><f:translate key="position-function" /><span></span></label>
          <f:form.textfield property="function" id="function" class="hide"/>
          <f:form.select name="sel-function" id="sel-function" options="{}" class="position-function"/>
        </fieldset>
        <fieldset class="col2">
          <label for="email"><f:translate key="email" /><span>*</span></label>
          <f:form.textfield property="email" id="email"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="street"><f:translate key="street" /><span>*</span></label>
          <f:form.textfield property="street" id="street"/>
        </fieldset>
        <fieldset class="col2">
          <label for="streetNr"><f:translate key="streetNr" /><span>*</span></label>
          <f:form.textfield property="streetNr" id="streetNr"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="zip"><f:translate key="zip" /><span>*</span></label>
          <f:form.textfield property="zip" id="zip"/>
        </fieldset>
        <fieldset class="col2">
          <label for="city"><f:translate key="city" /><span>*</span></label>
          <f:form.textfield property="city" id="city"/>
        </fieldset>
      </fieldset>
      <fieldset class="row fs_select-sol">
        <fieldset class="col0">
          <label for="country"><f:translate key="country" /><span>*</span></label>
          <div class="js-selector">
            <f:form.select property="country" id="country" options="{lst_laender}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue=""/>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="phone"></label>
          <div class="info-phone  info-phone-top">
          	<span class="info-phoneCC"><f:translate key="phoneCC" /></span>
          	<span class="info-phoneRC"><f:translate key="phoneRC" /></span>
          	<span class="info-phoneNR"><f:translate key="phoneNR" /></span>
          	<span class="info-phoneEX"><f:translate key="phoneEX" /></span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="phone"><f:translate key="phone" /><span></span></label>
          <f:form.textfield property="phoneCc" id="phoneCC" class="phoneCC" maxlength="4"/> / 
          <f:form.textfield property="phoneRc" id="phoneRC" class="phoneRC" maxlength="5"/> / 
          <f:form.textfield property="phoneNr" id="phoneNR" class="phoneNR" maxlength="10"/> - 
          <f:form.textfield property="phoneEx" id="phoneEX" class="phoneEX" maxlength="10"/>
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="fax"><f:translate key="fax" /><span></span></label>
          <f:form.textfield property="faxCc" id="faxCC" class="phoneCC" maxlength="4"/> / 
          <f:form.textfield property="faxRc" id="faxRC" class="phoneRC" maxlength="5"/> / 
          <f:form.textfield property="faxNr" id="faxNR" class="phoneNR" maxlength="10"/> - 
          <f:form.textfield property="faxEx" id="faxEX" class="phoneEX" maxlength="10"/>
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col0">
          <label for="mobile"><f:translate key="mobile" /><span></span></label>
          <f:form.textfield property="mobileCc" id="mobileCC" class="phoneCC" maxlength="4"/> / 
          <f:form.textfield property="mobileRc" id="mobileRC" class="phoneRC" maxlength="5"/> / 
          <f:form.textfield property="mobileNr" id="mobileNR" class="phoneNR" maxlength="10"/> - 
          <f:form.textfield property="mobileEx" id="mobileEX" class="phoneEX" maxlength="10"/>
          <div class="info-phone">
          	<span class="info-phoneCC">+43</span>
          	<span class="info-phoneRC">732</span>
          	<span class="info-phoneNR">69412</span>
          	<span class="info-phoneEX">0</span>
          </div>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset class="block">
      <div class=""><f:translate key="billing-shipping" /></div>
      <fieldset class="row">
        <fieldset class="col0 billaddress">
          <f:form.checkbox property="billMode" value="1" id="billMode"/>
          <label for="billMode" class="billaddress"><f:translate key="billing-shipping-email" /></label>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="blockAdditional" class="block">
      <div class=""><f:translate key="additionals-infos" /></div>
      <fieldset class="row">
        <fieldset class="col0 message">
          <label for="additional" class="message"><f:translate key="additional" /><span></span></label>
          <f:form.textarea property="additional" id="additional"/>
        </fieldset>
      </fieldset>
    </fieldset>


    <fieldset id="taxOffices" class="block taxOffices">
      <div class=""><f:translate key="tax-header" /></div>
      <fieldset class="row header">
        <fieldset class="col1">
          <label><f:translate key="tax-office" /><span></span></label>
        </fieldset>
        <fieldset class="col2">
          <label><f:translate key="tax-number" /><span></span></label>
        </fieldset>
        <fieldset class="col3">
          <label><f:translate key="tax-UID" /><span></span></label>
        </fieldset>
      </fieldset>

	  <div id="taxOffice_1">

      <fieldset class="row">
          <f:form.hidden property="taxOfficeUsed1" id="taxOfficeUsed1"/>
          <f:form.hidden property="taxOfficeNr1" id="taxOfficeNr1"/>
        <fieldset class="col1">
          <label for="taxOffice1"><span></span></label>
          <f:form.textfield property="taxOffice1" id="taxOffice1"/>
          <div id="taxOfficeOptions1" class="taxOffice-field-options"></div>
        </fieldset>
        <fieldset class="col2">
          <f:form.textfield property="taxId1" id="taxId1"/>
        </fieldset>
        <fieldset class="col3">
          <f:form.textfield property="taxUid1" id="taxUid1"/>
        </fieldset>
      </fieldset>
      </div>

        <div class="js-selector hide">
	        <f:form.select name="sel-taxOffices" id="sel-taxOffices" options="{lst_finanzamt}"/>
        </div>

    </fieldset>

    <fieldset id="attachments" class="block">
      <div class=""><f:translate key="files-header" /></div>
      <f:form.hidden property="uploads" />
      <fieldset class="row">
        <fieldset class="col0">
          <label for="file1" class="billaddress"><f:translate key="files-file1" /></label>
		  <f:form.upload name="file1" id="file1" />
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col0">
          <label for="file2" class="billaddress"><f:translate key="files-file2" /></label>
		  <f:form.upload name="file2" id="file2" />
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col0">
          <label for="file3" class="billaddress"><f:translate key="files-file3" /></label>
		  <f:form.upload name="file3" id="file3" />
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col0">
          <label for="file4" class="billaddress"><f:translate key="files-file4" /></label>
		  <f:form.upload name="file4" id="file4" />
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col0">
          <label for="file5" class="billaddress"><f:translate key="files-file5" /></label>
		  <f:form.upload name="file5" id="file5" />
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="ATTENTIVELY" class="block">
      <div class=""><f:translate key="attentively-header" /></div>
      <fieldset class="row">
        <fieldset class="col0">
          <f:form.checkbox property="attentivelyWebsite" value="1" id="attentivelyWebsite"/>
          <label for="attentivelyWebsite" class="billaddress"><f:translate key="attentively-website" /></label>
        </fieldset>
        <fieldset class="col0">
          <f:form.checkbox property="attentivelyTaxAcademy" value="1" id="attentivelyTaxAcademy"/>
          <label for="attentivelyTaxAcademy" class="billaddress"><f:translate key="attentively-tax-academy" /></label>
        </fieldset>
        <fieldset class="col0">
          <f:form.checkbox property="attentivelyInserat" value="1" id="attentivelyInserat"/>
          <label for="attentivelyInserat" class="billaddress"><f:translate key="attentively-ad" /></label>
        </fieldset>
        <fieldset class="col0">
          <f:form.checkbox property="attentivelyEmpfehlung" value="1" id="attentivelyEmpfehlung"/>
          <label for="attentivelyEmpfehlung" class="billaddress"><f:translate key="attentively-recommendation" /></label>
          <f:form.textfield property="attentivelyEmpfehlungInfo"/>
        </fieldset>
        <fieldset class="col0">
          <f:form.checkbox property="attentivelySearchengine" value="1" id="attentivelySearchengine"/>
          <label for="attentivelySearchengine" class="billaddress"><f:translate key="attentively-searchengine" /></label>
        </fieldset>
        <fieldset class="col0">
          <f:form.checkbox property="attentivelySonstiges" value="1" id="attentivelySonstiges"/>
          <label for="attentivelySonstiges" class="billaddress"><f:translate key="attentively-others" /></label>
          <f:form.textfield property="attentivelySonstigesInfo"/>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset class="block last">
      <div>&nbsp;</div>
      <fieldset class="row">
        <fieldset class="fs_submit">
	      <f:form.submit value="<f:translate key='form-button-submit' />" class="button"/>
        </fieldset>
      </fieldset>
    </fieldset>

  </f:form>

	<link rel="stylesheet" href="/typo3conf/ext/icon_neuklientenanlage/Resources/Public/js/sol/sol.css">
    <script type="text/javascript" src="/typo3conf/ext/icon_neuklientenanlage/Resources/Public/js/sol/sol.js"></script>
	<script type="text/javascript">
	
		var sel_values_position = '<f:format.raw>{pf_data}</f:format.raw>';
	</script>
    <script src="/typo3conf/ext/icon_neuklientenanlage/Resources/Public/js/form.js" type="text/javascript"></script>

</f:section>