<f:layout name="Default" />

<f:section name="main">
  
  <h1><f:translate key="page-title" /></h1>
  
  <p><strong><f:translate key="check-fail-header" /></strong></p>
  <p><f:format.raw><f:translate key="check-fail-msg" /></f:format.raw></p>
  <p><f:format.raw><f:translate key="check-fail-info" /></f:format.raw></p>

</f:section>