/* CSS Document */

#site { width:auto !important; min-width:1000px !important; }
.bgHeader { border-bottom:1px solid #c7c7c7; padding-bottom:10px; width:100%; }
.mainNav { float:left !important; margin-top:137px; border:none; width:auto !important; }

ul.dropdown > li > a.active {
	font-weight:bold;
}

#footer { width:auto !important; }

.login-infobar { position:absolute; top:50px; left:192px; }
.login-mode { display:none; }
.login-status { margin-bottom:6px; }
.logout {}


.reise-login-form {}
.reise-login-form form { margin:0; padding:0; }
.reise-login-form fieldset { border:none; }
.reise-login-form .button {
	display: inline-block;
	background-color: #005284;
	margin: 0;
	border: none;
	padding: 3px 30px 3px 30px;
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}

.tx-reiseabrechnung-icon .button {
    display: inline-block;
    background-color: #005284;
    margin: 0;
    border: none;
    padding: 3px 30px 3px 30px;
    color: #FFFFFF;
	font-size:14px;
    text-decoration: none;
    cursor: pointer;
}
.tx-reiseabrechnung-icon .button.disabled {
	background-color:#CCCCCC;
	color:#999999;
	cursor:default;
}
.tx-reiseabrechnung-icon .button-remove {
    display: inline-block;
    background-color: #005284;
    margin: 0;
    border: none;
    padding: 3px 10px 3px 10px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
	font-weight:bold;
}

.tx-reiseabrechnung-icon .overview { border-collapse:collapse; width:100%; }
.tx-reiseabrechnung-icon .overview tr { border-bottom:1px dotted #999999; }
.tx-reiseabrechnung-icon .overview tr th, 
.tx-reiseabrechnung-icon .overview tr td { border-right:1px dotted #999999; } 
.tx-reiseabrechnung-icon .overview tr th:last-child, 
.tx-reiseabrechnung-icon .overview tr td:last-child { border-right:none; } 
.tx-reiseabrechnung-icon .overview tr th { padding:10px 5px; font-size:14px; }
.tx-reiseabrechnung-icon .overview tr td { padding:10px 5px; vertical-align:top; }
.tx-reiseabrechnung-icon .overview tr td:nth-last-child(-n+4) { text-align:right; min-width:70px; }
.tx-reiseabrechnung-icon .overview.manager tr td:nth-last-child(-n+5) { text-align:right; min-width:70px; }
.tx-reiseabrechnung-icon .overview tr td:nth-last-child(1),
.tx-reiseabrechnung-icon .overview.manager tr td:nth-last-child(1) { text-align:left; }

.tx-reiseabrechnung-icon .overview thead tr { background-color:#EFEFEF; }
.tx-reiseabrechnung-icon .overview tbody tr:nth-child(even) { background-color:#EFEFEF; }
.tx-reiseabrechnung-icon .overview tbody tr:last-child { border-bottom:none; }

.tx-reiseabrechnung-icon .edit {}
.tx-reiseabrechnung-icon .edit-user {}
.tx-reiseabrechnung-icon .edit-manager {}
.tx-reiseabrechnung-icon .edit-chief {}

.tx-reiseabrechnung-icon input[type="text"] { padding:2px 5px; width:500px; }
.tx-reiseabrechnung-icon input[id="startdatetime"],
.tx-reiseabrechnung-icon input[id="enddatetime"],
.tx-reiseabrechnung-icon input[id="austrittsdate"] { width:80px; text-align:center; }
.tx-reiseabrechnung-icon input.personnr { width:80px; }
.tx-reiseabrechnung-icon input.datetime { width:80px; display:none; }
.tx-reiseabrechnung-icon input.uhrzeit { width:40px; }
.tx-reiseabrechnung-icon input.ort { width:200px; }
.tx-reiseabrechnung-icon input.privatstunden { width:20px; text-align:right;}
.tx-reiseabrechnung-icon input.gefahrenekm { width:60px; text-align:right; }
.tx-reiseabrechnung-icon input.currency { width:60px; text-transform:uppercase; }
.tx-reiseabrechnung-icon input.money { width:100px; text-align:right; }
.tx-reiseabrechnung-icon input.taxfee { width:40px; text-align:right; }
.tx-reiseabrechnung-icon .edit fieldset { margin:0; border:none; padding:0; }
.tx-reiseabrechnung-icon .edit fieldset.block { margin-top:20px; border:1px solid #CCCCCC; padding:10px 20px;  }
.tx-reiseabrechnung-icon .edit fieldset.block-einreichung { margin-top:60px; padding-top:20px; }
.tx-reiseabrechnung-icon .edit fieldset.block-einreichung legend { font-weight:bold; }
.tx-reiseabrechnung-icon .edit fieldset legend { padding:0 10px; background-color:#FFFFFF; }
.tx-reiseabrechnung-icon .edit fieldset fieldset { margin-bottom:6px; }
.tx-reiseabrechnung-icon .edit fieldset fieldset label.label { display:inline-block; width:150px; text-align:right; vertical-align:text-top; }
.tx-reiseabrechnung-icon .edit fieldset fieldset label.label.vertical-top { vertical-align:top; }
.tx-reiseabrechnung-icon .edit fieldset fieldset label.label.land { width:80px; }
.tx-reiseabrechnung-icon .edit fieldset fieldset label.label.uhrzeit,
.tx-reiseabrechnung-icon .edit fieldset fieldset label.label.ort,
.tx-reiseabrechnung-icon .edit fieldset fieldset label.label.art,
.tx-reiseabrechnung-icon .edit fieldset fieldset label.label.currency { margin-left:30px; width:auto; }
.tx-reiseabrechnung-icon .edit fieldset fieldset.abschnitt { border-top:1px dashed #999999; }
.tx-reiseabrechnung-icon .edit fieldset fieldset.abschnitt legend { padding-bottom:10px; }
.tx-reiseabrechnung-icon .edit fieldset fieldset.grenzuebertritt-buttons { padding-left:150px; }
.tx-reiseabrechnung-icon .edit fieldset fieldset.mitreisender { border-bottom:1px dashed #999999; padding-bottom:6px; }
.tx-reiseabrechnung-icon .edit fieldset fieldset.mitreisender input { width:250px; }
.tx-reiseabrechnung-icon .edit fieldset fieldset.fs_submit { margin-top:20px; }

.tx-reiseabrechnung-icon .edit .reise-datum-bar  {margin-bottom:10px; }
.tx-reiseabrechnung-icon .edit .reise-eintaegig  { display:inline-block; margin-right:100px; }
.tx-reiseabrechnung-icon .edit .reise-datum-start  { display:inline-block; margin-right:40px; }
.tx-reiseabrechnung-icon .edit .reise-datum-ende  { display:inline-block; }

.tx-reiseabrechnung-icon .edit fieldset fieldset.vkm-col { display:inline-block; width:230px; }

.tx-reiseabrechnung-icon .edit fieldset .row-button { text-align:right; }
.tx-reiseabrechnung-icon .edit fieldset .block-beleg { margin-bottom:20px; border-bottom:1px dashed #999999; }
.tx-reiseabrechnung-icon .edit fieldset.block-beleg-upload { margin-top:20px; }

.tx-reiseabrechnung-icon .edit table.overview-sum { margin:20px 0px 40px 0px; }
.tx-reiseabrechnung-icon .edit table.overview-sum {}
.tx-reiseabrechnung-icon .edit table.overview-sum td { text-align:center; }

.tx-reiseabrechnung-icon fieldset .reisegrund { display:inline-block; }

.tx-reiseabrechnung-icon .help-block { display:none; }
.tx-reiseabrechnung-icon .form-error { display:none; }

.tx-reiseabrechnung-icon .edit-chief fieldset.fs_anmerkungen { margin:20px 0; }
.tx-reiseabrechnung-icon .edit-chief fieldset.fs_anmerkungen label { vertical-align:top; }
.tx-reiseabrechnung-icon .edit-chief fieldset.fs_anmerkungen textarea { padding:5px; width:690px; height:300px; }
.tx-reiseabrechnung-icon .edit-chief fieldset.fs_submit #einreichung-submit-no { margin-left:80px; }
.tx-reiseabrechnung-icon .edit-chief fieldset.fs_submit #einreichung-submit-yes { margin-left:100px; }

.tx-reiseabrechnung-icon #erstattung-form { display:inline-block; width:auto; }
.tx-reiseabrechnung-icon #erstattung-seminar-form { display:inline-block; margin-left:100px; width:auto; }
.tx-reiseabrechnung-icon #rueckerstattung-form { margin-bottom:20px; }
.tx-reiseabrechnung-icon #erstattung-form .button,
.tx-reiseabrechnung-icon #erstattung-seminar-form .button,
.tx-reiseabrechnung-icon #rueckerstattung-form .button { vertical-align:middle; }
.tx-reiseabrechnung-icon #rueckerstattung-form .block-datum { display:inline-block; width:auto; }
.tx-reiseabrechnung-icon #rueckerstattung-form .block-summe { display:inline-block; margin-left:100px; width:auto; }


.f3-widget-paginator { list-style:none; margin:20px; padding:0; text-align:center; }
.f3-widget-paginator li { display:inline-block; padding:5px; }
.f3-widget-paginator li a {}
.f3-widget-paginator li.current { font-weight:bold; }
.f3-widget-paginator li.current a {}

@media print {
	.login-infobar { display:none; }
	.mainNav { display:none; }
}