{namespace extlist=Tx_PtExtlist_ViewHelpers}
<extlist:comment>
<!--  
Template for rendering a Pager.

Here is a list of objects / variables that can be accessed in this template:

Tx_PtExtlist_Domain_Model_Pager pager				The pager object

@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>

<f:if condition="{pager.itemCount}">

	<f:if condition="{pager.itemCount} > {pager.itemsPerPage}" >
	    <f:if condition="{pager.itemsPerPage} > 0">
			<ul class="tx-ptextlist-pager pagination">
				
				<f:if condition="{pager.showFirstLink}">
					<li class="first">
						<extlist:link.action controller="{controller}" action="{action}" arguments="{extlist:namespace.GPArray(object:'{pagerCollection}' arguments:'page:{pager.firstPage}')}"><span>&lt;&lt;</span></extlist:link.action>
					</li>
				</f:if>
				
				<f:if condition="{pager.showPreviousLink}">
					<li class="previous">
						<extlist:link.action controller="{controller}" action="{action}" arguments="{extlist:namespace.GPArray(object:'{pagerCollection}' arguments:'page:{pager.previousPage}')}"><span>&lt;</span></extlist:link.action>
					</li>
				</f:if>
			
				<f:for each="{pager.pages}" key="i" as="pageNumber">
					<li class="number {f:if(condition:'{pager.currentPage} != {pageNumber}', then:'', else:'cur active')}">
						<extlist:link.action controller="{controller}" action="{action}" arguments="{extlist:namespace.GPArray(object:'{pagerCollection}' arguments:'page:{i}')}">{pageNumber}</extlist:link.action>
					</li>
				</f:for>
				
				<f:if condition="{pager.showNextLink}">
					<li class="next">
                        <extlist:link.action controller="{controller}" action="{action}" arguments="{extlist:namespace.GPArray(object:'{pagerCollection}' arguments:'page:{pager.nextPage}')}"><span>&gt;</span></extlist:link.action>
					</li>
				</f:if>
				
				<f:if condition="{pager.showLastLink}">
					<li class="last">
						<extlist:link.action controller="{controller}" action="{action}" arguments="{extlist:namespace.GPArray(object:'{pagerCollection}' arguments:'page:{pager.lastPage}')}"><span>&gt;&gt;</span></extlist:link.action>
					</li>
				</f:if>
			</ul>
	    </f:if>
	</f:if>

<extlist:comment>
    <div class="tx-ptextlist-pager-item-display">
		<f:translate key="pager.showing" default="Showing" /> {itemsText} <span class="first">{pager.firstItemIndex}</span>
		<f:translate key="pager.to" default="to" />
		<f:if condition="{pager.itemsPerPage} > 0">
		    <f:then>
				<f:if condition="{pager.itemCount} < {pager.lastItemIndex}">
					<f:then><span>{pager.itemCount}</span></f:then>
					<f:else><span class="last">{pager.lastItemIndex}</span></f:else>
				</f:if>
		    </f:then><f:else>
		        <span>{pager.itemCount}</span>
		    </f:else>
		</f:if>
		<f:translate key="pager.of" default="of" /> <span class="count">{pager.itemCount}</span>
	</div>
</extlist:comment>

</f:if>