<f:layout name="Default" />

<f:section name="main">
  <div class="tx-news-icon-news-detail">
  <h1><f:format.raw>{newsItem.title}</f:format.raw></h1>
  <f:format.date format="Y">{newsItem.datetime}</f:format.date> | {newsItem.pubType}
  <br>
  <br>
  <f:format.html>{newsItem.bodytext}</f:format.html>

  <f:if condition="{newsItem.addresses}">
    <div class="news-authors">
      <div class="header">Verfasser:</strong></div>
        <f:for each="{newsItem.addresses}" as="address" iteration="itemIterator">
          <f:if condition="{address.ausgetretten}==0">
            <f:if condition="{itemIterator.total}>1">
              <f:then>
                <f:render partial="Address/Item" arguments="{address: address, settings:settings, total:2}" />
              </f:then>
              <f:else>
                <f:render partial="Address/Item" arguments="{address: address, settings:settings, total:itemIterator.total}" />
              </f:else>
            </f:if>
          </f:if>
        </f:for>
        <f:for each="{newsItem.addresses}" as="address" iteration="itemIterator">
          <f:if condition="{address.ausgetretten}==1">
            <f:if condition="{itemIterator.total}>1">
              <f:then>
                <f:render partial="Address/Item" arguments="{address: address, settings:settings, total:2}" />
              </f:then>
              <f:else>
                <f:render partial="Address/Item" arguments="{address: address, settings:settings, total:itemIterator.total}" />
              </f:else>
            </f:if>
          </f:if>
        </f:for>
      <div class="clear"></div>
    </div>
  </f:if>
 
<f:if condition="{newsItem.categories}">
  <div class="news-categories">
  <f:for each="{newsItem.categoriesSorted}" as="category" iteration="itemIterator">
    <f:if condition="{itemIterator.isFirst}">
      <strong><f:if condition="{itemIterator.total}==1"><f:then>Fachbereich:</f:then><f:else>Fachbereiche:</f:else></f:if></strong>
    </f:if>
    <f:if condition="category.shortcut">
      <f:then>
        <f:link.page pageUid="{category.shortcut}">{category.title}</f:link.page><f:if condition="{itemIterator.total}>1"><f:if condition="{itemIterator.isLast}==0">, </f:if></f:if>
      </f:then>
      <f:else>
        {category.title}<f:if condition="{itemIterator.tota}>1"><f:if condition="{itemIterator.isLast}==0">,</f:if></f:if>
      </f:else>
    </f:if>
  </f:for>
  </div>
</f:if>
 
  <div class="news-backlink">
    <f:link.action action="list">zurück zur Publikationen-Übersicht</f:link.action>  
  </div>
  </div>
</f:section>