{namespace vh=NEXT\IconErweiterungen\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
  
  <f:if condition="{settings.headline}"><h1>{settings.headline}</h1></f:if>
  
  <f:form action="list" name="searchdata" object="{searchdata}" method="POST">
    <fieldset>
      <label for="searchPhrase">Titel</label>
      <f:form.textfield property="phrase"/>
    </fieldset>
    
    <fieldset>
      <label for="searchPhrase">Autor</label>
      <f:form.select property="author" options="{authors}" prependOptionValue="" prependOptionLabel=" -- "/>
    </fieldset>
<!--
    <fieldset>
      <label for="searchPhrase">Erscheinungsjahr</label>
      <f:form.select property="yearmonth" options="{yearmonths}" prependOptionValue="" prependOptionLabel=" -- "/>
    </fieldset>
-->
    <fieldset>
      <label for="searchPhrase">Jahr</label>
      <f:form.select property="year" options="{years}" prependOptionValue="" prependOptionLabel=" -- "/>
    </fieldset>
    <fieldset>
      <label for="searchPhrase">Kategorie</label>
      <f:form.select property="category" options="{categories}" prependOptionValue="" prependOptionLabel=" -- "/>
    </fieldset>
    
    <fieldset class="fs_submit">
      <f:form.submit class="submit" value="Suchen"/>
    </fieldset>
  </f:form>
  
  <table border="0" cellspacing="0" cellpadding="0" class="result publication">
    <thead>
      <tr>
        <th>Jahr</th>
        <td>Titel / Autoren</td>
        <td>Heft / Seite(n)</td>
      </tr>
    </thead>
    <tbody>
      <f:for each="{news}" as="newsItem" iteration="itemIteration">
        <tr<f:if condition="{itemIteration.isEven}"> class="darkblue"</f:if>>
          <th><f:format.date format="Y">{newsItem.datetime}</f:format.date></th>
          <td>
            <f:if condition="{newsItem.type}==2">
              <f:then>
                <f:link.external uri="{newsItem.externalurl}" target="_blank"><f:format.raw>{newsItem.title}</f:format.raw></f:link.external>
              </f:then>
              <f:else>
                <f:if condition="{newsItem.bodytext}">
                  <f:then>
                    <f:link.action action="detail" controller="Publikation" arguments="{news: '{newsItem.uid}' }"><f:format.raw>{newsItem.title}</f:format.raw></f:link.action>
                  </f:then>
                  <f:else>
                    <f:if condition="{newsItem.pubUrl}">
                      <f:then>
                        <f:format.raw><vh:Typolink parameter="{newsItem.pubUrl}">{newsItem.title}</vh:Typolink></f:format.raw>
                      </f:then>
                      <f:else>
                        {newsItem.title}
                      </f:else>
                    </f:if>
                  </f:else>
                </f:if>
              </f:else>
            </f:if>
			<div class="news-authors">
        <f:for each="{newsItem.addresses}" as="address" iteration="itemIterator">
          <span><f:if condition="{address.ausgetretten}==0">
            <f:then>
		      <f:link.action pageUid="{settings.contactsPage}" arguments="{address: '{address.uid}'}" action="{settings.person.detail.action}" controller="{settings.person.detail.controller}" extensionName="{settings.person.detail.extensionName}" pluginName="{settings.person.detail.pluginName}"><f:render partial="Address/Name" arguments="{address: address}" /></f:link.action><f:if condition="{itemIterator.isLast}"><f:then></f:then><f:else>, </f:else></f:if>
            </f:then>
            <f:else><f:render partial="Address/Name" arguments="{address: address}" /></f:else><f:if condition="{itemIterator.isLast}"><f:then></f:then><f:else>, </f:else></f:if>
          </f:if></span>
        </f:for>
  <!--
        <f:for each="{newsItem.addresses}" as="address" iteration="itemIterator">
          <f:if condition="{address.ausgetretten}==1">
            <span><f:render partial="Address/Name" arguments="{address: address}" /><f:if condition="{iterator.isLast}"><f:then></f:then><f:else>, </f:else></f:if></span>
          </f:if>
        </f:for>
  -->
			</div>
          </td>
          <td><f:if condition="{newsItem.pubType}"><div class="publication-ausgabe">{newsItem.pubType}</div></f:if>
          	<f:if condition="{newsItem.pubPages}"><div class="publication-pages">{newsItem.pubPages}</div></f:if>
          </td>
        </tr>
      </f:for>
    </tbody>
  </table>
  
</f:section>