<f:layout name="Default" />

<f:section name="main">

  <div class="teaserBox teaser-Right">
    <f:if condition="{settings.headline}">
    <div class="teaserHeader">{settings.headline}</div>
    </f:if>
    <f:if condition="{settings.detailPage}">
    <div class="teaserAll"><f:link.page pageUid="{settings.detailPage}">alle anzeigen</f:link.page></div>
    </f:if>
    <f:if condition="{news}">
    <div class="teaserList">
      <f:for each="{news}" as="newsItem" iteration="itemIteration">
      <div class="teaserItem">
        <div class="teaserDate"><f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date></div>
        <div class="teaserContent">
          <!-- <span>INDIEN</span> -->
          <f:if condition="{newsItem.type}==2">
            <f:then>
              <f:link.external uri="{newsItem.externalurl}" target="_blank"><f:format.raw>{newsItem.title}</f:format.raw></f:link.external>
            </f:then>
            <f:else>
              <f:link.action pageUid="{settings.detailPage}" action="detail" controller="News" arguments="{news: '{newsItem.uid}'}"><f:format.raw>{newsItem.title}</f:format.raw></f:link.action>
            </f:else>
          </f:if>
        </div>
      </div>
      </f:for>
    </div>
	</f:if>
  </div>
  
</f:section>