{namespace vh=NEXT\IconReiseabrechnung\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

	<script src="/typo3conf/ext/icon_reiseabrechnung/Resources/Public/js/scripts.js" type="text/javascript"></script> 
     	
    <div class="edit edit-user">
    
    	<h3>BEARBEITUNG</h3>

    	<f:form id="trip-form" name="reise" action="save" object="{reise}" method="POST" noCacheHash="1">
			<input type="hidden" id="userMode" value="{userMode}" />

			<f:render partial="Reise/Form" arguments="{_all}"/>

			<fieldset class="block block-einreichung">
				<legend>Reiseabrechnung bei Sekretariat einreichen:</legend>
            	<fieldset>
                    <f:form.radio property="secretary" value="1" id="sec-1"/>
                	<label for="sec-1">{settings.departments.1.secretary.name} ({settings.departments.1.secretary.email})</label>
                </fieldset>
            	<fieldset>
                    <f:form.radio property="secretary" value="2" id="sec-2"/>
                	<label for="sec-2">{settings.departments.2.secretary.name} ({settings.departments.2.secretary.email})</label>
                </fieldset>
            	<fieldset>
                    <f:form.radio property="secretary" value="3" id="sec-3"/>
                	<label for="sec-3">{settings.departments.3.secretary.name} ({settings.departments.3.secretary.email})</label>
                </fieldset>
	            <fieldset class="fs_submit">
                	<f:form.hidden property="submit" id="einreichung-checked"/>
    		        <f:form.button type="button" disabled="disabled" id="einreichung-submit" class="button disabled">Abrechnung einreichen und an Sekretariat übermitteln</f:form.button>
            	</fieldset>
			</fieldset>
        </f:form>

    </div>
   
</f:section>