{namespace vh=NEXT\IconReiseabrechnung\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
  
  <f:if condition="{reisen}">
    <f:then>  
      <f:widget.paginate objects="{reisen}" as="paginatedItems" configuration="{paginate}">
        
	<table class="overview user">
    	<thead>
        	<tr>
            	<th>UID</th>
            	<th>Reise-Nr.</th>
                <th>Datum</th>
                <th>Grund</th>
                <th>Ziel</th>
                <th>Klienten-Nr.</th>
                <th>Projekt-Nr.</th>
                <th>Status</th>
                <th>Steuerfrei</th>
                <th>Steuerpflichtig</th>
                <th>Gesamt</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <f:for each="{paginatedItems}" as="reise">
	        <tr>
		        <td>{reise.uid}</td>
        		<td><vh:Reise mode="reisenr" reise="{reise}" /></td>
        		<td><f:format.date date="{reise.abschnitte.0.abDatetime}" format="%d.%m.%Y"/></td>
		        <td><vh:Reise mode="grund" grund="{reise.grund}" /></td>
        		<td>{reise.ziel}</td>
		        <td>{reise.klientennr}</td>
        		<td>{reise.projektnr}</td>
        		<td>{reise.status}</td>
        		<td>
    	           	<f:format.raw><vh:Reise mode="showSumMA" reise="{reise}" userMode="{userMode}">
					<f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTaxfree}</f:format.currency>
					</vh:Reise></f:format.raw>
				</td>
        		<td>
	               	<f:format.raw><vh:Reise mode="showSumMA" reise="{reise}" userMode="{userMode}">
					<f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTax}</f:format.currency>
					</vh:Reise></f:format.raw>
				</td>
        		<td>
                	<f:format.raw><vh:Reise mode="showSumMA" reise="{reise}" userMode="{userMode}">
					<f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTotal}</f:format.currency>
					</vh:Reise></f:format.raw>
				</td>
        		<td>
                <f:if condition="{reise.status} == 'MA'">
                	<f:then>
		                <f:link.action action="edit" arguments="{reise: '{reise.uid}'}" noCacheHash="TRUE">bearbeiten</f:link.action>
					</f:then>
					<f:else>
						<f:link.action action="view" arguments="{reise: '{reise.uid}'}" noCacheHash="TRUE">anzeigen</f:link.action>
					</f:else>
                </f:if>
                </td>
	        </tr>
        </f:for>
        </tbody>
    </table>

      </f:widget.paginate>
    </f:then>
    <f:else>
      <p>{settings.search.noEntries}</p>
    </f:else>
  </f:if>
   
</f:section>