<f:layout name="Default" />

<f:section name="main">
  
  User<br />
  <table cellpadding="4">
      <tr>
        <th>personnr</th>
        <th>gender</th>
        <th>title</th>
        <th>firstname</th>
        <th>lastname</th>
        <th>titleAfter</th>
        <th>email</th>
      </tr>
  <f:for each="{users}" as="user">
      <tr>
        <td>{user.personnr}</td>
        <td>{user.gender}</td>
        <td>{user.title}</td>
        <td>{user.firstname}</td>
        <td>{user.lastname}</td>
        <td>{user.titleAfter}</td>
        <td>{user.email}</td>
      </tr>
    </f:for>
  </table>
  
  <h1>ICON REISEKOSTENABRECHNUNG (Mitarbeiter)</h1>

   Übersicht
      
</f:section>