<f:layout name="Default" />

<f:section name="main">
  
    <div class="reise-user-edit">
    
    	<h3>Reiseabrechnung</h3>

		<p><strong>Ihr Reiseantrag wurde eingereicht</strong></p>
        <p>Ihre Reise-Nr. lautet: <strong>{reise.reisenr}</strong></p>
        <p>Bringen Sie nun als nächstes die deklarierten Reisebelege an ihr zuständiges Sekretariat.</p>

    </div>
   
</f:section>