{namespace vh=NEXT\IconReiseabrechnung\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
  
    <div class="edit edit-user">
    
    	<h3>DETAILANSICHT</h3>

		<f:render partial="Reise/View" arguments="{_all}"/>

    </div>
   
</f:section>