<f:layout name="Default" />

<f:section name="main">
  
    <f:if condition="{mode}=='update'">
	    <f:if condition="{settings.manageSuccessHeadline}"><h1>{settings.manageSuccessHeadline}</h1></f:if>
    	<f:if condition="{settings.successText}"><f:format.raw>{settings.manageSuccessText}</f:format.raw></f:if>
    </f:if>
    
    <f:if condition="{mode}=='unsubscribe'">
	    <f:if condition="{settings.manageSuccessHeadline}"><h1>{settings.unsubscribeSuccessHeadline}</h1></f:if>
    	<f:if condition="{settings.successText}"><f:format.raw>{settings.unsubscribeSuccessText}</f:format.raw></f:if>
    </f:if>
  

<f:if condition="{test}">
    <br />
    <br />
    <br />
    <br />
    MODE: {mode}<br />
<!--
  <h1><f:translate key="page-title" /></h1>
  
  <p><strong><f:translate key="form-result-done-header" /></strong></p>
  <p><f:translate key="form-result-done-info" /></p>
-->
	<br />
	<br />
	<br />
    <p>Der nachfolgende Block kommt weg - ist rein für testzwecke!!!</p>
    <br />
	<strong>RESPONSE DATA:</strong><br />
    ---<br />
    {resp_data}<br>
    ---<br />
    <br/>
    <strong>error_ID:</strong> {error_ID}<br />
    <strong>error_info:</strong>
    <pre>{error_info}</pre>
    <strong>message:</strong>
    {message}
    <br />
</f:if>

</f:section>