<f:layout name="Default" />

<f:section name="main">
  
    <f:if condition="{mode}=='update'">
        <f:if condition="{settings.manageErrorHeadline}"><h1>{settings.manageErrorHeadline}</h1></f:if>
        <f:if condition="{settings.manageErrorText}"><f:format.raw>{settings.manageErrorText}</f:format.raw></f:if>
        <p><a href="javascript:history.back();">zurück zum Formular</a></p>
        <br />
        <f:if condition="{test}"><p>FEHLER: {error_ID}</p></f:if>
    </f:if>
    
    <f:if condition="{mode}=='unsubscribe'">
        <f:if condition="{settings.unsubscribeErrorHeadline}"><h1>{settings.unsubscribeErrorHeadline}</h1></f:if>
        <f:if condition="{settings.unsubscribeErrorText}"><f:format.raw>{settings.unsubscribeErrorText}</f:format.raw></f:if>
        <p><a href="javascript:history.back();">zurück zum Formular</a></p>
        <br />
        <f:if condition="{test}"><p>FEHLER: {error_ID}</p></f:if>
    </f:if>
  
<f:if condition="{test}">
<!--
  <h1><f:translate key="page-title" /></h1>
  
  <p><strong><f:translate key="form-result-fail-header" /></strong></p>
  <p><f:translate key="form-result-fail-msg" /></p>
  <p><f:translate key="form-result-fail-info" /></p>
-->
	<br />
	<br />
	<br />
	<br />
    MODE: {mode}<br />
	<br />
	<br />
	<br />
    <p>Der nachfolgende Block kommt weg - ist rein für testzwecke!!!</p>
    <br />
	<strong>RESPONSE DATA:</strong><br />
    ---<br />
    {resp_data}<br>
    ---<br />
    <br/>
    <strong>error_ID:</strong> {error_ID}<br />
    <strong>error_info:</strong>
    <pre>{error_info}</pre>
    <strong>message:</strong>
    {message}
    <br />
</f:if>

</f:section>