<f:layout name="Default" />

<f:section name="main">

  <f:if condition="{return}==1">
    <f:if condition="{mode}==1"><f:if condition="{settings.manageSuccessHeadline}"><h1>{settings.manageSuccessHeadline}</h1></f:if></f:if>
    <f:if condition="{mode}==1"><f:format.raw>{settings.manageSuccessText}</f:format.raw></f:if>
    <f:if condition="{mode}==2"><f:if condition="{settings.unsubscribeSuccessHeadline}"><h1>{settings.unsubscribeSuccessHeadline}</h1></f:if></f:if>
    <f:if condition="{mode}==2"><f:format.raw>{settings.unsubscribeSuccessText}</f:format.raw></f:if>
  </f:if>

  <f:if condition="{return}==-1">
    <f:if condition="{mode}==1"><f:if condition="{settings.manageErrorHeadline}"><h1>{settings.manageErrorHeadline}</h1></f:if></f:if>
    <f:if condition="{mode}==1"><f:format.raw>{settings.manageErrorText}</f:format.raw></f:if>
    <f:if condition="{mode}==2"><f:if condition="{settings.unsubscribeErrorHeadline}"><h1>{settings.unsubscribeErrorHeadline}</h1></f:if></f:if>
    <f:if condition="{mode}==2"><f:format.raw>{settings.unsubscribeErrorText}</f:format.raw></f:if>
    <p><a href="javascript:history.back();">zurück zum Formular</a></p>
    <br />
    <p>FEHLER: {error_code}</p>
  </f:if>

  <f:if condition="{return}==0">

	<f:if condition="{settings.manageHeadline}"><h1><f:format.raw>{settings.manageHeadline}</f:format.raw></h1></f:if>
	<f:if condition="{settings.manageText}"><f:format.raw>{settings.manageText}</f:format.raw></f:if>

    <f:form action="update" name="formdata" object="{formdata}" arguments="{personNr: '{rqst_personNr}'}" method="POST" noCacheHash="1">
	    <f:form.hidden property="personNr" />
        
        <f:form.validationResults>
	        <f:if condition="{validationResults.flattenedErrors}">
        	<p class="error"><f:translate key="form-error-info" /></p>
    	    </f:if>
        </f:form.validationResults>

        <fieldset class="block">
	        <div><f:translate key="formular-info-requireds" /></div>

	        <fieldset class="row">
		        <fieldset class="col1 anrede">
        			<label><f:translate key="salutation" /> <span></span></label>
			        <f:form.radio property="gender" value='<f:translate key="gender-F" />' id="gender-F"/>
			        <label for="gender-F" class="anrede"><f:translate key="gender-F" /></label>
			        <f:form.radio property="gender" value='<f:translate key="gender-M" />' id="gender-M"/>
			        <label for="gender-M" class="anrede"><f:translate key="gender-M" /></label>
		        </fieldset>
				<fieldset class="col2 title">
	                <label for="title"><f:translate key="title" /> <span></span></label>
    	            <f:form.select property="title" options="{lst_titel}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title"/>
                </fieldset>
            </fieldset>
            <fieldset class="row">
        	    <fieldset class="col1">
            		<label for="firstname"><f:translate key="firstname" /> <span>*</span></label>
		            <f:form.textfield property="firstname" id="firstname"/>
    	        </fieldset>
        		<fieldset class="col2">
		            <label for="lastname"><f:translate key="lastname" /> <span>*</span></label>
        		    <f:form.textfield property="lastname" id="lastname"/>
	            </fieldset>
    	        <fieldset class="col3">
        		    <label for="nachgesttitel"><f:translate key="titleAfter" /> <span></span></label>
		            <f:form.select property="titleAfter" id="sel-titleAfter" options="{lst_titel_nach}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title-after"/>
        	    </fieldset>
            </fieldset>
            
            <fieldset class="row">
            	<fieldset class="col0">
		            <label for="comName"><f:translate key="companyname" /> <span></span></label>
        		    <f:form.textfield property="companyName" id="companyName"/>
	            </fieldset>
            </fieldset>
            
            <fieldset class="row">
        	    <fieldset class="col1">
    	    	    <label for="sel-function"><f:translate key="position-function" /> <span></span></label>
		            <f:form.select property="function" id="sel-function" options="{lst_function}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-position-function"/>
        	    </fieldset>
            	<fieldset class="col2">
		            <label for="email"><f:translate key="email" /> <span>*</span></label>
        		    <f:form.textfield property="email" id="email"/>
	            </fieldset>
            </fieldset>
            
            <fieldset class="row">
	            <fieldset class="col1">
    		        <label for="street"><f:translate key="street" /> <span></span></label>
            		<f:form.textfield property="street" id="street"/>
	            </fieldset>
            	<fieldset class="col2">
    		        <label for="streetNr"><f:translate key="streetNr" /> <span></span></label>
		            <f:form.textfield property="streetNr" id="streetNr"/>
        	    </fieldset>
            </fieldset>
            <fieldset class="row">
	            <fieldset class="col1">
    		        <label for="zip"><f:translate key="zip" /> <span></span></label>
            		<f:form.textfield property="zip" id="zip"/>
	            </fieldset>
    	        <fieldset class="col2">
        		    <label for="city"><f:translate key="city" /> <span></span></label>
		            <f:form.textfield property="city" id="city"/>
        	    </fieldset>
            </fieldset>
		</fieldset>

        <fieldset class="block interests">
			<div>Themenübersicht</div>
            <p><strong>Bitte wählen Sie hier jene Interessensgebiete, zu denen Sie Ihre persönlichen ICON Mailings erhalten möchten.</strong><br>
              (Sie aktivieren oder deaktivieren ein Thema durch Anklicken des Quadrats links neben der Beschreibung).</p>
            <fieldset class="row">
      			<span class="label">INTERNATIONALE STEUERTHEMEN</span>
                <div>
	                <f:form.checkbox property="interestA1" id="interestA1" value="1"/>
    	            <label for="interestA1">Auslandsentsendungen</label>
                </div>
                <div>
        	        <f:form.checkbox property="interestA2" id="interestA2" value="1"/>
            	    <label for="interestA2">Internationale Projekte</label>
                </div>
                <div>
         	       <f:form.checkbox property="interestA3" id="interestA3" value="1"/>
            	    <label for="interestA3">Länder A-Z</label>
                </div>
                <div>
                    <f:form.checkbox property="interestA4" id="interestA4" value="1"/>
                    <label for="interestA4">Verrechnungspreise</label>
                </div>
                <div>
                    <f:form.checkbox property="interestA5" id="interestA5" value="1"/>
                    <label for="interestA5">Quellensteuern</label>
                </div>
			</fieldset>
			<fieldset class="row">
            	<span class="label">NATIONALES STEUERRECHT</span>
                <div>
    	            <f:form.checkbox property="interestB1" id="interestB1" value="1"/>
	                <label for="interestB1">Unternehmensbesteuerung in Österreich</label>
                </div>
                <div>
        	        <f:form.checkbox property="interestB2" id="interestB2" value="1"/>
            	    <label for="interestB2">Forschungsprämie</label>
                </div>
	        </fieldset>
			<fieldset class="row"><span class="label">UMSATZSTEUER </span>
	            <div>
    	        	<f:form.checkbox property="interestC1" id="interestC1" value="1"/>
        		    <label for="interestC1">National und International</label>
	            </div>
            </fieldset>
			<fieldset class="row"><span class="label">MERGERS & AQUISITIONS</span>
                <div>
  	              <f:form.checkbox property="interestD1" id="interestD1" value="1"/>
    	            <label for="interestD1">Unternehmenstransaktionen</label>
                </div>
            </fieldset>
            <fieldset class="row"><span class="label">WIRTSCHAFTSPRÜFUNG & BILANZIERUNG</span>
                <div>
	                <f:form.checkbox property="interestE1" id="interestE1" value="1"/>
    	            <label for="interestE1">Wirtschaftsprüfung & Bilanzierung</label>
                </div>
            </fieldset>
            <fieldset class="row col0"><span class="label">EINLADUNGEN ZU ICON-VERANSTALTUNGEN</span>
                <div>
	                <f:form.checkbox property="interestF1" id="interestF1" value="1"/>
    	            <label for="interestF1">ICON Tax Academy | Seminare <strong>(Einladungen zu oben ausgewählten Themen!)</strong></label>
                </div>
                <div>
        	        <f:form.checkbox property="interestF2" id="interestF2" value="1"/>
            	    <label for="interestF2">ICON Galerie | Vernissagen</label>
                </div>
            </fieldset>
        </fieldset>
        
        <fieldset class="block last">
            <div>&nbsp;</div>
            <fieldset class="fs_submit">
                <f:form.submit value='Jetzt anpassen' class="button"/>
            </fieldset>
        </fieldset>
    </f:form>


    <f:form action="unsubscribe" name="formdata" object="{formdata}" arguments="{personNr: '{rqst_personNr}'}" method="POST" noCacheHash="1">
	    <f:form.hidden property="personNr" />
    
    	<f:if condition="{settings.unsubscribeHeadline}"><h3>{settings.unsubscribeHeadline}</h3></f:if>
	    <fieldset class="unsubscribe">
		    <div class="row">
			    <f:if condition="{settings.unsubscribeText}"><f:format.raw>{settings.unsubscribeText}</f:format.raw></f:if>
		    </div>
		    <fieldset class="fs_submit">
			    <f:form.submit value="JETZT ABMELDEN" class="button"/>
		    </fieldset>
	    </fieldset>
	</f:form>
    

<f:if condition="{test}">
    <pre>
    {xmldata}
    </pre>
</f:if>

</f:if>

</f:section>