<f:layout name="Default" />

<f:section name="main">
	<p>Ungültiger Aufruf. Bitte kontrollieren Sie den verwendeten Link und versuchen Sie es erneut.</p>

<f:if condition="{test}">
	<br />
	<br />
	<br />
    <p>Der nachfolgende Block kommt weg - ist rein für testzwecke!!!</p>
    <br />
	<strong>RESPONSE ERROR:</strong><br />
    ---<br />
    {resp_error}<br>
    ---<br />
    <br/>
	<strong>RESPONSE DATA:</strong><br />
    ---<br />
    {resp_data}<br>
    ---<br />
    <br/>
    <strong>error_ID:</strong> {error_ID}<br />
    <strong>error_info:</strong>
    <pre>{error_info}</pre>
    <strong>message:</strong>
    {message}
    <br />
    <strong>XML</strong><br />
    {data}
</f:if>

</f:section>