<f:layout name="Default" />

<f:section name="main">
  
  <h1>UPDATE</h1>
    <strong>DATA:</strong>
    <pre>{data}</pre>
	<strong>RESPONSE DATA:</strong><br />
    ---<br />
    {resp_data}<br>
    ---<br />
    <br />
	<strong>RESPONSE ERROR:</strong><br />
    ---<br />
    <pre>{resp_error}</pre><br>
    ---<br />
    <br />
	<strong>XML DATA:</strong><br />
    ---<br />
    <pre>{xmldata}</pre><br>
    ---<br />
    <br/>
    <strong>error_ID:</strong> {error_ID}<br />
    <strong>error_info:</strong>
    <pre>{error_info}</pre>
    <strong>message:</strong>
    {message}
    <br />
</f:section>