<link href="/typo3conf/ext/icon_reiseabrechnung/Resources/Public/css/style.css" type="text/css" rel="stylesheet" />

<div class="bgHeader">
    <div id="logo"><img src="/fileadmin/default/v2/pix/logo.gif" alt="ICON Wirtschaftstreuhand GmbH" title="ICON Wirtschaftstreuhand GmbH" width="156" height="156" border="0"></div>
	
	<f:render partial="Title" arguments="{_all}"/>
    <f:render partial="Login/Status" arguments="{_all}" />
    <f:render partial="Menu" arguments="{_all}" />

</div>

<div id="content">

	<div class="tx-reiseabrechnung-icon">

	<f:render section="main" />

	</div>

</div>

<div id="footer">
	<div id="footerLeft"></div>
	<div id="footerRight"></div>
</div>
