<f:layout name="Default" />

<f:section name="main">
  
  <f:if condition="{settings.headline}"><h1>{settings.headline}</h1></f:if>
  <f:form action="list" name="searchdata" object="{searchdata}" method="POST">
    <fieldset>
      <label for="searchPhrase">Titel</label>
      <f:form.textfield property="phrase"/>
    </fieldset>
    
    <fieldset>
      <label for="searchPhrase">Autor</label>
      <f:form.select property="author" options="{authors}" prependOptionValue="" prependOptionLabel=" -- "/>
    </fieldset>
<!--
    <fieldset>
      <label for="searchPhrase">Erscheinungsjahr</label>
      <f:form.select property="yearmonth" options="{yearmonths}" prependOptionValue="" prependOptionLabel=" -- "/>
    </fieldset>
-->
    <fieldset>
      <label for="searchPhrase">Erscheinungsjahr</label>
      <f:form.select property="year" options="{years}" prependOptionValue="" prependOptionLabel=" -- "/>
    </fieldset>
    <fieldset>
      <label for="searchPhrase">Kategorie</label>
      <f:form.select property="category" options="{categories}" prependOptionValue="" prependOptionLabel=" -- "/>
    </fieldset>
    
    <fieldset class="fs_submit">
      <f:form.submit class="submit" value="Suchen"/>
    </fieldset>
  </f:form>
  
  <table border="0" cellspacing="0" cellpadding="0" class="result">
    <thead>
      <tr>
        <th>Datum</th>
        <td>News</td>
      </tr>
    </thead>
    <tbody>
      <f:for each="{news}" as="newsItem" iteration="itemIteration">
        <tr<f:if condition="{itemIteration.isEven}"> class="darkblue"</f:if>>
          <th><f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date></th>
          <td>
            <f:if condition="{newsItem.type}==2">
              <f:then>
                <f:link.external uri="{newsItem.externalurl}" target="_blank"><f:format.raw>{newsItem.title}</f:format.raw></f:link.external>
              </f:then>
              <f:else>
                <f:link.action action="detail" controller="News" arguments="{news: '{newsItem.uid}' }"><f:format.raw>{newsItem.title}</f:format.raw></f:link.action>
              </f:else>
            </f:if>
          </td>
        </tr>
      </f:for>
    </tbody>
  </table>
  
</f:section>