<f:layout name="Default" />

<f:section name="main">

<f:if condition="{skript.uid} > 0">
    <f:render partial="Skriptum/Header" arguments="{_all}" />
    <f:render partial="Skriptum/Image" arguments="{_all}" />
    <f:if condition="{LANG}==1">
    	<f:then>
        	<f:if condition="{skript.infoDoneEn}">
            	<f:then>
	       			<f:format.html>{skript.infoDoneEn}</f:format.html>
                </f:then>
                <f:else>
					<f:if condition="{skript.infoDone}">
						<f:then>
		        			<f:format.html>{skript.infoDone}</f:format.html>
						</f:then>
						<f:else>
							<p><strong><f:translate key="form-result-done-header" /></strong></p>
							<p><f:translate key="form-result-done-info" /></p>
						</f:else>
					</f:if>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
			<f:if condition="{skript.infoDone}">
				<f:then>
		        	<f:format.html>{skript.infoDone}</f:format.html>
				</f:then>
				<f:else>
					<p><strong><f:translate key="form-result-done-header" /></strong></p>
					<p><f:translate key="form-result-done-info" /></p>
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:if>

</f:section>