<f:layout name="Default" />

<f:section name="main">

<f:if condition="{skript.uid} > 0">
	<f:render partial="Skriptum/Header" arguments="{_all}" />
	<f:render partial="Skriptum/Image" arguments="{_all}" />

	<p><strong><f:translate key="form-result-fail-header" /></strong></p>
	<p><f:translate key="form-result-fail-info" /></p>
</f:if>

</f:section>