<f:layout name="Default" />

<f:section name="main">
  
    <f:render partial="Skriptum/Header" arguments="{_all}" />
    <f:render partial="Skriptum/Image" arguments="{_all}" />

	<f:form action="submit" name="anforderung" object="{anforderung}" arguments="{skriptum: '{skript.uid}'}" method="POST" noCacheHash="1">
		<h3><f:translate key="form-header" /></h3>
		<fieldset class="form">
			<legend><f:translate key="form-info-required" /></legend>
			<fieldset class="row">
				<label for="frm-skript-title-{skript.uid}"><f:translate key="title" /></label>
				<f:form.select property="title" id="frm-skript-title-{skript.uid}" options="{lst_titel}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title"/>
			</fieldset>
			<fieldset class="row">
				<label for="frm-skript-firstname-{skript.uid}"><f:translate key="firstname" /><span class="mandatory">*</span></label>
				<f:form.textfield property="firstname" id="frm-skript-firstname-{skript.uid}"/>
			</fieldset>
			<fieldset class="row">
				<label for="frm-skript-lastname-{skript.uid}"><f:translate key="lastname" /><span class="mandatory">*</span></label>
				<f:form.textfield property="lastname" id="frm-skript-lastname-{skript.uid}"/>
			</fieldset>
			<fieldset class="row">
				<label for="frm-skript-titleAfter-{skript.uid}"><f:translate key="title-after" /></label>
				<f:form.select property="titleAfter" id="frm-skript-titleAfter-{skript.uid}" options="{lst_titel_nach}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title"/>
			</fieldset>
			<fieldset class="row">
				<label for="frm-skript-company-{skript.uid}"><f:translate key="company" /><span class="mandatory">*</span></label>
				<f:form.textfield property="company" id="frm-skript-company-{skript.uid}"/>
			</fieldset>
			<fieldset class="row">
				<label for="frm-skript-email-{skript.uid}"><f:translate key="email" /><span class="mandatory">*</span></label>
				<f:form.textfield property="email" id="frm-skript-email-{skript.uid}"/>
			</fieldset>
			<fieldset class="row newsletter">
				<f:form.checkbox property="newsletter" value="1" id="frm-skript-newsletter-{skript.uid}"/>
				<label for="frm-skript-newsletter-{skript.uid}"><f:translate key="newsletter-abonnieren" /></label>
			</fieldset>
			<fieldset class="row submit">
				<f:form.submit value='<f:translate key="form-button-submit" />' />
			</fieldset>
		</fieldset>
	</f:form>
  
</f:section>