<f:layout name="Default" />

<f:section name="main">
<f:if condition="{test}">
<br />uid: {skript}
<br />detailPage: {settings.detailPage}
</f:if>
<div class="skriptum-teaser">
	<f:if condition="{settings.detailPage}">
		<f:then>
			<f:link.page pageUid="{settings.detailPage}">
			<div class="skriptum-teaser-body">
			<f:if condition="{skript.teaserHeader}"><span class="skriptum-teaser-header">{skript.teaserHeader}</span></f:if>
			{skript.teaserText}
			</div>
			</f:link.page>
		</f:then>
		<f:else>
			<div class="skriptum-teaser-body">
			<f:if condition="{skript.teaserHeader}"><span class="skriptum-teaser-header">{skript.teaserHeader}</span></f:if>
			{skript.teaserText}
			</div>
		</f:else>
	</f:if>
</div>

</f:section>