{namespace vh=NEXT\IconReiseabrechnung\ViewHelpers}

<link href="/typo3conf/ext/icon_reiseabrechnung/Resources/Public/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">
<script src="/typo3conf/ext/icon_reiseabrechnung/Resources/Public/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script> 

            <fieldset class="block">
            	<legend>Reise:</legend>

				<fieldset>
					<label class="label">Reise-Nr:</label>
					<span><strong><vh:Reise mode="reisenr" reise="{reise}" /></strong></span>
				</fieldset>
				<fieldset>
					<label class="label">Status:</label>
					<span><strong>{reise.status}</strong></span>
				</fieldset>
                
               	<fieldset>
	           		<label class="label">Personal-Nr:</label>
	                   <span>{reise.personnr}</span>
				</fieldset>

	               <fieldset>
		           	<label class="label">Mitarbeiter:</label>
        	           <span>{reise.firstname} {reise.lastname}</span>
				</fieldset>                

                <fieldset>
	            	<label class="label vertical-top">Grund:</label>
<f:if condition="{userMode} == 'USER'">
	<f:then>
					<div class="reisegrund">
						<div>
		                    <f:form.radio property="grund" value="1" id="grund-1"/>
    		            	<label for="grund-1"><vh:Reise mode="grund" grund="1" /></label>
            	        </div>
        	            <div>
                	    	<f:form.radio property="grund" value="2" id="grund-2"/>
                			<label for="grund-2"><vh:Reise mode="grund" grund="2" /></label>
    	                </div>
	                    <div>
            		        <f:form.radio property="grund" value="3" id="grund-3"/>
        		        	<label for="grund-3"><vh:Reise mode="grund" grund="3" /></label>
            	        </div>
                    	<div>
    	                	<f:form.radio property="grund" value="4" id="grund-4"/>
	    	            	<label for="grund-4"><vh:Reise mode="grund" grund="4" /></label>
	                    </div>
					</div>
	</f:then>
	<f:else>
   	                <f:form.radio property="grund" value="{reise.grund}" id="grund-{reise.grund}"/>
	               	<label for="grund-{reise.grund}"><vh:Reise mode="grund" grund="{reise.grund}" /></label>
	</f:else>
</f:if>
                </fieldset>

                <fieldset>
                	<label class="label" for="">Ziel (Ort):</label>
                    <f:form.textfield property="ziel" id="ziel"/>
				</fieldset>
			</fieldset>
            
            <fieldset class="block">
            	<legend>Reisekontakt:</legend>
                <fieldset id="fs-firma">
                	<label class="label" for="firma">Firma</label>
                    <f:form.textfield property="firma" id="firma"/>
                </fieldset>
                <fieldset id="fs-kontaktperson">
                	<label class="label" for="kontaktperson"><span id="label-kontaktperson-1">Ansprechperson</span><span id="label-kontaktperson-4">Veranstalter</span></label>
                    <f:form.textfield property="kontaktperson" id="kontaktperson"/>
                </fieldset>
                <fieldset id="fs-thema">
                	<label class="label" for=""><span id="label-thema-1">Besprechungsgrund</span><span id="label-thema-3">Workshop-Titel</span><span id="label-thema-4">Seminartitel</span></label>
                    <f:form.textfield property="thema" id="thema"/>
                </fieldset>
                <fieldset id="fs-klientennr">
                	<label class="label" for="klientennr">Klienten-Nr.</label>
                    <f:form.textfield property="klientennr" id="klientennr"/>
                </fieldset>
                <fieldset id="fs-projektnr">
                	<label class="label" for="projektnr">Projekt-Nr.</label>
                    <f:form.textfield property="projektnr" id="projektnr"/>
                </fieldset>
                <fieldset id="fs-verrechenbar">
                	<label class="label" for="">Verrechenbar</label>
                    <f:form.radio property="verrechenbar" value="1" id="verrechenbar-1"/> <label for="verrechenbar-1">JA</label>
                    <f:form.radio property="verrechenbar" value="0" id="verrechenbar-0"/> <label for="verrechenbar-0">NEIN</label>
                </fieldset>
            </fieldset>
        
			<fieldset class="block">
            	<legend>Reiseplan:</legend>
                <div class="reise-datum-bar">
	                <div class="reise-eintaegig"><input type="checkbox" name="moreDays" id="moreDays" value="1" /><label for="moreDays">Mehrtägig</label></div>
            	    <div id="date-abschnitt-start" class="reise-datum-start"><label for="startdatetime">Datum Start:</label><input type="text" id="startdatetime" value=""/></div>
                    <div id="date-abschnitt-end" class="reise-datum-ende"><label for="enddatetime">Datum Ende:</label><input type="text" id="enddatetime" value="" /></div>
                </div>
                <f:form.hidden property="abschnitteUpdate" id="abschnitteUpdate" />

        <f:for each="{reise.abschnitte}" as="abschnitt" iteration="itemIterator">
                <div id="abschnitt-{abschnitt.uid}" data-id="{abschnitt.uid}" data-type="" data-date="{f:format.date(date: abschnitt.abDatetime, format: '%d.%m.%Y')}" class="col" style="margin-bottom:20px;">
<!--
                uid: {abschnitt.uid}
-->
                <fieldset class="abschnitt">
                	<legend>Reisetag:</legend>
					<fieldset>
	                	<label class="label">Start:</label>
    	                <input type="text" class="datetime" value="{f:format.date(date: abschnitt.abDatetime, format: '%d.%m.%Y %H:%M')}" id="abschnitt-abDatetime-{abschnitt.uid}" data-value="{f:format.date(date: abschnitt.abDatetime, format: '%d.%m.%Y %H:%M')}"/>
                    	<label class="label uhrzeit">Uhrzeit:</label>
                    	<input type="text" class="uhrzeit" value="{f:format.date(date: abschnitt.abDatetime, format: '%H:%M')}" data-validation="time" id="abschnitt-abUhrzeit-{abschnitt.uid}" data-validation="time"/>
        	            <label class="label ort">Ort:</label>
            	        <input type="text" class="ort" value="{abschnitt.abOrt}" id="abschnitt-abOrt-{abschnitt.uid}" data-value="{abschnitt.abOrt}" data-validation="required"/>
                	    <label class="label land">Land:</label>
                    	<f:form.select id="abschnitt-abCountry-{abschnitt.uid}" name="abschnitt-abCountry-{abschnitt.uid}" value="{abschnitt.abCountry}" additionalAttributes="{data-value: abschnitt.abCountry}" options="{optionsCountries}"/>
					</fieldset>
					<fieldset class="block-grenzuebertritt" id="block-grenzuebertritt-1-{abschnitt.uid}">
	                    <label class="label">Grenzübertritt 1:</label>
                    	<input type="text" class="datetime" id="abschnitt-guDatetime-{abschnitt.uid}" <f:if condition="{abschnitt.guDateTime}>0">value="{f:format.date(date: abschnitt.guDatetime, format: '%d.%m.%Y %H:%M')}" data-value="{f:format.date(date: abschnitt.guDatetime, format: '%d.%m.%Y %H:%M')}"</f:if> />
                    	<label class="label uhrzeit">Uhrzeit:</label>
                    	<input type="text" class="uhrzeit" id="abschnitt-guUhrzeit-{abschnitt.uid}" data-validation="time" <f:if condition="{abschnitt.guDateTime}>0">value="{f:format.date(date: abschnitt.guDatetime, format: '%H:%M')}" data-value="{f:format.date(date: abschnitt.guDatetime, format: '%H:%M')}"</f:if> />
                    	<label class="label ort">Ort:</label>
                    	<input type="text" class="ort" value="{abschnitt.guOrt}" id="abschnitt-guOrt-{abschnitt.uid}" data-value="{abschnitt.guOrt}" data-validation="required"/>
                    	<label class="label land">nach Land:</label>
                    	<f:form.select id="abschnitt-guCountry-{abschnitt.uid}" name="abschnitt-guCountry-{abschnitt.uid}" value="{abschnitt.guCountry}" additionalAttributes="{data-value: abschnitt.guCountry}" options="{optionsCountries}"/>
					</fieldset>
					<fieldset class="block-grenzuebertritt" id="block-grenzuebertritt-2-{abschnitt.uid}">
	                    <label class="label">Grenzübertritt 2:</label>
                    	<input type="text" class="datetime" id="abschnitt-gu2Datetime-{abschnitt.uid}" <f:if condition="{abschnitt.gu2DateTime}>0">value="{f:format.date(date: abschnitt.gu2Datetime, format: '%d.%m.%Y %H:%M')}" data-value="{f:format.date(date: abschnitt.gu2Datetime, format: '%d.%m.%Y %H:%M')}"</f:if> />
                    	<label class="label uhrzeit">Uhrzeit:</label>
                    	<input type="text" class="uhrzeit" id="abschnitt-gu2Uhrzeit-{abschnitt.uid}" data-validation="time" <f:if condition="{abschnitt.gu2DateTime}>0">value="{f:format.date(date: abschnitt.gu2Datetime, format: '%H:%M')}" data-value="{f:format.date(date: abschnitt.gu2Datetime, format: '%H:%M')}"</f:if> />
                    	<label class="label ort">Ort:</label>
                    	<input type="text" class="ort" value="{abschnitt.gu2Ort}" id="abschnitt-gu2Ort-{abschnitt.uid}" data-value="{abschnitt.gu2Ort}" data-validation="required"/>
                    	<label class="label land">nach Land:</label>
                    	<f:form.select id="abschnitt-gu2Country-{abschnitt.uid}" name="abschnitt-gu2Country-{abschnitt.uid}" value="{abschnitt.gu2Country}" additionalAttributes="{data-value: abschnitt.gu2Country}" options="{optionsCountries}"/>
					</fieldset>
					<fieldset class="block-grenzuebertritt" id="block-grenzuebertritt-3-{abschnitt.uid}">
	                    <label class="label">Grenzübertritt 3:</label>
                    	<input type="text" class="datetime" id="abschnitt-gu3Datetime-{abschnitt.uid}" <f:if condition="{abschnitt.gu3DateTime}>0">value="{f:format.date(date: abschnitt.gu3Datetime, format: '%d.%m.%Y %H:%M')}" data-value="{f:format.date(date: abschnitt.gu3Datetime, format: '%d.%m.%Y %H:%M')}"</f:if> />
                    	<label class="label uhrzeit">Uhrzeit:</label>
                    	<input type="text" class="uhrzeit" id="abschnitt-gu3Uhrzeit-{abschnitt.uid}" data-validation="time" <f:if condition="{abschnitt.gu3DateTime}>0">value="{f:format.date(date: abschnitt.gu3Datetime, format: '%H:%M')}" data-value="{f:format.date(date: abschnitt.gu3Datetime, format: '%H:%M')}"</f:if> />
                    	<label class="label ort">Ort:</label>
                    	<input type="text" class="ort" value="{abschnitt.gu3Ort}" id="abschnitt-gu3Ort-{abschnitt.uid}" data-value="{abschnitt.gu3Ort}" data-validation="required"/>
                    	<label class="label land">nach Land:</label>
                    	<f:form.select id="abschnitt-gu3Country-{abschnitt.uid}" name="abschnitt-gu3Country-{abschnitt.uid}" value="{abschnitt.gu3Country}" additionalAttributes="{data-value: abschnitt.gu3Country}" options="{optionsCountries}"/>
					</fieldset>
					<fieldset class="block-grenzuebertritt" id="block-grenzuebertritt-4-{abschnitt.uid}">
	                    <label class="label">Grenzübertritt 4:</label>
                    	<input type="text" class="datetime" id="abschnitt-gu4Datetime-{abschnitt.uid}" <f:if condition="{abschnitt.gu4DateTime}>0">value="{f:format.date(date: abschnitt.gu4Datetime, format: '%d.%m.%Y %H:%M')}" data-value="{f:format.date(date: abschnitt.gu4Datetime, format: '%d.%m.%Y %H:%M')}"</f:if> />
                    	<label class="label uhrzeit">Uhrzeit:</label>
                    	<input type="text" class="uhrzeit" id="abschnitt-gu4Uhrzeit-{abschnitt.uid}" data-validation="time" <f:if condition="{abschnitt.gu4DateTime}>0">value="{f:format.date(date: abschnitt.gu4Datetime, format: '%H:%M')}" data-value="{f:format.date(date: abschnitt.gu4Datetime, format: '%H:%M')}"</f:if> />
                    	<label class="label ort">Ort:</label>
                    	<input type="text" class="ort" value="{abschnitt.gu4Ort}" id="abschnitt-gu4Ort-{abschnitt.uid}" data-value="{abschnitt.gu4Ort}" data-validation="required"/>
                    	<label class="label land">nach Land:</label>
                    	<f:form.select id="abschnitt-gu4Country-{abschnitt.uid}" name="abschnitt-gu4Country-{abschnitt.uid}" value="{abschnitt.gu4Country}" additionalAttributes="{data-value: abschnitt.gu4Country}" options="{optionsCountries}"/>
					</fieldset>

					<fieldset class="grenzuebertritt-buttons" id="grenzuebertritt-buttons-{abschnitt.uid}" data-count="0">
                        <button type="button" id="del-GU-{abschnitt.uid}" data-id="{abschnitt.uid}" class="button-remove">letzten Grenzübertritt entfernen</button>
						<button type="button" id="add-GU-{abschnitt.uid}" data-id="{abschnitt.uid}" class="button-remove">Grenzübertritt hinzufügen</button>
					</fieldset>

					<fieldset>
                    	<label class="label">Ende:</label>
                    	<input type="text" class="datetime" value="{f:format.date(date: abschnitt.anDatetime, format: '%d.%m.%Y %H:%M')}" id="abschnitt-anDatetime-{abschnitt.uid}" data-value="{f:format.date(date: abschnitt.anDatetime, format: '%d.%m.%Y %H:%M')}"/>
                    	<label class="label uhrzeit">Uhrzeit:</label>
                    	<input type="text" class="uhrzeit" value="{f:format.date(date: abschnitt.anDatetime, format: '%H:%M')}" id="abschnitt-anUhrzeit-{abschnitt.uid}" data-validation="time"/>
                    	<label class="label ort">Ort:</label>
                    	<input type="text" class="ort" value="{abschnitt.anOrt}" id="abschnitt-anOrt-{abschnitt.uid}" data-value="{abschnitt.anOrt}" data-validation="required"/>
                   	 <label class="label land">Land:</label>
                   		<f:form.select id="abschnitt-anCountry-{abschnitt.uid}" name="abschnitt-anCountry-{abschnitt.uid}" value="{abschnitt.anCountry}" additionalAttributes="{data-value: abschnitt.anCountry}" options="{optionsCountries}"/>
					</fieldset>
					<fieldset>
                    	<label class="label">Privatanteil:</label>
                    	<input type="text" class="uhrzeit" value="{abschnitt.privatehours}" id="abschnitt-privatehours-{abschnitt.uid}" data-value="{abschnitt.privatehours}" data-validation="time"/> Stunden
					</fieldset>
					<fieldset>
                    	<label class="label">Verpflegung:</label>
                    	<input type="checkbox" name="abschnitt-mittag-{abschnitt.uid}" value="1" id="abschnitt-mittag-{abschnitt.uid}" data-checked="{abschnitt.mittag}" {f:if(condition:'{abschnitt.mittag}==1',then:'checked="checked"',else:'')}/>
                    	<label for="abschnitt-mittag-{abschnitt.uid}">Mittag</label>
                    	<input type="checkbox" name="abschnitt-abend-{abschnitt.uid}" value="1" id="abschnitt-abend-{abschnitt.uid}" data-checked="{abschnitt.abend}" {f:if(condition:'{abschnitt.abend}==1',then:'checked="checked"',else:'')}/>
                    	<label for="abschnitt-abend-{abschnitt.uid}">Abend</label>
					</fieldset>
					<fieldset class="block-naechtigung">
                    	<label class="label">Nächtigung:</label>
                    	<input type="radio" name="abschnitt-nacht-{abschnitt.uid}" value="0" id="abschnitt-nacht-0-{abschnitt.uid}" data-checked="{abschnitt.nacht}" {f:if(condition:'{abschnitt.nacht}==0',then:'checked="checked"',else:'')}/>
                    	<label for="abschnitt-nacht-0-{abschnitt.uid}">Keine</label>
                    	<input type="radio" name="abschnitt-nacht-{abschnitt.uid}" value="1" id="abschnitt-nacht-1-{abschnitt.uid}" data-checked="{abschnitt.nacht}" {f:if(condition:'{abschnitt.nacht}==1',then:'checked="checked"',else:'')}/>
                    	<label for="abschnitt-nacht-1-{abschnitt.uid}">Beleg</label>
                    	<input type="radio" name="abschnitt-nacht-{abschnitt.uid}" value="2" id="abschnitt-nacht-2-{abschnitt.uid}" data-checked="{abschnitt.nacht}" {f:if(condition:'{abschnitt.nacht}==2',then:'checked="checked"',else:'')}/>
                    	<label for="abschnitt-nacht-2-{abschnitt.uid}">private Übernachtung</label>
                    	<input type="radio" name="abschnitt-nacht-{abschnitt.uid}" value="3" id="abschnitt-nacht-3-{abschnitt.uid}" data-checked="{abschnitt.nacht}" {f:if(condition:'{abschnitt.nacht}==3',then:'checked="checked"',else:'')}/>
                    	<label for="abschnitt-nacht-3-{abschnitt.uid}">durch ICON</label>
                    	<input type="radio" name="abschnitt-nacht-{abschnitt.uid}" value="4" id="abschnitt-nacht-4-{abschnitt.uid}" data-checked="{abschnitt.nacht}" {f:if(condition:'{abschnitt.nacht}==4',then:'checked="checked"',else:'')}/>
                    	<label for="abschnitt-nacht-4-{abschnitt.uid}">durch Klient</label>
					</fieldset>
                </fieldset>
            </div>        	
        </f:for>

        		<div id="EMPTY-abschnitt" style="display:none;">
        	        <div id="abschnitt-NEW" data-id="NEW" data-type="new" data-date="" class="col" style="margin-bottom:20px;">
<!--
                		Nr.: NEW
-->
		                <fieldset class="abschnitt">
        		        	<legend>Tag:</legend>
							<fieldset>
                				<label class="label">Start:</label>
		            	        <input type="text" class="datetime" value="" id="abschnitt-abDatetime-NEW" />
	                            <label class="label uhrzeit">Uhrzeit:</label>
       		                    <input type="text" class="uhrzeit" value="" id="abschnitt-abUhrzeit-NEW" data-validation="time"/>
        		        	    <label class="label ort">Ort:</label>
                		    	<input type="text" class="ort" value="" id="abschnitt-abOrt-NEW" data-validation="required"/>
			                    <label class="label land">Land:</label>
    	        		        <f:form.select id="abschnitt-abCountry-NEW" name="abschnitt-abCountry-NEW" options="{optionsCountries}" optionLabelField="label"/>
							</fieldset>
							<fieldset class="block-grenzuebertritt hide" id="block-grenzuebertritt-1-NEW">
	            		        <label class="label">Grenzübertritt 1:</label>
       		            		<input type="text" class="datetime" value="" id="abschnitt-guDatetime-NEW" />
	                            <label class="label uhrzeit">Uhrzeit:</label>
       		                    <input type="text" class="uhrzeit" value="" id="abschnitt-guUhrzeit-NEW" data-validation="time"/>
	                		    <label class="label ort">Ort:</label>
			                    <input type="text" class="ort" value="" id="abschnitt-guOrt-NEW" data-validation="required"/>
       	    			        <label class="label land">nach Land:</label>
           		    		    <f:form.select id="abschnitt-guCountry-NEW" name="abschnitt-guCountry-NEW" options="{optionsCountries}" />
							</fieldset>
							<fieldset class="block-grenzuebertritt hide" id="block-grenzuebertritt-2-NEW">
	            		        <label class="label">Grenzübertritt 2:</label>
       		            		<input type="text" class="datetime" value="" id="abschnitt-gu2Datetime-NEW" />
	                            <label class="label uhrzeit">Uhrzeit:</label>
       		                    <input type="text" class="uhrzeit" value="" id="abschnitt-gu2Uhrzeit-NEW" data-validation="time"/>
	                		    <label class="label ort">Ort:</label>
			                    <input type="text" class="ort" value="" id="abschnitt-gu2Ort-NEW" data-validation="required"/>
       	    			        <label class="label land">nach Land:</label>
           		    		    <f:form.select id="abschnitt-gu2Country-NEW" name="abschnitt-gu2Country-NEW" options="{optionsCountries}" />
							</fieldset>
							<fieldset class="block-grenzuebertritt hide" id="block-grenzuebertritt-3-NEW">
	            		        <label class="label">Grenzübertritt 3:</label>
       		            		<input type="text" class="datetime" value="" id="abschnitt-gu3Datetime-NEW" />
	                            <label class="label uhrzeit">Uhrzeit:</label>
       		                    <input type="text" class="uhrzeit" value="" id="abschnitt-gu3Uhrzeit-NEW" data-validation="time"/>
	                		    <label class="label ort">Ort:</label>
			                    <input type="text" class="ort" value="" id="abschnitt-gu3Ort-NEW" data-validation="required"/>
       	    			        <label class="label land">nach Land:</label>
           		    		    <f:form.select id="abschnitt-gu3Country-NEW" name="abschnitt-gu3Country-NEW" options="{optionsCountries}" />
							</fieldset>
							<fieldset class="block-grenzuebertritt hide" id="block-grenzuebertritt-4-NEW">
	            		        <label class="label">Grenzübertritt 4:</label>
       		            		<input type="text" class="datetime" value="" id="abschnitt-gu4Datetime-NEW" />
	                            <label class="label uhrzeit">Uhrzeit:</label>
       		                    <input type="text" class="uhrzeit" value="" id="abschnitt-gu4Uhrzeit-NEW" data-validation="time"/>
	                		    <label class="label ort">Ort:</label>
			                    <input type="text" class="ort" value="" id="abschnitt-gu4Ort-NEW" data-validation="required"/>
       	    			        <label class="label land">nach Land:</label>
           		    		    <f:form.select id="abschnitt-gu4Country-NEW" name="abschnitt-gu4Country-NEW" options="{optionsCountries}" />
							</fieldset>
							<fieldset class="grenzuebertritt-buttons" id="grenzuebertritt-buttons-NEW" data-count="0">
            		            <button type="button" id="del-GU-NEW" data-id="NEW" class="button-remove">letzten Grenzübertritt entfernen</button>
								<button type="button" id="add-GU-NEW" data-id="NEW" class="button-remove">Grenzübertritt hinzufügen</button>
							</fieldset>
							<fieldset>
       		    		        <label class="label">Ende:</label>
               		    		<input type="text" class="datetime" value="" id="abschnitt-anDatetime-NEW" />
	                            <label class="label uhrzeit">Uhrzeit:</label>
       		                    <input type="text" class="uhrzeit" value="" id="abschnitt-anUhrzeit-NEW" data-validation="time"/>
			                    <label class="label ort">Ort:</label>
       				            <input type="text" class="ort" value="" id="abschnitt-anOrt-NEW" data-validation="required" />
               				    <label class="label land">Land:</label>
           		        		<f:form.select id="abschnitt-anCountry-NEW" name="abschnitt-anCountry-NEW" options="{optionsCountries}" />
							</fieldset>
							<fieldset>
	                		    <label class="label">Privatanteil:</label>
			                    <input type="text" class="uhrzeit" value="00:00" id="abschnitt-privatehours-NEW" data-validation="time"/> Stunden
							</fieldset>
							<fieldset>
               				    <label class="label">Verpflegung:</label>
	                    		<input type="checkbox" name="abschnitt-mittag-NEW" value="1" id="abschnitt-mittag-NEW" />
	        		            <label for="abschnitt-mittag-NEW">Mittag</label>
			                    <input type="checkbox" name="abschnitt-abend-NEW" value="1" id="abschnitt-abend-NEW" />
       				            <label for="abschnitt-abend-NEW">Abend</label>
							</fieldset>
							<fieldset class="block-naechtigung">
	            		        <label class="label">Nächtigung:</label>
	        		            <input type="radio" name="abschnitt-nacht-NEW" value="0" id="abschnitt-nacht-0-NEW" checked="checked"/>
       		        		    <label for="abschnitt-nacht-0-NEW">Keine</label>
	        		            <input type="radio" name="abschnitt-nacht-NEW" value="1" id="abschnitt-nacht-1-NEW"/>
       		        		    <label for="abschnitt-nacht-1-NEW">Beleg</label>
	                		    <input type="radio" name="abschnitt-nacht-NEW" value="2" id="abschnitt-nacht-2-NEW"/>
		    	                <label for="abschnitt-nacht-2-NEW">private Übernachtung</label>
       				            <input type="radio" name="abschnitt-nacht-NEW" value="3" id="abschnitt-nacht-3-NEW"/>
	   	            		    <label for="abschnitt-nacht-3-NEW">durch ICON</label>
			                    <input type="radio" name="abschnitt-nacht-NEW" value="4" id="abschnitt-nacht-4-NEW"/>
	       			            <label for="abschnitt-nacht-4-NEW">durch Klient</label>
							</fieldset>
                		</fieldset>
					</div>
				</div>
				<div id="block-abschnitte-new"></div>
            </fieldset>


			<fieldset class="block">
            	<legend>Verkehrsmittel:</legend>
                <div>
	               	<fieldset class="vkm-col">
						<f:form.checkbox property="vkmBahn" value="1" id="verkehrsmittel-bahn"/>
        	        	<label for="verkehrsmittel-bahn">Bahn</label>
            	    </fieldset>
               		<fieldset class="vkm-col">
						<f:form.checkbox property="vkmFlug" value="1" id="verkehrsmittel-flugzeug"/>
        	        	<label for="verkehrsmittel-flugzeug">Flugzeug</label>
            	    </fieldset>
               		<fieldset class="vkm-col">
	    				<f:form.checkbox property="vkmMietauto" value="1" id="verkehrsmittel-mietauto"/>
		            	<label for="verkehrsmittel-mietauto">Mietauto</label>
        	        </fieldset>
            	   	<fieldset class="vkm-col">
						<f:form.checkbox property="vkmPkwDienst" value="1" id="verkehrsmittel-pkw-dienst"/>
        	        	<label for="verkehrsmittel-pkw-dienst">Dienst-PKW</label>
            	    </fieldset>
				</div>
				<div>
	               	<fieldset class="vkm-col">
						<f:form.checkbox property="vkmPkwPrivat" value="1" id="verkehrsmittel-pkw-privat"/>
        	        	<label for="verkehrsmittel-pkw-privat">Privat-PKW gegen km-Geld</label>
            	    </fieldset>
               		<fieldset class="vkm-col">
						<f:form.checkbox property="vkmMitreise" value="1" id="verkehrsmittel-mitreise"/>
	   	            	<label for="verkehrsmittel-mitreise">Mitreise mit PKW</label>
		            </fieldset>
        	       	<fieldset class="vkm-col">
						<f:form.checkbox property="vkmSonstigeOeffentliche" value="1" id="verkehrsmittel-sonstige"/>
   	            		<label for="verkehrsmittel-sonstige">sonstige öffentliche Verkehrsmittel</label>
		            </fieldset>
				</div>
            </fieldset>


			<fieldset id="block-kmgefahren" class="block">
            	<legend>Gefahrene KM:</legend>
               	<fieldset id="fs-kmgefahren">
                	<label class="label" for="kmgefahren">Gefahrene KM:</label>
					<f:form.textfield property="kmgefahren" id="kmgefahren" class="gefahrenekm"/>
   	            	KM
	            </fieldset>
            </fieldset>

			<fieldset id="block-passengers" class="block">
            	<legend>Mitreisende:</legend>
                <f:form.hidden property="passengersUpdate" id="passengersUpdate"/>
        <f:for each="{reise.passengers}" as="passenger" iteration="itemIterator">
                <div id="passenger-{passenger.uid}" data-id="{passenger.uid}" class="col" style="margin-bottom:20px;">
<!--
                uid: {passenger.uid}
-->
               	<fieldset class="mitreisender">
                	<label class="label" for="passenger-fn-{passenger.uid}">Vorname:</label>
                    <input type="text" value="{passenger.firstname}" id="passenger-fn-{passenger.uid}" data-value="{passenger.firstname}" data-validation="required"/>
                	<label class="label" for="passenger-ln-{passenger.uid}">Nachname:</label>
                    <input type="text" value="{passenger.lastname}" id="passenger-ln-{passenger.uid}" data-value="{passenger.lastname}" data-validation="required"/>
					<label class="label" for="passenger-km-{passenger.uid}">Mitgefahrene KM:</label>
					<input type="text" value="{passenger.kmgefahren}" id="passenger-km-{passenger.uid}" data-value="{passenger.kmgefahren}" data-validation="required" style="width:60px;"/>
	                <button type="button" id="del-passenger-{passenger.uid}" data-id="{passenger.uid}" class="button-remove">X</button>
                </fieldset>
                </div>        	
        </f:for>

				<div id="add-passenger-empty" style="display:none;">
					<div id="add-passenger-NEW" data-id="NEW" data-type="new">
<!--
						Nr.: NEW
-->
						<fieldset class="mitreisender">
							<label class="label" for="add-passenger-fn-NEW">Vorname:</label>
							<input type="text" id="add-passenger-fn-NEW" data-validation="required"/>
							<label class="label" for="add-passenger-ln-NEW">Nachname:</label>
							<input type="text" id="add-passenger-ln-NEW" data-validation="required"/>
							<label class="label" for="add-passenger-km-NEW" >Mitgefahrene KM:</label>
							<input type="text" id="add-passenger-km-NEW" data-validation="required" style="width:60px;"/>
<f:if condition="{userMode} != 'CHIEF'">
						<button type="button" id="rem-passenger-NEW" data-id="NEW" class="button-remove">X</button>
</f:if>
						</fieldset>
					</div>
				</div>
				<div id="block-passengers-new"></div>
<f:if condition="{userMode} != 'CHIEF'">
                <div class="">
                	<input id="button-passenger" type="button" value="Mitreisenden hinzufügen" class="button"/>
                </div>
</f:if>
            </fieldset>


			<fieldset class="block">
            	<legend>Belege:</legend>
                <f:form.hidden property="belegeUpdate" id="belegeUpdate" />
        <f:for each="{reise.belege}" as="beleg" iteration="itemIterator">
                <div id="beleg-{beleg.uid}" data-id="{beleg.uid}" class="block-beleg">
                Nr.: 
<!--
	                uid: {beleg.uid}
-->
    	           	<fieldset>
        	        	<label class="label art" for="beleg-type-{beleg.uid}">Art:</label>
                        <f:form.select id="beleg-type-{beleg.uid}" name="beleg-type-{beleg.uid}" value="{beleg.type}" additionalAttributes="{data-value: beleg.type}" options="{optionsBelegType}"/>
<!--
                	</fieldset>
	               	<fieldset>
-->
    	            	<label class="label land" for="beleg-country-{beleg.uid}">Land:</label>
                        <f:form.select id="beleg-country-{beleg.uid}" name="beleg-country-{beleg.uid}" value="{beleg.country}" additionalAttributes="{data-value: beleg.country}" options="{optionsCountries}"/>
<!--
            	    </fieldset>
               		<fieldset>
-->
                		<label class="label" for="beleg-sum-{beleg.uid}">Brutto-Betrag (Beleg):</label>
	                    <input type="text" class="money" value="<f:format.number decimalSeparator=',' thousandsSeparator=''>{beleg.sum}</f:format.number>" id="beleg-sum-{beleg.uid}" data-value="<f:format.number decimalSeparator=',' thousandsSeparator=''>{beleg.sum}</f:format.number>" data-validation="number" data-validation-allowing="float" data-sanitize="numberFormat" data-sanitize-number-format="0.00" data-sanitize-number-delimiter-decimal=","/>
<!--
    	            </fieldset>
	               	<fieldset>
-->
    	            	<label class="label currency" for="beleg-currency-{beleg.uid}">Währung:</label>
        	            <input type="text" class="currency" value="{beleg.currency}" id="beleg-currency-{beleg.uid}" data-value="{beleg.currency}" as_data-validation="letternumeric"/>
            	    </fieldset>
<f:if condition="{userMode} == 'MANAGER'">
               		<fieldset>
                		<label class="label" for="beleg-sumEuroBrutto-{beleg.uid}">EURO Brutto-Betrag:</label>
	                    <input type="text" class="money" value="<f:format.number decimalSeparator=',' thousandsSeparator=''>{beleg.sumEuroBrutto}</f:format.number>" id="beleg-sumEuroBrutto-{beleg.uid}" data-value="<f:format.number decimalSeparator=',' thousandsSeparator=''>{beleg.sumEuroBrutto}</f:format.number>" data-validation="number" data-validation-allowing="float" data-sanitize="numberFormat" data-sanitize-number-format="0.00" data-sanitize-number-delimiter-decimal=","/>
<!--
    	            </fieldset>
               		<fieldset>
-->
                		<label class="label" for="beleg-sumEuroNetto-{beleg.uid}">EURO Netto-Betrag:</label>
	                    <input type="text" class="money" value="<f:format.number decimalSeparator=',' thousandsSeparator=''>{beleg.sumEuroNetto}</f:format.number>" id="beleg-sumEuroNetto-{beleg.uid}" data-value="<f:format.number decimalSeparator=',' thousandsSeparator=''>{beleg.sumEuroNetto}</f:format.number>" data-validation="number" data-validation-allowing="float" data-sanitize="numberFormat" data-sanitize-number-format="0.00" data-sanitize-number-delimiter-decimal=","/>
<!--
    	            </fieldset>
               		<fieldset>
-->
                		<label class="" for="beleg-taxfee-{beleg.uid}">Steuersatz:</label>
	                    <input type="text" class="taxfee" value="{beleg.taxfee}" id="beleg-taxfee-{beleg.uid}" data-value="{beleg.taxfee}" data-validation="number" data-validation-allowing="float" data-sanitize="numberFormat" data-sanitize-number-format="0.0" data-sanitize-number-delimiter-decimal="," />
<!--
    	            </fieldset>
               		<fieldset>
-->
	                    <input type="radio" name="beleg-mitarbeiter-{beleg.uid}" value="1" id="beleg-mitarbeiter-1-{beleg.uid}" data-checked="{beleg.mitarbeiter}" {f:if(condition:'{beleg.mitarbeiter}==1',then:'checked="checked"',else:'')}/>
                		<label for="beleg-mitarbeiter-1-{beleg.uid}">Mitarbeiter</label>
	                    <input type="radio" name="beleg-mitarbeiter-{beleg.uid}" value="0" id="beleg-mitarbeiter-0-{beleg.uid}" data-checked="{beleg.mitarbeiter}" {f:if(condition:'{beleg.mitarbeiter}==0',then:'checked="checked"',else:'')}/>
                		<label for="beleg-mitarbeiter-0-{beleg.uid}">ICON</label>
    	            </fieldset>
</f:if>
<f:if condition="{userMode} != 'CHIEF'">
					<div class="row-button">
	        	        <button type="button" id="del-beleg-{beleg.uid}" data-id="{beleg.uid}" class="button-remove">X</button>
					</div>
</f:if>
                </div>        	
        </f:for>
        		<div id="add-beleg-empty" style="display:none;">
        	        <div id="add-beleg-NEW" data-id="NEW" data-type="new" class="block-beleg">
<!--
		                Nr: NEW
-->
    	           		<fieldset>
        	    	    	<label class="label art" for="add-beleg-type-NEW">Art:</label>
            		        <f:form.select id="add-beleg-type-NEW" name="add-beleg-type-NEW" options="{optionsBelegType}" prependOptionLabel="-- wählen --" prependOptionValue=""/>
<!--
        	        	</fieldset>
		               	<fieldset>
-->
    	            		<label class="label land" for="add-beleg-country-NEW">Land:</label>
            		        <f:form.select id="add-beleg-country-NEW" name="add-beleg-country-NEW" options="{optionsCountries}" />
<!--
            		    </fieldset>
               			<fieldset>
-->
                			<label class="label" for="add-beleg-sum-NEW">Brutto-Betrag (Beleg):</label>
	        	            <input type="text" class="money" value="" id="add-beleg-sum-NEW" data-validation="number" data-validation-allowing="float" data-sanitize="numberFormat" data-sanitize-number-format="0.00" data-sanitize-number-delimiter-decimal=","/>
<!--
    		            </fieldset>
	        	       	<fieldset>
-->
    		            	<label class="label currency" for="add-beleg-currency-NEW">Währung:</label>
    	    	            <input type="text" class="currency" value="EUR" id="add-beleg-currency-NEW" data-validation="letternumeric"/>
	            	    </fieldset>
<f:if condition="{userMode} == 'MANAGER'">
						<fieldset>
                			<label class="label" for="add-beleg-sumEuroBrutto-NEW">EURO Brutto-Betrag:</label>
	        	            <input type="text" class="money" value="" id="add-beleg-sumEuroBrutto-NEW" data-validation="number" data-validation-allowing="float" data-sanitize="numberFormat" data-sanitize-number-format="0.00" data-sanitize-number-delimiter-decimal=","/>
<!--
    		            </fieldset>
						<fieldset>
-->
                			<label class="label" for="add-beleg-sumEuroNetto-NEW">EURO Netto-Betrag:</label>
	        	            <input type="text" class="money" value="" id="add-beleg-sumEuroNetto-NEW" data-validation="number" data-validation-allowing="float" data-sanitize="numberFormat" data-sanitize-number-format="0.00" data-sanitize-number-delimiter-decimal=","/>
<!--
    		            </fieldset>
						<fieldset>
-->
                			<label class="" for="add-beleg-taxfee-NEW">Steuersatz:</label>
	        	            <input type="text" class="taxfee" value="" id="add-beleg-taxfee-NEW" data-validation="number" data-validation-allowing="float" data-sanitize="numberFormat" data-sanitize-number-format="0" data-sanitize-number-delimiter-decimal=","/>
<!--
    		            </fieldset>
						<fieldset>
-->
	        	            <input type="radio" name="add-beleg-mitarbeiter-NEW" value="1" id="add-beleg-mitarbeiter-1-NEW" />
                			<label for="add-beleg-mitarbeiter-1-NEW">Mitarbeiter</label>
	        	            <input type="radio" name="add-beleg-mitarbeiter-NEW" value="0" id="add-beleg-mitarbeiter-0-NEW" checked="checked"/>
                			<label for="add-beleg-mitarbeiter-0-NEW">ICON</label>
    		            </fieldset>
</f:if>
						<div class="row-button">
	    	    	        <button id="rem-beleg-NEW" data-id="NEW" class="button-remove">X</button>
						</div>
	                </div>        	
				</div>
				<div id="block-belege-new"></div>
<f:if condition="{userMode} != 'CHIEF'">
                <div class="">
                	<input id="button-beleg" type="button" value="Beleg hinzufügen" class="button"/>
                </div>
</f:if>
<f:if condition="{userMode} == 'MANAGER'">
				<fieldset class="block-beleg-upload">
			        <f:form.upload name="filePDF" id="filePDF" />
                    <label for="filePDF">Gescannte Belege hochladen (1. Datei / .pdf / max. 5 MB!)</label>
					<f:form.hidden property="belegePdf" id="belegePdf" />
				<f:if condition="{reise.belegePdf}">
					<div id="block-showBelegePdf" class="">
                    <br/>
					<a href="/{settings.manager.upload.path}{reise.belegePdf}" target="_blank">Belege (PDF) anzeigen</a> | 
					<input type="button" id="del-belegepdf" value="Belege (PDF) entfernen" class="button"/>
                    </div>
				</f:if>
                </fieldset>
</f:if>
            </fieldset>
			
<f:if condition="{userMode} != 'CHIEF'">
			<fieldset class="block">
	            <fieldset class="fs_submit">
                <f:if condition="{userMode}=='MANAGER'">
                	<f:then>
	    		        <f:form.submit value="Speichern und Berechnen" class="button"/>
					</f:then>
                	<f:else>
	    		        <f:form.submit value="Speichern" class="button"/>
					</f:else>
				</f:if>                    
            	</fieldset>
<div class="hide">
SUBMIT TESTEN: <input type="checkbox" id="test-submit" value="1" />
</div>
			</fieldset>
</f:if>

<f:if condition="{userMode}!='USER'">
	<f:render partial="Reise/TableSummen" arguments="{_all}"/>
</f:if>
