            <div class="block" style="margin-top:20px;">
            	<table width="100%">
                	<thead>
                    	<tr>
                        	<th>Summe steuerfrei</th>
                            <th>Summe steuerpflichtig</th>
                            <th>Summe Gesamt</th>
                        </tr>
                    </thead>
                	<tbody>
                    	<tr>
                        	<td><f:format.raw><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTaxfree}</f:format.currency></f:format.raw></td>
                        	<td><f:format.raw><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTax}</f:format.currency></f:format.raw></td>
                        	<td><f:format.raw><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTotal}</f:format.currency></f:format.raw></td>
                        </tr>
                    </tbody>
                </table>
            </div>
