{namespace vh=NEXT\IconReiseabrechnung\ViewHelpers}

            <div class="block">
            	<table class="overview-sum" width="100%">
                	<thead>
                    	<tr>
                        	<th>Summe steuerfrei</th>
                            <th>Summe steuerpflichtig</th>
                            <th>Summe Gesamt</th>
<f:if condition="{userMode}!='USER'">
                            <th>Summe Gesamt WV</th>
</f:if>
                        </tr>
                    </thead>
                	<tbody>
                    	<tr>
                        	<td>
    	           	<f:format.raw><vh:Reise mode="showSumMA" reise="{reise}" userMode="{userMode}">
						<f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTaxfree}</f:format.currency>
					</vh:Reise></f:format.raw>
                            </td>
                        	<td>
    	           	<f:format.raw><vh:Reise mode="showSumMA" reise="{reise}" userMode="{userMode}">
						<f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTax}</f:format.currency>
					</vh:Reise></f:format.raw>
                            </td>
                        	<td>
    	           	<f:format.raw><vh:Reise mode="showSumMA" reise="{reise}" userMode="{userMode}">
						<f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTotal}</f:format.currency>
					</vh:Reise></f:format.raw>
                            </td>
<f:if condition="{userMode}!='USER'">
                        	<td>
						<f:format.raw><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTotalWv}</f:format.currency></f:format.raw>
                            </td>
</f:if>
                        </tr>
                    </tbody>
                </table>
            </div>
