{namespace vh=NEXT\IconReiseabrechnung\ViewHelpers}

<link href="/typo3conf/ext/icon_reiseabrechnung/Resources/Public/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">

            <fieldset class="block">
            	<legend>Reise:</legend>

                <fieldset>
	            	<label class="label">Reise-Nr:</label>
                    <span><strong><vh:Reise mode="reisenr" reise="{reise}" /></strong></span>
				</fieldset>
                <fieldset>
	            	<label class="label">Status:</label>
                    <span><strong>{reise.status}</strong></span>
				</fieldset>
                
                <fieldset>
	            	<label class="label">Personal-Nr:</label>
                    <span>{reise.personnr}</span>
				</fieldset>
                <fieldset>
	            	<label class="label">Mitarbeiter:</label>
                    <span>{reise.firstname} {reise.lastname}</span>
				</fieldset>                
                
                <fieldset>
	            	<label class="label">Grund:</label>
                    <span><vh:Reise mode="grund" grund="{reise.grund}" /></span>
                </fieldset>

                <fieldset>
                	<label class="label" for="">Ziel:</label>
                    <span>{reise.ziel}</span>
				</fieldset>
			</fieldset>
            
            <fieldset class="block">
            	<legend>Reisekontakt:</legend>

<f:if condition="{reise.grund}==1">
                <fieldset id="fs-firma">
                	<label class="label" for="firma">Firma:</label>
                    <span>{reise.firma}</span>
                </fieldset>
                <fieldset id="fs-kontaktperson">
                	<label class="label" for="kontaktperson"><span id="label-kontaktperson-1">Ansprechperson:</span></label>
                    <span>{reise.kontaktperson}</span>
                </fieldset>
                <fieldset id="fs-thema">
                	<label class="label" for=""><span id="label-thema-1">Besprechungsgrund:</span></label>
                    <span>{reise.thema}</span>
                </fieldset>
                <fieldset id="fs-klientennr">
                	<label class="label" for="klientennr">KL.Nr.:</label>
                    <span>{reise.klientennr}</span>
                </fieldset>
                <fieldset id="fs-projektnr">
                	<label class="label" for="projektnr">Projekt-Nr.:</label>
                    <span>{reise.projektnr}</span>
                </fieldset>
                <fieldset id="fs-verrechenbar">
                	<label class="label" for="">Verrechenbar:</label>
                    <span><f:if condition="{reise.verrechenbar}=='1'"><f:then>JA</f:then><f:else>NEIN</f:else></f:if>
                </fieldset>
</f:if>

<f:if condition="{reise.grund}==2">
                <fieldset id="fs-thema">
                	<label class="label" for=""><span id="label-thema-3">Workshop-Titel:</span></label>
                    <span>{reise.thema}</span>
                </fieldset>
</f:if>

<f:if condition="{reise.grund}==3">
                <fieldset id="fs-firma">
                	<label class="label" for="firma">Firma:</label>
                    <span>{reise.firma}</span>
                </fieldset>
                <fieldset id="fs-kontaktperson">
                	<label class="label" for="kontaktperson"><span id="label-kontaktperson-1">Ansprechperson:</span></label>
                    <span>{reise.kontaktperson}</span>
                </fieldset>
                <fieldset id="fs-thema">
                	<label class="label" for=""><span id="label-thema-3">Workshop-Titel:</span></label>
                    <span>{reise.thema}</span>
                </fieldset>
                <fieldset id="fs-klientennr">
                	<label class="label" for="klientennr">Klienten-Nr.:</label>
                    <span>{reise.klientennr}</span>
                </fieldset>
                <fieldset id="fs-projektnr">
                	<label class="label" for="projektnr">Projekt-Nr.:</label>
                    <span>{reise.projektnr}</span>
                </fieldset>
                <fieldset id="fs-verrechenbar">
                	<label class="label" for="">Verrechenbar:</label>
                    <span><f:if condition="{reise.verrechenbar}=='1'"><f:then>JA</f:then><f:else>NEIN</f:else></f:if>
                </fieldset>
</f:if>

<f:if condition="{reise.grund}==4">
                <fieldset id="fs-kontaktperson">
                	<label class="label" for="kontaktperson"><span id="label-kontaktperson-4">Veranstalter:</span></label>
                    <span>{reise.kontaktperson}</span>
                </fieldset>
                <fieldset id="fs-thema">
                	<label class="label" for=""><span id="label-thema-4">Seminartitel:</span></label>
                    <span>{reise.thema}</span>
                </fieldset>
</f:if>

            </fieldset>
        
			<fieldset class="block">
            	<legend>Reiseplan:</legend>
<!--
                <div>
            	    <div id="date-abschnitt-start"class="" style="display:inline-block; margin-right:40px;"><label for="startdatetime">Start:</label><input type="text" id="startdatetime" value=""/></div>
                    <div id="date-abschnitt-end" class="" style="display:inline-block;"><label for="enddatetime">Ende:</label><input type="text" id="enddatetime" value="" /></div>
                </div>
-->
        <f:for each="{reise.abschnitte}" as="abschnitt" iteration="itemIterator">
                <div id="abschnitt-{abschnitt.uid}" data-id="{abschnitt.uid}" data-type="" data-date="{f:format.date(date: abschnitt.abDatetime format: '%d.%m.%Y')}" class="col" style="margin-bottom:20px;">
                <fieldset class="abschnitt">
                	<legend><f:format.date date="{abschnitt.abDatetime}" format="%d.%m.%Y"/></legend>
					<fieldset>
	                	<label class="label">Start:</label>
    	                <span><f:format.date date="{abschnitt.abDatetime}" format="%H:%M"/></span>
<!--
                    	<label class="label uhrzeit">Uhrzeit:</label>
                        <span><f:format.date date="{abschnitt.abDatetime}" format="%H:%M" /></span>
-->
        	            <label class="label ort">Ort:</label>
                        <span>{abschnitt.abOrt}</span>
                	    <label class="label land">Land:</label>
                        <span><vh:ArrayElement k="{abschnitt.abCountry}" list="{optionsCountries}" /></span>
					</fieldset>
<f:if condition="{abschnitt.guOrt}">
					<fieldset>
	                    <label class="label">Grenzübertritt:</label>
    	                <span><f:format.date date="{abschnitt.guDatetime}" format="%H:%M"/></span>
<!--
                    	<label class="label uhrzeit">Uhrzeit:</label>
                        <span><f:format.date date="{abschnitt.guDatetime}" format="%H:%M" /></span>
-->
                    	<label class="label ort">Ort:</label>
                        <span>{abschnitt.guOrt}</span>
                    	<label class="label land">nach Land:</label>
                        <span><vh:ArrayElement k="{abschnitt.guCountry}" list="{optionsCountries}" /></span>
					</fieldset>
</f:if>
<f:if condition="{abschnitt.gu2Ort}">
					<fieldset>
	                    <label class="label">Grenzübertritt:</label>
    	                <span><f:format.date date="{abschnitt.gu2Datetime}" format="%H:%M"/></span>
<!--
                    	<label class="label uhrzeit">Uhrzeit:</label>
                        <span><f:format.date date="{abschnitt.guDatetime}" format="%H:%M" /></span>
-->
                    	<label class="label ort">Ort:</label>
                        <span>{abschnitt.gu2Ort}</span>
                    	<label class="label land">nach Land:</label>
                        <span><vh:ArrayElement k="{abschnitt.gu2Country}" list="{optionsCountries}" /></span>
					</fieldset>
</f:if>
<f:if condition="{abschnitt.gu3Ort}">
					<fieldset>
	                    <label class="label">Grenzübertritt:</label>
    	                <span><f:format.date date="{abschnitt.gu3Datetime}" format="%H:%M"/></span>
<!--
                    	<label class="label uhrzeit">Uhrzeit:</label>
                        <span><f:format.date date="{abschnitt.guDatetime}" format="%H:%M" /></span>
-->
                    	<label class="label ort">Ort:</label>
                        <span>{abschnitt.gu3Ort}</span>
                    	<label class="label land">nach Land:</label>
                        <span><vh:ArrayElement k="{abschnitt.gu3Country}" list="{optionsCountries}" /></span>
					</fieldset>
</f:if>
<f:if condition="{abschnitt.gu4Ort}">
					<fieldset>
	                    <label class="label">Grenzübertritt:</label>
    	                <span><f:format.date date="{abschnitt.gu4Datetime}" format="%H:%M"/></span>
<!--
                    	<label class="label uhrzeit">Uhrzeit:</label>
                        <span><f:format.date date="{abschnitt.guDatetime}" format="%H:%M" /></span>
-->
                    	<label class="label ort">Ort:</label>
                        <span>{abschnitt.gu4Ort}</span>
                    	<label class="label land">nach Land:</label>
                        <span><vh:ArrayElement k="{abschnitt.gu4Country}" list="{optionsCountries}" /></span>
					</fieldset>
</f:if>
					<fieldset>
                    	<label class="label">Ende:</label>
    	                <span><f:format.date date="{abschnitt.anDatetime}" format="%H:%M"/></span>
<!--
                    	<label class="label uhrzeit">Uhrzeit:</label>
                        <span><f:format.date date="{abschnitt.anDatetime}" format="%H:%M" /></span>
-->
                    	<label class="label ort">Ort:</label>
                        <span>{abschnitt.anOrt}</span>
                   	 <label class="label land">Land:</label>
                        <span><vh:ArrayElement k="{abschnitt.anCountry}" list="{optionsCountries}" /></span>
					</fieldset>
					<fieldset>
                    	<label class="label">Privatanteil:</label>
                        <span>{abschnitt.privatehours} Stunden</span>
					</fieldset>
					<fieldset>
                    	<label class="label">Verpflegung:</label>
					<f:if condition="{0:abschnitt.mittag,1:abschnitt.abend}=={0:0,1:0}">
                    	<f:then>
							<span>KEINE</span>
						</f:then>
						<f:else>
	                        <span>
    	                    	<f:if condition="{abschnitt.mittag}">Mittag<f:if condition="{abschnitt.abend}">, </f:if></f:if>
        	                	<f:if condition="{abschnitt.abend}">Abend</f:if>
            	            </span>
						</f:else>
					</f:if>
					</fieldset>
					<fieldset>
                    	<label class="label">Nächtigung:</label>
						<span><vh:ArrayElement k="{abschnitt.nacht}" list="{optionsNaechtigung}" /></span>
					</fieldset>
                </fieldset>
            </div>        	
        </f:for>
            </fieldset>


			<fieldset class="block">
            	<legend>Verkehrsmittel:</legend>
<f:if condition="{vh:Reise(mode: 'hasVerkehrsmittel', reise: reise)}">
	<f:then>
		<f:if condition="{reise.vkmBahn}">
	               	<fieldset class="vkm-col">
        	        	<label for="verkehrsmittel-bahn">Bahn</label>
            	    </fieldset>
		</f:if>
		<f:if condition="{reise.vkmFlug}">
               		<fieldset class="vkm-col">
        	        	<label for="verkehrsmittel-flugzeug">Flugzeug</label>
            	    </fieldset>
		</f:if>
		<f:if condition="{reise.vkmMietauto}">
               		<fieldset class="vkm-col">
		            	<label for="verkehrsmittel-mietauto">Mietauto</label>
        	        </fieldset>
		</f:if>
		<f:if condition="{reise.vkmPkwDienst}">
            	   	<fieldset class="vkm-col">
        	        	<label for="verkehrsmittel-pkw-dienst">Dienst-PKW</label>
            	    </fieldset>
		</f:if>
		<f:if condition="{reise.vkmPkwPrivat}">
	               	<fieldset class="vkm-col">
	       	        	<label for="verkehrsmittel-pkw-privat">Privat-PKW gegen km-Geld</label>
            	    </fieldset>
		</f:if>
		<f:if condition="{reise.vkmMitreise}">
               		<fieldset class="vkm-col">
	   	            	<label for="verkehrsmittel-mitreise">Mitreise mit PKW</label>
		            </fieldset>
		</f:if>
		<f:if condition="{reise.vkmSonstigeOeffentliche}">
        	       	<fieldset class="vkm-col">
	            		<label for="verkehrsmittel-sonstige">sonstige öffentliche Verkehrsmittel</label>
		            </fieldset>
		</f:if>
	</f:then>
	<f:else>
	               	<fieldset class="vkm-col">
        	        	<label for="verkehrsmittel-bahn">KEINE</label>
            	    </fieldset>
	</f:else>
</f:if>
            </fieldset>


			<fieldset id="block-kmgefahren" class="block">
            	<legend>Gefahrene KM:</legend>
               	<fieldset id="fs-kmgefahren">
                	<label class="label" for="kmgefahren">Gefahrene KM:</label>
					<span>{reise.kmgefahren} KM</span>
	            </fieldset>
            </fieldset>

			<fieldset id="block-passengers" class="block">
            	<legend>Mitreisende:</legend>
<f:if condition="{vh:Reise(mode: 'hasPassengers', reise: reise)}">
	<f:then>
        <f:for each="{reise.passengers}" as="passenger" iteration="itemIterator">
                <div id="passenger-{passenger.uid}" data-id="{passenger.uid}" class="col" style="margin-bottom:20px;">
               	<fieldset class="mitreisender">
                	<label class="label" for="passenger-fn-{passenger.uid}">Vorname:</label>
                    <span>{passenger.firstname}</span>
                	<label class="label" for="passenger-ln-{passenger.uid}">Nachname:</label>
                    <span>{passenger.lastname}</span>
					<label class="label" for="passenger-km-{passenger.uid}">Mitgefahrene KM:</label>
					<span>{passenger.kmgefahren}</span>
                </fieldset>
                </div>        	
        </f:for>
	</f:then>
	<f:else>
    	KEINE
	</f:else>
</f:if>
            </fieldset>


			<fieldset class="block">
            	<legend>Belege:</legend>
<f:if condition="{vh:Reise(mode: 'hasBelege', reise: reise)}">
	<f:then>
        <f:for each="{reise.belege}" as="beleg" iteration="itemIterator">
        	<f:if condition="{vh:Reise(mode: 'showBelegMA', userMode: userMode, beleg: beleg)}">
                <div id="beleg-{beleg.uid}" data-id="{beleg.uid}" class="block-beleg">
    	           	<fieldset>
        	        	<label class="label art" for="beleg-type-{beleg.uid}">Art:</label>
                        <span><vh:ArrayElement k="{beleg.type}" list="{optionsBelegType}" /></span>

    	            	<label class="label land" for="beleg-country-{beleg.uid}">Land:</label>
                        <span><vh:ArrayElement k="{beleg.country}" list="{optionsCountries}" /></span>

<f:if condition="{userMode} != 'CHIEF'">
                		<label class="label" for="beleg-sum-{beleg.uid}">Brutto-Betrag (Beleg):</label>
	                    <span><f:format.currency decimalSeparator="," thousandsSeparator="." prependCurrency="true">{beleg.sum}</f:format.currency></span>

    	            	<label class="label currency" for="beleg-currency-{beleg.uid}">Währung:</label>
        	            <span>{beleg.currency}</span>
</f:if>
            	    </fieldset>

<f:if condition="{userMode} != 'USER'">
</f:if>
               		<fieldset>
                		<label class="label" for="beleg-sumEuroBrutto-{beleg.uid}">EURO Brutto-Betrag:</label>
	                    <span><f:format.currency decimalSeparator="," thousandsSeparator="." prependCurrency="true">{beleg.sumEuroBrutto}</f:format.currency><span>

                		<label class="label" for="beleg-sumEuroNetto-{beleg.uid}">EURO Netto-Betrag:</label>
	                    <span><f:format.currency decimalSeparator="," thousandsSeparator="." prependCurrency="true">{beleg.sumEuroNetto}</f:format.currency></span>

                		<label class="" for="beleg-taxfee-{beleg.uid}">Steuersatz:</label>
	                    <span>{beleg.taxfee} %</span>

                        <label class="label">Beleg von:</label>
                        <span>
                        <f:if condition="{beleg.mitarbeiter}==1">
                        	<f:then>Mitarbeiter</f:then>
                            <f:else>ICON</f:else>
                        </f:if>
                        </span>

    	            </fieldset>

                </div>
			</f:if>
        </f:for>

				<fieldset class="block-beleg-upload">
					<f:form.hidden property="belegePdf" id="belegePdf" />
				<f:if condition="{reise.belegePdf}">
					<div id="block-showBelegePdf" class="">
                    <br/>
					<a href="/{settings.manager.upload.path}{reise.belegePdf}" target="_blank">Belege (PDF) anzeigen</a>
                    </div>
				</f:if>
                </fieldset>
	</f:then>
	<f:else>
		KEINE
	</f:else>
</f:if>
            </fieldset>
			
<f:render partial="Reise/TableSummen" arguments="{_all}"/>
