@charset "UTF-8";

/** 
* Default CSS Drop-Down Menu Theme
*
* @file    default.css
* @name    Default
* @version    0.1
* @type    transitional
* @browsers  Windows: IE5+, Opera7+, Firefox1+
*        Mac OS: Safari2+, Firefox2+
*
* @link    http://www.lwis.net/
* @copyright  2008 Live Web Institute. All Rights Reserved.
*
* Module Classes: *.dir {} *.on {} *.open {} li.hover {} li.first {} li.last {}
* Expected directory tag - li
*
*/

/*
@import "helper.css";
*/

/*-------------------------------------------------/
* @section    Base Drop-Down Styling
* @structure  ul (unordered list)
*        ul li (list item)
*        ul li a (links)
*        /*\.class|(li|a):hover/
* @level sep  ul
*/

ul.dropdown { margin:0; padding:0; }
ul.dropdown li {
  list-style:none;
  float:left;
  padding:0px 12px 0px 0px;
  line-height:30px;
}
ul.dropdown li.last { padding:0; }
ul.dropdown > li > a,
ul.dropdown > li > a:hover {
  font-family: Arial, Verdana, Helvetica, Geneva, sans-serif;
  color:#005186;
  font-size:15px;
  font-style:normal;
  text-decoration:none;
  text-transform:uppercase;
}

/* -- level mark -- */
ul.dropdown ul {
  width: 200px;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #004167;
}
ul.dropdown ul.last {
  width:140px;
}
ul.dropdown ul li {
  margin:1px 0 1px 0;
  padding:0;
  font-weight: normal;
  line-height: 21px;
}
ul.dropdown ul li a {
  display:block;
  margin:0;
  padding:0 0 0 10px;
  width:190px;
  height:100%;
  font-family:Arial, Verdana, Helvetica, Geneva, sans-serif;
  font-weight:normal;
  font-size:14px;
  font-style:normal;
  line-height:21px;
  text-decoration:none;
  color:#FFFFFF;
}
ul.dropdown ul li a.selected,
/*
ul.dropdown ul li a:link,
ul.dropdown ul li a:visited,
*/
ul.dropdown ul li a:hover {
  background-image:url(../pix/bg_navli_ov.gif);
  background-size:100% 100%;
  font-size:14px;
  color:#FFFFFF;
}
