/* CSS Document */

#langMenu { display:none; }
#searchBox { display:none; }
#navigationFirstLevelMenu { display:none; }
#logo { float:right; width:100px; height:156px; }
#logo a { display:block; width:100%; height:auto; }
#logo a img { width:100%; height:auto; }
.bgHeader { margin-top:10px; border-bottom:1px solid #c7c7c7; padding-bottom:20px; width:748px; height:110px; }
#site { width:748px }
#content { background:none; }
.pageWide #content { background:none; }
.mainLeft { display:none; }
#footer { display:none; }
#tagList { display:none; }

#print {}
#print #printContact { display:block; position:absolute; z-index:99999; top:0; width:560px; }
#print #printCopy { display:block; position:relative; margin:20px 0 20px 0; font-weight:bold; }

.event-detail .eventContact { position:relative; }