/* CSS Document */



/* reset font-streching on Webkit / iPhone */

html { -webkit-text-size-adjust:100%; }

html { margin:0; padding:0; }

body { margin:0; border:none; padding:0; font-size:13px; text-decoration:none; color:#000000;}

body,h1,h2,h3,h4,h5,h6,p,a,div,td,input,textarea,select,span,blockquote { font-family:Arial, Verdana, Helvetica, Geneva, sans-serif; }



/*  HELPERS  */

.clear { clear:both; }

.hide { display:none !important; }

.imglink, .imglink:hover  { border:none; }

.even { background-color:#EBEBEB; }

.spacerAddr { display:inline-block; width:45px; }

.size14 {font-size:13px;}



/* ALLGEMEIN */

a, a:hover{ font-size:13px; color:#004e83; }

a img { border:0; text-decoration:none; }

hr { margin: 30px 0px 30px 0px; color:#FFFFFF; }

*+html hr { margin: 10px 0px 10px 0px; color:#FFFFFF; }

blockquote { margin-top: 0px; padding-top: 0px; }



h1,h2 {

  font-size: 30px;

  font-weight: normal;

  color: #004e83;

  text-decoration: none;

  margin-top: 0px;

}





h2.newsDetail_Header { font-size:19px; }







h3 {



  font-size: 19px;



  font-weight: normal;



  color: #004e83;



  text-decoration: none;



  background-image: url(../pix/icon_h3.gif);



  background-repeat: no-repeat;



  background-position: left top;



  padding-left: 39px;



}



h3 a { font-size:inherit; }



h3 a:hover { font-size:inherit; }







h4 {







  font-size: 14px;







  font-weight: normal;







  color: #004e83;







  text-decoration: none;







  margin: 0px;







  padding-left:39px;







}







h5 {







  font-size: 19px;







  font-weight: normal;







  color: #004e83;







  text-decoration: none;







  padding-left: 39px;







}







h6 {







  font-size: 14px;







  font-weight: normal;







  color: #004e83;







  text-decoration: none;







  margin: 0px;







  padding: 0px 0px 0px 39px;







}











form { margin:0; padding:0; }







input { font-size:14px; color: #646464; text-decoration: none; border: solid 1px #a0a0a0; vertical-align: middle; }







textarea { font-size: 14px; color: #646464; text-decoration: none; }















#site { margin:0 auto; padding:0 20px 0 20px; width:940px; }







  







/* HEADER */







.bgHeader { position:relative; margin:30px 0px 30px 0px; padding:0px 0px 0px 0px; width:940px; height:160px; text-align: left;







}







#logo { float:left; width:192px; height:184px; }







#logo img { position:relative; }







#logo a, #logo a:hover { border:none; }















/*    LANGUAGE    */







#langMenu { position:absolute; top:0; right:0; padding-top:3px; width:80px; text-align:right; }







#langMenu a, #langMenu a:hover {  text-decoration:none; color: #646464; }















/* SUCHE */







.search {







  position:absolute;







  top:0;







  right:80px;







  margin:0px;







  padding:0px;







  font-size:12px;







  text-align:right;







  color: #646464;







  vertical-align:middle;







}







.search fieldset { margin:0; border:none; padding:0; }







.search input{







  width: 123px;







  height: 20px;







  margin:0px;







  padding: 0px;







}







*html .search input { margin-top: 10px; }







*+html .search input { margin-top: 10px; }







input.searchPfeil {







  margin:0 0 0 5px;







  border:none;







  padding:0;







  width:5px;







  height:10px;







  vertical-align:middle;







}







*html input.searchPfeil { margin-top: 10px; }







*+html input.searchPfeil { margin-top: 10px; }























/* MAIN NAVIGATION  */

.mainNav { float: right; width:748px; margin-top:99px; text-align:left; border-bottom:1px solid #c7c7c7; }



/* MAIN CONTENT */

.mainContent { margin:0px 20px 0px 0px; padding:0px 0px 0px 15px; width:939px; text-align:left; }

/*

.mainContentInfobar {

  width: 939px;

  margin: 0px 20px 0px 0px;

  padding: 0px 0px 0px 15px;

  text-align:left;

  background-image: url(../pix/site/bg_content.gif);

  background-repeat: repeat-y;

}

*/

.mainLeft { float: left; width: 192px; height:100%; min-height:10px; text-align: left; }

.mainMiddle { float: left; padding-right: 0px; width: 748px; height:100%; min-height:10px; text-align: left; }

/*

.mainMiddleGallery { width: 748px; padding-right: 0px; float: left; text-align: left; height:100%; margin-top:-58px; }

*/

.mainMiddleInfobar { width: 458px; padding-right: 15px; float: left; text-align: left; height:100%; }



.mainMiddleInfobar .csc-header h2 {}

.mainMiddleInfobar .csc-header h2 a { display:block; margin:20px 0 0 0; padding:10px; background-color: #004e83; color: #fff; font-size:14px; font-weight:bold; text-align:center; text-decoration:none; text-transform:uppercase; }



.mainMiddleInfobar .csc-header h5 { text-align:right; }

.mainMiddleInfobar .csc-header h5 a { text-align:right; }





.mainRight { width: 240px; margin-left: 14px; float: right; text-align: left; height:100%; font-size: 12px; }

.mainRight table { font-size:12px; margin-bottom:50px; }

.mainRight table a, 

.mainRight table a:hover { font-size:12px; }

.mainRight .csc-firstHeader a { display:block; margin:0; padding:10px; background-color: #004e83; color: #fff; font-size:14px; font-weight:bold; text-align:center; text-decoration:none; text-transform:uppercase; }



/*

  INFOBAR

*/

.addressTeasers {}

.addressTeasers .row { clear:both; }

.addressTeaser { float:left; padding:0 10px 20px 0; width:110px; }

.addressTeaser.right { padding-right:0px; width:120px; }

.addressTeaser a,

.addressTeaser a:hover { font-size:11px; }

.addressTeaser img { display:block; margin:0 0 6px 0; }



.newsTeaser { margin-top:20px; border-top:dashed 1px #aaaaaa; padding-top:15px; }

.newsTeaser span { margin:0px; padding:0px; font-size:24px; font-weight:normal; text-decoration:none; color:#005186; }

.newsTeaser p { padding:0px; margin:0px; }



/* CONTENT */  

.mainContent ul { margin-left:18px; }

*html .mainContent ul { padding-left: 38px; }

*+html .mainContent ul { padding-left: 38px; }

.mainContent ul li{ list-style-position: outside; list-style-image: url(../pix/site/icon_li.gif); list-style-type:none; margin: 3px 0px 3px 0px; }

.mainContent ul li a:hover {

  list-style-position: outside; list-style-image: url(../pix/site/icon_li2.gif); list-style-type:none;

/*

  background-image:url(../pix/bg_li.gif);

*/

  background-repeat:no-repeat; background-position:left center; margin: 3px 0px 3px 0px;

}



.csc-textpic .csc-textpic-text > h3 { margin-top:0; }



/* FOOTER */

#footer { clear:both; background-color:#bcbcbc; margin:40px 0 30px 0; padding:0; width:940px; height:32px; }

#footerLeft { float:left; line-height:32px; }

#footerRight { float:right; line-height:32px; text-transform:uppercase; }

#footer a, #footer a:hover { margin: 0px 14px 0px 14px; font-size:12px; text-decoration:none; color:#ffffff; }

#footer a.back { margin: 0px 20px 0px 14px; padding-left: 22px; background-image:url(../pix/icon_back.gif); background-repeat:no-repeat; background-position:left center; font-size: 12px; text-decoration: none; color: #000000; }



/*

  PRINT

*/

#print #printContact { display:none; }

#print #printCopy { display:none; }



/* TABELLEN */

.list td { padding: 5px; vertical-align:text-top; }

.list td.headline { height: 35px; }

.list td.headline h1 {

  margin: 0px;

  padding: 0px 0px 0px 28px;

  font-size: 12px;

  color: #000000;

  font-weight:normal;

}



.leftBlue {

  border-left: solid 1px #aaaaaa;

  padding-left: 10px;

}

.leftBlue2 {

  border-left: solid 1px #aaaaaa;

  padding-left: 5px;

}

.list td.tdIcon{

/*

  background-image: url(../pix/site/icon_li3.gif);

  background-repeat:no-repeat;

  background-position:left top;

  padding-left: 20px;

*/

}



.tdIcon a {

  font-size: 14px;

  color: #005186;

  text-decoration: none;

  font-style: italic;

  border-bottom: 2px solid #7aa9c3;

  padding: 5px 0px 0px 0px;  

}

.darkblue {

  background-color:#ebebeb;

}



/* SEARCHBOX */

.searchbox input, select{

  font-size: 14px;

  color: #646464;

  text-decoration: none;

  height: 20px;

  padding: 0px;

  border: solid 1px #a0a0a0;

  vertical-align: middle;

  margin:3px;

}

textarea{

  font-size: 14px;

  color: #646464;

  text-decoration: none;

}



/* SEITE WEITEREMPFEHLEN */

.weiterempfehlen {

  position: absolute;

  top: 15%;

  left:30%;

  color:#ffffff;

  padding: 25px;

  width: 600px;

  height:390px;

  border: 3px solid #dddddd;

  background-color: #005184;

  z-index:99;

}

#divweiterempfehlen_background {

  position: absolute;

  top: 0px;

  left:0px;

  padding:0px;

  margin:0px;

  background-color: #000000;

  z-index:98;

  filter:alpha(opacity=50); /* IE */

  -moz-opacity: 0.50; /* Mozilla */

  opacity: 0.50; /* Opera */

}

.weiterempfehlen h1,

.weiterempfehlen a{

  color:#ffffff;

}

.login {

  width:150px;

  margin:5px;

}

#verify_code {

width: 150px;

}



/*    WIDE PAGE     */

.pageWide {}

.pageWide #content { background-image:url('../pix/bg_content.gif'); background-repeat:y-repeat; }



/*    FRONTPAGE     */

.frontPage {}

.frontPage a,

.frontPage a:hover { font-size:14px; }



/*  STAGE-IMAGE  */

#stageWrapper { margin:0; padding:0; width:940px; height:285px; overflow:hidden; }

#stageImages { width:940px; height:285px; overflow:hidden; }

#stageImages .slidesjs-pagination { display:none; }

#stageImages .slidesjs-navigation { display:none; }

#stageImages .slidesjs-play { display:none !important; }

#stageImages .slidesjs-stop { display:none !important; }



/*  QUICKLINKS  */

.quicklinks { margin:30px 0 25px 0; border:1px solid #bababa; padding:8px 10px 8px 10px; text-align:center;}

.quicklinks ul { margin:0; padding:0; list-style:none; }

.quicklinks ul li { display:inline-block; margin:0 0 0 10px; border-right:1px solid #bababa; padding:0 10px 0 0; line-height:30px; }

.quicklinks ul li.first { margin:0; }

.quicklinks ul li.last { border:none; padding:0; }

.quicklinks ul li a, .quicklinks ul li a:hover { font-size:16px; font-weight:normal; }



/*  TEASER  */

.teaserWrap { position:relative; margin:0px 0px 0px 0px; padding:0px 0px 30px 0px; width:940px; }

.teaserBox { position:relative; float:left; margin:0px; padding:0px; }

.teaser-Left { border-right:1px solid #bababa; padding-right:40px; width:428px; }

.teaser-Right { margin-left:32px; width:438px; }

.teaserBox .teaserHeader { margin:0 0 0 90px; font-size:22px; font-weight:bold; color:#005186; }

.teaserBox .teaserAll { position:absolute; top:5px; right:0px; text-align:right; }

.teaserBox .teaserAll a,

.teaserBox .teaserAll a:hover { font-weight:normal; text-decoration:underline; }

.teaser-Left .teaserAll { right:45px; }

.teaserList { margin:15px 0 10px 0; }

.teaserList .teaserItem { margin:0 0 18px 0; font-size:14px; }

.teaserList .teaserItem .teaserDate { display:inline-block; width:75px; vertical-align:top; }

.teaserList .teaserItem .teaserContent { display:inline-block; border-left:1px solid #bababa; padding-left:9px; width:335px; }

.teaserList .teaserItem .teaserContent span { display:block; color:#000000; }

.teaserList .teaserItem .teaserContent a { display:block; font-weight:bold; text-decoration:underline; }



/*  CONTACT-LINE  */

.frontPage #content p { width:100%; font-size:13px; }

.frontPage #content p a,

.frontPage #content p a:hover { font-size:13px; }



/*  TAG-LIST  */

#tagList { margin:0px 0px 10px 0px; padding:0px 0px 30px 0px; text-align:left; text-style:normal; vertical-align:top; }

.tagColum { display:block; float:left; margin:0px; padding:0px 15px 0px 0px; word-wrap:break-word; }

.spalte1 { width:165px; }

.spalte2 { width:210px; }

.spalte3 { width:215px; }

.spalte4 { width:175px; }

.spalte5 { width:114px; padding-right:0px; }

.tagColum br,

.tagColum p { margin:0px; padding:0px; }

.tagColum a,

.tagColum br,

.tagColum p,

.tagColum p a,

.tagColum ul li,

.tagColum ul li a { color:#7c7c7c; font-size: 13px; line-height:16px; padding:0px; margin:0px; }

.tagColum a,

.tagColum p a,

.tagColum ul li a { font-style:normal; text-decoration:none; border:none; }

.tagColum a:hover,

.tagColum p a:hover,

.tagColum ul li a:hover { font-size: 13px; font-style:normal; text-decoration:underline; border:none; }

.tagColum ul { margin:0px 0px 0px 0px; padding:0px; list-style:none; }

.tagColum ul li { margin:0px; padding:0px; }



/*

  TYPO3 - DEFAULTS

*/

.csc-menu { background-color:#ebebeb; list-style:none; padding:10px 40px; }

.csc-menu li { font-size:16px; padding-bottom:4px; }



.csc-linkToTop { text-align:right; }





/*

  BÜCHER | NEWS/PUBLIKATIONEN

*/

.tx-news-icon {}

.tx-news-icon form { margin-bottom:20px; }

.tx-news-icon fieldset { margin:0 0 6px 0; border:none; padding:0; width:406px; }

.tx-news-icon fieldset.fs_submit { text-align:right; }

.tx-news-icon label { display:inline-block; width:150px; }

.tx-news-icon input { margin:0; width:248px; height:20px; font-size:13px; }

.tx-news-icon input[type="submit"] { padding-right:10px; padding-left:10px;width:auto; }

.tx-news-icon select { margin:0; padding:0; width:250px; font-size:13px; }

.tx-news-icon table.result { width:100%; }

.tx-news-icon table.result thead th { padding-bottom:20px; width:70px; text-align:center; }

.tx-news-icon table.result th { padding:5px 10px 5px 10px; font-weight:normal; vertical-align:top; }

.tx-news-icon table.result td { border-left:1px solid #AAAAAA; padding:5px 10px 5px 10px; vertical-align:top; }

.tx-news-icon .news-categories { margin:20px 0 0 0; border-top:1px solid #C7C7C7; border-bottom:1px solid #C7C7C7; padding:10px 0; }

.tx-news-icon .news-backlink { margin-top:20px; }

.tx-news-icon .news-authors { margin:28px 0 0 0; }

.tx-news-icon .news-authors .header { margin-bottom:20px; font-weight:bold; }



/*

.tx-news-icon .news-author { float:left; }

.tx-news-icon .news-author-width1 { width:100%; }

.tx-news-icon .news-author-width2 { width:374px; }

.tx-news-icon .news-author-width3 { padding-right:10px; width:238px; }

.tx-news-icon .news-author .author-image { float:left; padding-right:10px; }

.tx-news-icon .news-author .author-name { margin-bottom:6px; font-weight:bold; }

.tx-news-icon .news-author .author-data { line-height:18px; }

.tx-news-icon .news-author .author-data .author-ausgetretten{ font-style:italic; }

*/

.address-author { float:left; }

.address-author-width1 { width:100%; }

.address-author-width2 { width:374px; }

.address-author-width3 { padding-right:10px; width:238px; }

.address-author .address-image { float:left; padding-right:10px; }

.address-author .address-name { margin-bottom:6px; font-weight:bold; }

.address-author .address-data { line-height:18px; }

.address-author .address-data .author-ausgetretten { font-style:italic; }





/*

  ADDRESS - COUNTRIES A - Z

*/

.tx-address-countries table.result { width:100%; }

.tx-address-countries table.result thead th { padding-bottom:20px; }

.tx-address-countries table.result th { padding:5px 20px 5px 10px; font-weight:normal; vertical-align:top; text-align:left; }

.tx-address-countries table.result td { border-left:1px solid #AAAAAA; padding:5px 10px 5px 10px; vertical-align:top; }



/*

  ADDRESS - LIST

*/

.tx-address-list form fieldset { float:left; margin:0 0 20px; border:none; padding:0; }

.tx-address-list form fieldset.fs_filter1 { margin-left:100px; margin-right:40px; }

.tx-address-list form fieldset.fs_filter2 { margin-left:0px; margin-right:0px; }

.tx-address-list form fieldset.fs_submit { visibility:hidden; }



.tx-address-list table { width:100%; }

.tx-address-list table thead th { padding-bottom:20px; }

.tx-address-list table th { padding:5px 20px 5px 10px; font-weight:normal; text-align:left; vertical-align:top; }

.tx-address-list table td { border-left:1px solid #AAAAAA; padding:5px 10px 5px 10px; vertical-align:top; }



/*

  ADDRESS - DETAIL

*/

.tx-address-detail {}

.tx-address-detail h1 span.lastname { text-transform:uppercase; }

.tx-address-detail h1 small { font-size:21px; }

.tx-address-detail-contact {}

.tx-address-detail-contact .tx-address-image { margin-bottom:16px;}

.tx-address-detail-contact .tx-address-name { margin-bottom:20px; font-weight:bold; }

.tx-address-detail-contact .tx-address-data { margin-bottom:20px; line-height:20px; }

.tx-address-detail-contact .tx-address-publications { border-top:1px solid #aaaaaa; border-bottom:1px solid #aaaaaa; padding:15px 0 15px 0; }
.tx-address-detail-contact .tx-address-publications a { display:inline-block; margin-right:16px; padding:4px 20px 4px 20px; background-color:#005284; color:#fff; text-decoration:none; }
.tx-address-detail-contact .tx-address-publications a:hover { text-decoration:none; }

/*

  ADDRESS - COUNTRIES MAP

*/

.tx-address-map {}

.tx-address-map .map-table { display:table; border-bottom:1px dashed #bababa; padding-bottom:20px; width:100%; }

.tx-address-map .map-table .map-row { display:table-row; }

.tx-address-map .map-table .map-row .mapMap { display:table-cell; }



.tx-address-map .gme-map .gme-info-window { text-align:center; }

.tx-address-map .mapDetails { display:none; margin:20px 0 20px 0; }

.tx-address-map .mapDetails { display:table-cell; margin:0; padding:0 0 0 20px; vertical-align:top; }

.tx-address-map .mapDetailsHeader { margin-bottom:14px; font-size:19px; color:#004e83; text-transform:uppercase; }

.tx-address-map .mapDetailsAddresses {}

.tx-address-map .mapDetailsAddresses .address-author { display:block; margin:0 0 30px; 0; }

.tx-address-map .map-selector { position:relative; margin:0; padding:0px 0px 10px 0px; }

.tx-address-map .map-selector-header { margin-bottom:10px; border-bottom:1px dashed #bababa; padding:10px 0 10px 0; font-weight:bold; }

.tx-address-map .countryArrow { display:none; position:absolute; top:0; right:0; margin:0; padding:6px 14px; background-color:#004e83; color:#ffffff; font-weight:normal; cursor:pointer; }

.tx-address-map .map-selector-list { display:table; margin:16px 0 8px; border-bottom: 1px dashed #bababa; padding-bottom:10px; width:100%; }

.tx-address-map .table-row { display:table-row; width:100%; }

.tx-address-map .map-col { display:table-cell; width:30%; }

.tx-address-map .map-col > ul { list-style:outside none none; margin: 0; padding: 0; }

.tx-address-map .map-col ul li { padding: 0 0 4px; }





/*

  TERMINE

*/

.tx-events-icon .trenner { clear:both; margin:30px 0px 0px 0px; width:100%; height:1px; background-color:#bababa; }

.tx-events-icon h1 { margin-bottom:30px; font-size:27px; font-weight:normal; }

.tx-events-icon h1 span.subTitle { display:inline-block; width:100%; font-size:18px; font-weight:normal; color:#7f7f7f; }

.tx-events-icon h1 span.subTitle.big { font-size:22px; }

.tx-events-icon .infoDateTime { display:inline-block; background-image:url('../pix/icon_termin-download.gif'); background-repeat:no-repeat; background-position:right top; margin:0px 0px 20px 0px; padding:7px 60px 6px 0px; width:auto; font-weight:bold; }

.tx-events-icon a.infoDateTime,

.tx-events-icon a.infoDateTime:hover { color:#000000; text-decoration:none; font-weight:bold; }

.tx-events-icon .infoPlace { margin:0px; padding:0px; width:332px; }

.tx-events-icon .infoPlace a { color:#005186; font-style:normal; font-weight:normal; text-decoration:underline; }



.tx-events-icon .formHeader { margin-bottom:20px; font-size:22px; font-weight:normal; color:#004E83; }

.tx-events-icon .formIntro { margin-bottom:30px; font-weight:bold; }



.tx-events-icon .doneHeader { margin-bottom:20px; font-size:22px; font-weight:normal; color:#004E83; }

.tx-events-icon .doneIntro { margin-bottom:30px; font-weight:bold; }



.tx-events-icon .costInfo { margin-top:20px; }

.tx-events-icon .requiredInfo { margin:5px 0 5px 0; color:#7f7f7f; }



/*

  TERMINE - OVERVIEW

*/

.tx-events-icon form { margin:0 0 20px 0; }

.tx-events-icon form fieldset { float:left; margin:0 0 20px 0; border:none; padding:0; }

.tx-events-icon form fieldset.fs_bereiche { margin-left:100px; margin-right:40px; }

.tx-events-icon form fieldset.fs_category {}

.tx-events-icon form fieldset.fs_submit { visibility:hidden; }

.tx-events-icon form fieldset label { display:block; }

.tx-events-icon table.result { width:100%; }

.tx-events-icon table th.col1 { width:70px; }

.tx-events-icon table td.col2 {}

.tx-events-icon table td.col3 { width:80px; }

.tx-events-icon table td.col4 { width:70px; }

.tx-events-icon table td.col5 { width:60px; }

.tx-events-icon table.result thead th { padding-bottom:20px; }

.tx-events-icon table.result th { padding:5px 20px 5px 10px; font-weight:normal; vertical-align:top; }

.tx-events-icon table.result td { border-left:1px solid #AAAAAA; padding:5px 10px 5px 10px; vertical-align:top; }

.tx-events-icon table.legend {}

.tx-events-icon table.legend-top { margin-top:0; margin-bottom:30px; }

.tx-events-icon table.legend-bottom { margin-top:36px; }

.tx-events-icon table.legend thead th { padding:0px 40px 10px 0px; text-transform:uppercase; }

.tx-events-icon table.legend th { padding:0px 40px 6px 0px; vertical-align:top; }

.tx-events-icon table.legend td { padding-bottom:6px; vertical-align:top; }

.tx-events-icon .button { display:inline-block; background-color:#005284; margin:0; border:none; padding:3px 30px 3px 30px; color:#FFFFFF; text-decoration:none; cursor:pointer; }

.tx-events-icon .no-result { clear:both; margin-left:100px; font-weight:bold; } 

.tx-events-icon .shotlistAll { margin: 20px 0; }

/*
	TERMINE - RELATED
*/
.event-related { margin-bottom:30px; padding:16px; background-color:#005284; color:#ffffff; }
.event-related .event-related-side { display:inline-block; width:40px; font-size:40px; font-weight:bold; text-align:center; vertical-align:top; }
.event-related .event-related-middle { display:inline-block; width:628px; font-weight:bold; text-align:center; }
.event-related .event-related-middle .text-info { padding-bottom:4px; font-size:14px; }
.event-related .event-related-middle a { display:inline-block; font-weight:normal; color:#ffffff; }

/*

  TERMINE - DETAIL

*/

.event-detail { position:relative; }

.event-detail .topHeader { position:relative; }

.event-detail .btmHeader { position:relative; padding-bottom:25px; }

.event-detail .header { float:left; width:430px; }

.event-detail .header a.linkAnmeldung { border:none; }

.event-detail .header a.linkAnmmeldung img { border:none; }

.event-detail .ImageSpeakers { float:right; width:300px; }

.event-detail .ImageSpeakers img { display:block; margin-bottom:15px; }

.event-detail .topHeader > .header h1 { margin-bottom:80px; }

.event-detail .btmHeader > .header { position:absolute; left:0; bottom:0; }

.event-detail .btmHeader > .ImageSpeakers { position:absolute; right:0; bottom:0; }

.event-detail .pastInfo { clear:both; margin:0 0 30px 0; border-bottom:1px solid #bababa; padding:0 0px 20px 0px; line-height:18px; font-size:15px; font-weight:bold; }

.event-detail .pastInfo a { font-size:inherit; font-weight:inherit; }

.event-detail .message { clear:both; margin-top:-1px; border:1px solid #bababa; padding:12px 20px 12px 20px; line-height:21px; font-size:17px; color:#005182; }

.event-detail .eventContent { position:relative; margin:6px 0px 30px 0px; }

.event-detail .contentLeft { float:left; width:350px; padding:0px; }

.event-detail .contentRight { float:right; width:350px; padding:0px; }

.event-detail h3 { background:none; margin-left:0px; padding-left:0px; text-transform:uppercase; }

.event-detail ul, 

.event-detail ol { margin-left:-20px; }

.event-detail ul li { list-style-position:outside; list-style-image:none; list-style-type:disc; margin: 0 0 18px 0px; }

.event-detail ol li { margin: 0 0 18px 0px; }

.event-detail a { font-weight:normal; color:#005186; font-style: normal; text-decoration:underline; }

.event-detail .eventContact { position:absolute; bottom:0; padding-bottom:13px; width:350px; color:#7f7f7f; font-size:12px; }

.event-detail .eventContact a, 

.event-detail .eventContact a:hover { color:#7f7f7f; text-decoration:none; font-size:12px; }

.event-detail .anmeldung { float:right; }

.event-detail .priceinfo { margin-bottom:20px; }

.event-detail .priceinfo > p { margin-top:0px; padding-top:0px; }

.event-detail .requirements { font-size:11px; }

.event-detail .speakers { margin-bottom:20px; }

.event-detail .speaker { float:right; margin-right:20px; width:120px; }

.event-detail .speaker:first-child { margin-right:0px; }

.event-detail .speaker:nth-child(2) { margin-right:30px; }

.event-detail .speaker a,

.event-detail .speaker a:hover { font-size:12px; }

.event-detail .speaker img { margin-bottom:8px; }



.event-form form fieldset { float:none; }

.event-form form fieldset.block { border-top:1px dashed #bababa; }

.event-form form fieldset.block.first { border:none; }

.event-form form fieldset.block.last {}

.event-form form fieldset label { display:inline-block; width:90px; text-align:right; }

.event-form form fieldset label span { display:inline-block; width:8px; }

.event-form form fieldset select { margin:0; padding:0; }

.event-form form input,

.event-form form select, 

.event-form form textarea { border:1px solid #7b9cbd; }

.event-form .block div { margin:5px 0 10px 0; color:#7f7f7f; }

.event-form .row { margin:0; padding:2px 0 2px 0; }

.event-form .col0 { display:block; margin:0; padding:0; }

.event-form .col0 label { width:110px; }

.event-form .col0 input { width:469px; }

.event-form .col1 { display:inline-block; margin:0; padding:0; width:310px; }

.event-form .col1 label { width:110px; }

.event-form .col1 input { width:190px; }

.event-form .col1 label.anrede { width:auto; }

.event-form input[type="checkbox"] { margin:0 0 5px 0; padding:0; width:auto;}

.event-form input[type="radio"] { margin:0 0 5px 0; padding:0; width:auto;}

.event-form .col2 { display:inline-block; margin:0; padding:0; width:273px; }

.event-form .col2 label { width:80px; }

.event-form .col2 input { width:185px; }

.event-form .col3 { display:inline-block; margin:0; padding:0; width:157px; }

.event-form .col3 label { width:99px; }

.event-form .col3 input { width:50px; }

.event-form fieldset.anrede { padding-left:110px; width:200px; }

.event-form fieldset.title {}

.event-form fieldset.title input { width:50px; }

.event-form label.moreTN { width:auto; }

.event-form fieldset.moreTN { padding-left:85px; width:195px; }

.event-form fieldset.billaddress { padding-left:110px; }

.event-form label.billaddress { width:auto; }

.event-form fieldset.message { position:relative; padding-left:110px; }

.event-form label.message { position:absolute; left:0; }

.event-form fieldset.message textarea { width:472px; height:100px }

.event-form fieldset.newsletter { padding-left:110px; width:480px; }

.event-form label.newsletter { width:auto; }

.event-form .gallery { padding-left:110px; }

.event-form .gallery label { width:auto; }

.event-form form fieldset.fs_submit { visibility:visible; text-align:right; }

.event-form form fieldset.fs_submit input { padding:8px 30px 8px 30px; text-transform:uppercase; }

.event-form form .error { font-weight:bold; color:#FF0000 }

.event-form form .f3-form-error { border:1px solid #FF0000; }



/*

.event-form .col0 { background-color:#f0f; }

.event-form .col1 { background-color:#f00; }

.event-form .col2 { background-color:#0f0; }

.event-form .col3 { background-color:#00f; }

*/



.event-registration { position:relative; background-image:url(../pix/bg_registration.png); background-repeat:y-repeat; margin-top:30px; }

.event-registration .colLeft { float:left; padding-right:30px; width:340px }

.event-registration .colRight { float:left; padding-left:40px; width:330px; }

.event-registration .colRight:after { float:none; content:""; }

.event-registration .block { margin-top:20px; }

.event-registration .block.first { margin-top:0px; }

.event-registration .block h4 { margin:0px; padding:0px; color:#7f7f7f; }



/*  SEARCH  */

.tx-indexedsearch-searchbox { background-color:#F0F0F0; margin:0 0 10px 0; padding:10px 20px 5px 20px; }

.tx-indexedsearch-searchbox fieldset { border:none; }

.tx-indexedsearch-searchbox fieldset legend { display:none; }

.tx-indexedsearch-form { display:inline-block; margin-right:20px; }

.tx-indexedsearch-search-submit { display:inline-block; }

.tx-indexedsearch-search-submit input { cursor:pointer; }



.tx-indexedsearch-whatis {}

.tx-indexedsearch-browsebox {}

.tx-indexedsearch-browsebox p {}

.tx-indexedsearch-browsebox ul.browsebox { list-style:none; text-align:center; }

.tx-indexedsearch-browsebox ul.browsebox li { display:inline-block; margin:0 10px 0 10px; padding:0; }

.tx-indexedsearch-browsebox ul.browsebox li a {}



.tx-indexedsearch-res { clear:both; padding-bottom:20px; }

.tx-indexedsearch-res h3 { background:none; margin:0; padding:0; font-weight:bold; }

.tx-indexedsearch-result-number { display:none; }

.tx-indexedsearch-title a,

.tx-indexedsearch-title a:hover { font-size:16px; }

span.tx-indexedsearch-percent { float:right; padding-right:20px; color:#000000; }

.tx-indexedsearch-res p { margin:6px 0 10px 0; padding:0; }

.tx-indexedsearch-info { clear:both; margin:0 0 4px 0; padding:0; font-size:12px; color:#666666; }

.tx-indexedsearch-text-item-crdate { display:inline-block; margin:0; padding:0; }

.tx-indexedsearch-text-item-mtime { display:inline-block; margin:0; padding:0; }

dl.tx-indexedsearch-info dt { margin-right:10px; }

dl.tx-indexedsearch-info dd { margin-right:30px; }

.tx-indexedsearch-text-item-path { display:inline-block; margin:0; padding:0; }

.tx-indexedsearch-text-item-path a,

.tx-indexedsearch-text-item-path a:hover { font-size:12px; }



/*

  POWERMAIL

*/

.tx-powermail form > h3 { background:none; margin-bottom:10px; padding:0; }

.tx-powermail .powermail_fieldset { position:relative; margin:0; border:0; border-top:1px dashed #bababa; padding:30px 0 0 0; }

.tx-powermail .powermail_fieldset > legend { position:absolute; top:5px; left:0; color:#7f7f7f; }

.tx-powermail .powermail_fieldwrap { margin:5px 0 5px 0; }

.tx-powermail .powermail_label { position:relative; display:inline-block; margin-left:20px; padding-right:8px; width:180px; text-align:right; }

.tx-powermail .powermail_label .mandatory { position:absolute; display:block; top:0px; right:0px; }

.tx-powermail .powermail_input { border:1px solid #7b9cbd; width:300px; }

.tx-powermail .powermail_select { margin:0; border:1px solid #7b9cbd; height:auto; }

.tx-powermail .powermail_captcha { border:1px solid #7b9cbd; width:60px; }



.tx-powermail .powermail_fieldwrap_check {}

.tx-powermail .powermail_fieldwrap_check fieldset { margin:0; border:0; padding:0; }

.tx-powermail .powermail_fieldwrap_check fieldset legend { display:none; }

.tx-powermail .powermail_fieldwrap_check .powermail_check_outer { margin-left:208px; }

.tx-powermail .powermail_fieldwrap_radio {}

.tx-powermail .powermail_fieldwrap_radio fieldset { margin:0; border:0; padding:0; }

.tx-powermail .powermail_fieldwrap_radio fieldset legend { display:none; }

.tx-powermail .powermail_fieldwrap_radio .powermail_radio_outer { margin-left:212px; border:1px solid #ffffff; }



.tx-powermail .powermail_fieldwrap_textarea textarea { border:1px solid #7b9cbd; width:300px; height:190px; }



.tx-powermail .powermail_fieldwrap_captcha {}

.tx-powermail .powermail_fieldwrap_captcha {}

.tx-powermail .powermail_fieldwrap_captcha .powermail_captcha_outer { display:inline-block; }

.tx-powermail .powermail_fieldwrap_captcha .powermail_captcha_outer .powermail_captchaimage { display:block; margin-top:4px; }

.tx-powermail .powermail_fieldwrap_captcha .powermail_captcha_outer.parsley-error { border:none !important; }

.tx-powermail .powermail_fieldwrap_captcha .powermail_captcha_outer.parsley-error input { border:1px solid #ff0000; }



.tx-powermail .powermail_fieldwrap_text { margin-left:210px; }



.tx-powermail .powermail_fieldwrap_submit { margin:20px 0; padding-right:50px; text-align:right; }

.tx-powermail .powermail_submit { background-color:#005284; display:inline-block; margin:0; border:0; padding:3px 30px; text-decoration:none; color:#ffffff; cursor:pointer; }



.tx-powermail .powermail_create { margin:40px 0 40px 0; border-top:1px dashed #bababa; border-bottom:1px dashed #bababa; padding:20px 0 10px 0; }

.tx-powermail .powermail_create h4 { padding-left:0; font-size:16px; font-weight:bold; }

.tx-powermail ul.powermail_message_error { background-color:rgba(255, 0, 0, 0.1); border: 1px solid #ff0000; padding: 10px 20px;}

.tx-powermail ul.parsley-errors-list { display:none; }

.tx-powermail .parsley-error { border:1px solid #ff0000 !important; }

.tx-powermail .powermail_captcha_outer.powermail_field_error.parsley-error { border:none !important; }

.tx-powermail .powermail_captcha_outer.powermail_field_error.parsley-error input { border-color:#ff0000; }



.mainRight .tx-powermail .powermail_fieldset { padding-top:45px; }

.mainRight .tx-powermail .powermail_label { margin-left:0; width:76px; }

.mainRight .tx-powermail .powermail_input { width:146px; font-size:12px; }

.mainRight .tx-powermail .powermail_fieldwrap_check .powermail_check_outer { margin-left:84px; }

.mainRight .tx-powermail .powermail_fieldwrap_submit { padding-right:0; text-align:center; }



.powermail_form_2 h3,

.powermail_form_3 h3 { display:none; }

.powermail_form_2 .powermail_fieldwrap_14 label,

.powermail_form_3 .powermail_fieldwrap_23 label { margin-top:2px; vertical-align:top; }

.powermail_form_2 .powermail_fieldwrap_check fieldset legend,

.powermail_form_3 .powermail_fieldwrap_check fieldset legend { position:absolute; display:inline-block; }

.powermail_form_2 .powermail_fieldwrap_radio fieldset legend,

.powermail_form_3 .powermail_fieldwrap_radio fieldset legend { position:absolute; display:inline-block; }

.powermail_form_2 .powermail_fieldwrap_radio .powermail_radio_outer,

.powermail_form_3 .powermail_fieldwrap_radio .powermail_radio_outer { width:70px; }

.powermail_form_2 .powermail_fieldwrap_32,

.powermail_form_3 .powermail_fieldwrap_40 { display:inline-block; width:290px; }

.powermail_form_2 .powermail_fieldwrap_32 .powermail_input ,

.powermail_form_3 .powermail_fieldwrap_40 .powermail_input { width:60px; }

.powermail_form_2 .powermail_fieldwrap_33,

.powermail_form_3 .powermail_fieldwrap_41 { display:inline-block; width:250px; }

.powermail_form_2 .powermail_fieldwrap_33 label,

.powermail_form_3 .powermail_fieldwrap_41 label { margin:0; width:auto; }

.powermail_form_2 .powermail_fieldwrap_33 .powermail_input { width:188px; }

.powermail_form_3 .powermail_fieldwrap_41 .powermail_input { width:184px; }

.powermail_form_2 .powermail_fieldwrap_captcha,

.powermail_form_3 .powermail_fieldwrap_captcha { margin-top: 20px; }



/*

  CALL 2 ACTION

*/

.call2action {  display:block; background-color:rgb(0, 82, 132); margin:0px 0px 20px 0px; padding:12px 20px; width:196px; color:#fff; font-size:20px; text-align:center; }



/*

  GOOGLE MAPS

*/

.gme-info-window { min-width:230px; }

.gme-info-window strong, .gme-info-window b { font-weight:bold; }