/*
*/

/*
    view GALLERY Albums
*/
.tx-yag-gallery-header, .tx-yag-album-header { margin-bottom:40px; }
.tx-yag-gallery-thumb-outerframe, .tx-yag-album-thumb-outerframe { margin:0 12px 30px 14px; border:1px solid #80a9c3; padding:10px; width:200px; }
.tx-yag-gallery-thumb-innerframe, .tx-yag-album-thumb-innerframe { float:none; min-width:200px; min-height:204px; }
.tx-yag-gallery-galleryinfo, .tx-yag-album-albuminfo { margin-left:0; width:200px; height:36px; line-height:20px; overflow:hidden; }
.tx-yag-gallery-galleryinfo a, .tx-yag-album-albuminfo a { display:block; height:18px; width:100%; overflow:hidden;}

/*
    view ALBUM Items
*/
.yag-list-wrap ul { display:block; margin:0 auto; padding:20px 0px 20px 20px; width:660px; }
.yag-item-thumb-outerframe { border:1px solid #80A9C3; padding:10px; }


@media only screen and (max-width : 480px) {
/* Smartphone view: 1 tile */
.yag-item-thumb-outerframe, .tx-yag-gallery-thumb-outerframe, .tx-yag-album-thumb-outerframe  { max-width: 100%; }
.tx-yag-gallery-thumb-innerframe, .tx-yag-album-thumb-innerframe { float:none; margin-bottom: 10px; }
.tx-yag-gallery-galleryinfo, .tx-yag-album-albuminfo { margin-left:0; float:none; }
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
/* Tablet view: 2 tiles */
.yag-item-thumb-outerframe { max-width:none; }
.tx-yag-gallery-thumb-outerframe, .tx-yag-album-thumb-outerframe { width:auto; }
}

@media only screen and (max-width : 1050px) and (min-width : 651px) {
/* Small desktop / ipad view: 3 tiles */
.yag-item-thumb-outerframe { width:auto; }
.tx-yag-gallery-thumb-outerframe, .tx-yag-album-thumb-outerframe { width:auto; }
}

@media only screen and (max-width : 1270px) and (min-width : 1051px) {
/* Medium desktop: 4 tiles */
.yag-item-thumb-outerframe { width:auto; }
.tx-yag-gallery-thumb-outerframe, .tx-yag-album-thumb-outerframe { width:auto; }
}

