<div class="address-author address-author-width{total}">

<f:if condition="{address.ausgetretten}==1">
  <f:then>
    <div class="address-name">
      <f:render partial="Address/Name" arguments="{address: address}" />
    </div>
    <div class="address-data">
      <f:if condition="{settings.textAusgetretten}"><div class="author-ausgetretten">{settings.textAusgetretten}</div></f:if>
    </div>
  </f:then>
  <f:else>
    <f:if condition="{address.image}">
      <div class="address-image">
		<f:link.action pageUid="{settings.contactsPage}" arguments="{address: '{address.uid}'}" action="{settings.person.detail.action}" controller="{settings.person.detail.controller}" extensionName="{settings.person.detail.extensionName}" pluginName="{settings.person.detail.pluginName}">
          <f:image src="{address.image.uid}" treatIdAsReference="TRUE" width="{settings.person.image.width}" height="{settings.person.image.height}" alt="{f:render(partial: 'Address/Name', arguments: {address: '{address}'})}"/>
        </f:link.action>
      </div>
    </f:if>
    <div class="address-name">
      <f:link.action pageUid="{settings.contactsPage}" arguments="{address: '{address.uid}'}" action="{settings.person.detail.action}" controller="{settings.person.detail.controller}" extensionName="{settings.person.detail.extensionName}" pluginName="{settings.person.detail.pluginName}">
        <f:render partial="Address/Name" arguments="{address: address}" />
      </f:link.action>
    </div>
    <div class="address-data">
      <f:if condition="{address.funktion}">{address.funktion}<br></f:if>
      <f:if condition="{address.berufstitel}">{address.berufstitel}<br></f:if>
      <br>
      <f:if condition="{address.phone}">{settings.person.general.phone} - {address.phone}<br></f:if>
      <f:if condition="{address.email}"><f:link.email email="{address.email}">E-Mail schreiben</f:link.email></f:if>

    </div>
  </f:else>
</f:if>

</div>