<f:layout name="Default" />

<f:section name="main">
  
	<f:render partial="Login/Status" arguments="{_all}" />
  
<!--
	<f:render partial="Chief/Title"/>
-->
	
    <div class="edit edit-chief">
    
    	<h3>FREIGABE GESCHÄFTSLEITUNG</h3>
        
		<f:if condition="{reise.status}=='SEK'">
        	<f:then>
		<p><strong>Die Reiseabrechnung wurde abgelehnt!</strong></p>
			</f:then>
            <f:else>
		<p><strong>Die Reiseabrechnung wurde freigegeben!</strong></p>
            </f:else>
		</f:if>
    </div>
   
</f:section>