{namespace vh=NEXT\IconReiseabrechnung\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
  
	<!-- script src="/typo3conf/ext/icon_reiseabrechnung/Resources/Public/js/scripts.js" type="text/javascript"></script --> 
     
    <div class="edit edit-chief">
    
    	<h3>FREIGABE GESCHÄFTSLEITUNG</h3>

    	<f:form id="trip-form" name="reise" action="submit" object="{reise}" method="POST" noCacheHash="1">
			<input type="hidden" id="userMode" value="{userMode}" />
        
			<f:render partial="Reise/View" arguments="{_all}"/>

<f:if condition="{reise.status}=='GL'">
			<fieldset class="block block-einreichung">
				<legend>Reiseabrechnung ablehnen / freigeben:</legend>
            	<fieldset>
                    <f:form.radio property="secretary" value="1" id="sec-1"/>
                	<label for="sec-1">{settings.departments.1.secretary.name} ({settings.departments.1.secretary.email})</label>
                </fieldset>
            	<fieldset>
                    <f:form.radio property="secretary" value="2" id="sec-2"/>
                	<label for="sec-2">{settings.departments.2.secretary.name} ({settings.departments.2.secretary.email})</label>
                </fieldset>
            	<fieldset>
                    <f:form.radio property="secretary" value="3" id="sec-3"/>
                	<label for="sec-3">{settings.departments.3.secretary.name} ({settings.departments.3.secretary.email})</label>
                </fieldset>
                <fieldset class="fs_anmerkungen">
                	<label for="sec-info">Anmerkungen:</label>
                    <f:form.textarea property="secretaryInfo"/>
                </fieldset>
	            <fieldset class="fs_submit">
                    <f:form.hidden property="submit" id="einreichung-checked"/>
    		        <f:form.button type="button" disabled="disabled" id="einreichung-submit-no" class="button disabled">Ablehnen und an Sekretariat senden</f:form.button>
    		        <f:form.button type="button" disabled="disabled" id="einreichung-submit-yes" class="button disabled">Freigeben und an Sekretariat senden</f:form.button>
            	</fieldset>
			</fieldset>
</f:if>
        </f:form>
<script type="text/javascript">
$(document).ready(function() {
	/*
		EINREICHUNG: E-MAIL-Selektor
	*/
	$('input[type=radio][name$="[reise][secretary]"]').change(function(){
		if( $(this).val() ){
			$('#einreichung-submit-no').removeProp('disabled').removeClass('disabled');
			$('#einreichung-submit-yes').removeProp('disabled').removeClass('disabled');
		}
	});

	/*
		BUTTONS für EINREICHUNG
	*/
	$('#einreichung-submit-no').click( function(){
		$('#einreichung-checked').val(0);
		$('#trip-form').submit();
	});
	$('#einreichung-submit-yes').click( function(){
		$('#einreichung-checked').val(1);
		$('#trip-form').submit();
	});
});
</script>
    </div>
   
</f:section>