{namespace gomapsext=Clickstorm\GoMapsExt\ViewHelpers}

<gomapsext:script>
(function ($, window, document, undefined) {
   $(function () {
    var gme = new Object();

    gme.zoomTypes = new Array(google.maps.ZoomControlStyle.DEFAULT,
                    google.maps.ZoomControlStyle.SMALL,
                    google.maps.ZoomControlStyle.LARGE);
    gme.defaultMapTypes = new Array(google.maps.MapTypeId.ROADMAP,
                    google.maps.MapTypeId.SATELLITE,
                    google.maps.MapTypeId.HYBRID,
                    google.maps.MapTypeId.TERRAIN,
                    "{map.styledMapName}");

    gme.mapSettings = {
            id: '<gomapsext:escape>{map.title}</gomapsext:escape>',
            title: '<gomapsext:escape>{map.title}</gomapsext:escape>',
            tooltipTitle: '<gomapsext:escape>{map.tooltipTitle}</gomapsext:escape>',
            CSSClass: '{map.class}',
            width: '{map.width}',
            height: '{map.height}',
            zoom: {f:if(condition:"{map.zoom}", then:"{map.zoom}", else:"0")},
            defaultZoom: {f:if(condition:"{map.zoom}", then:"{map.zoom}", else:"11")},
            centerLAT: {f:if(condition:"{map.centerLAT}", then:"{map.centerLAT}", else:"0")},
            centerLNG: {f:if(condition:"{map.centerLNG}", then:"{map.centerLNG}", else:"0")},
            centerFitBounds: {f:if(condition:"{map.centerFitBounds} == 0", then:"0", else:"1")},
            kmlUrl: '{map.kmlUrl}',
            kmlPreserveViewport: {f:if(condition:"{map.kmlPreserveViewport}", then:"true", else:"false")},
            kmlLocal: {f:if(condition:"{map.kmlLocal}", then:"1", else:"0")},
            scrollZoom: {f:if(condition:"{map.scrollZoom}", then:"1", else:"0")},
            draggable: {f:if(condition:"{map.draggable}", then:"1", else:"0")},
            doubleClickZoom: {f:if(condition:"{map.doubleClickZoom}", then:"0", else:"1")},
            markerCluster: {f:if(condition:"{map.markerCluster}", then:"1", else:"0")},
            markerClusterZoom: {f:if(condition:"{map.markerClusterZoom} > 0", then:"{map.markerClusterZoom}", else:"null")},
            markerClusterSize: {f:if(condition:"{map.markerClusterSize} > 0", then:"{map.markerClusterSize}", else:"null")},
            markerSearch: {f:if(condition:"{map.markerSearch}", then:"1", else:"0")},
            defaultType: {map.defaultType},
            panControl: {f:if(condition:"{map.panControl}", then:"1", else:"0")},
            scaleControl: {f:if(condition:"{map.scaleControl}", then:"1", else:"0")},
            streetviewControl: {f:if(condition:"{map.streetviewControl}", then:"1", else:"0")},
            zoomControl: {f:if(condition:"{map.zoomControl}", then:"1", else:"0")},
            zoomControlType: {map.zoomControlType},
            maxZoom: {f:if(condition:"{map.maxZoom}", then:"{map.maxZoom}", else:"0")},
            minZoom: {f:if(condition:"{map.minZoom}", then:"{map.minZoom}", else:"0")},
            mapTypeControl: {f:if(condition:"{map.mapTypeControl}", then:"1", else:"0")},
            showRoute: {f:if(condition:"{map.showRoute}", then:"1", else:"0")},
            calcRoute: {f:if(condition:"{map.calcRoute}", then:"1", else:"0")},
            travelMode: {map.travelMode},
            unitSystem: {map.unitSystem},
            showForm: {f:if(condition:"{map.showForm}", then:"1", else:"0")},
            showCategories: {f:if(condition:"{map.showCategories}", then:"1", else:"0")},
            styledMapName: '{map.styledMapName}',
            <f:if condition="{map.styledMapCode}">
                <f:then>
            styledMapCode: <f:format.html parseFuncTSPath="">{map.styledMapCode}</f:format.html>
                </f:then>
                <f:else>
            styledMapCode: ''
                </f:else>
            </f:if>
    }

    gme.mapSettings.mapTypes = new Array();
    <f:for each="{map.mapTypes}" as="type" iteration="i">
        gme.mapSettings.mapTypes[{i.index}] = gme.defaultMapTypes[{type}];
    </f:for>

    gme.request = new Array();

    <f:for each="{request}" as="item" iteration="i" key="k">
    gme.request['{k}'] = '{item}';
    </f:for>

    gme.addresses = new Array();
    <f:for each="{addresses}" as="address" iteration="i">
        gme.addresses[{i.index}]  = {
        	uid_group: <gomapsext:escape>{address.uid_group}</gomapsext:escape>,
        	uid_addr: [<gomapsext:escape>{address.uid_addr}</gomapsext:escape>],
            title: '<gomapsext:escape>{address.title}</gomapsext:escape>',
            latitude: {address.latitude},
            longitude: {address.longitude},
            address: '{f:if(condition:"{address.address}" then:"{address.address}", else:"Linz")}',
            marker: '{f:if(condition:"{address.marker}" then:"uploads/tx_gomapsext/{address.marker}")}',
            imageSize: {f:if(condition:"{address.imageSize}", then:"1", else:"0")},
            imageWidth: {f:if(condition:"{address.imageWidth}", then:"{address.imageWidth}", else:"0")},
            imageHeight: {f:if(condition:"{address.imageHeight}", then:"{address.imageHeight}", else:"0")},
            shadow: '{f:if(condition:"{address.shadow}" then:"uploads/tx_gomapsext/{address.shadow}")}',
            shadowSize: {f:if(condition:"{address.shadowSize}", then:"1", else:"0")},
            shadowWidth: {f:if(condition:"{address.shadowWidth}", then:"{address.shadowWidth}", else:"0")},
            shadowHeight: {f:if(condition:"{address.shadowHeight}", then:"{address.shadowHeight}", else:"0")},
            infoWindowContent: '<gomapsext:escape><f:format.html>{address.infoWindowContent}</f:format.html></gomapsext:escape>',
            infoWindowLink: {f:if(condition:"{address.infoWindowLink}", then:"{address.infoWindowLink}", else:"0")},
            openByClick: <f:if condition="{settings.map.openByClick}"><f:then>1</f:then><f:else>{f:if(condition:"{address.openByClick}", then:"1", else:"0")}</f:else></f:if>,
            closeByClick: <f:if condition="{settings.map.closeByClick}"><f:then>1</f:then><f:else>{f:if(condition:"{address.closeByClick}", then:"1", else:"0")}</f:else></f:if>,
            showDetails: 1,
            opened: {f:if(condition:"{address.opened}", then:"1", else:"0")},
            categories: '<f:for each="{address.categories}" as="category" iteration="icat">{category.uid}{f:if(condition:icat.isLast,then:'',else:',')}</f:for>'
        }
    </f:for>

	gme.details = new Array();
    <f:for each="{details}" as="detail" iteration="i">
        gme.details[{detail.uid}]  = {
        	uid: <gomapsext:escape>{detail.uid}</gomapsext:escape>,
            lastname: '<gomapsext:escape>{detail.lastname}</gomapsext:escape>',
        	fullname: '<gomapsext:escape>{detail.fullname}</gomapsext:escape>',
        	page: '<f:uri.action pageUid="{settings.contactsPage}" arguments="{address: '{detail.uid}'}" action="{settings.person.detail.action}" controller="{settings.person.detail.controller}" extensionName="{settings.person.detail.extensionName}" pluginName="{settings.person.detail.pluginName}"></f:uri.action>',
            image: '<f:if condition="{detail.image}"><gomapsext:escape><f:uri.image src="{detail.image}" treatIdAsReference="TRUE" width="{settings.person.map.image.width}" height="{settings.person.map.image.height}"/></gomapsext:escape></f:if>',
            funktion: '{detail.funktion}',
            berufstitel: '{detail.berufstitel}',
            phone: '<f:if condition="{detail.phone}">{settings.general.phone} - {detail.phone}</f:if>',
            email: '<f:if condition="{detail.email}"><gomapsext:escape><f:link.email email="{detail.email}"><f:if condition="{lang}==1"><f:then>write E-Mail</f:then><f:else>E-Mail schreiben</f:else></f:if></f:link.email></gomapsext:escape></f:if>',
        }
    </f:for>

    gme.ll = {};
    gme.ll.alert = "<f:translate key="LLL:EXT:go_maps_ext/Resources/Private/Language/locallang.xlf:tx_gomapsext_partials_map_assign.alert" />";
    gme.ll.submit = "<f:translate key="LLL:EXT:go_maps_ext/Resources/Private/Language/locallang.xlf:tx_gomapsext_partials_map_assign.submit" />";
    gme.ll.noSearchResults = "<f:translate key="LLL:EXT:go_maps_ext/Resources/Private/Language/locallang.xlf:tx_gomapsext_partials_map_assign.noSearchResults" />";
    gme.ll.infoWindowLinkText = "<f:translate key="LLL:EXT:go_maps_ext/Resources/Private/Language/locallang.xlf:tx_gomapsext_partials_map_assign.infoWindowLinkText" />";
    gme.ll.infoHeader = "{settings.mapInfoHeader}";
    gme.ll.addressHeader_single = "{settings.mapAddressHeader_single}";
    gme.ll.addressHeader_more = "{settings.mapAddressHeader_more}";
    
    var $element = jQuery("#" + gme.mapSettings.title);
    $element.gomapsext(gme);
    if(gme.mapSettings.width.indexOf('%') != -1) {
        jQuery(window).resize(function() {
            $element.trigger('mapresize');
        });
    }

  }); // end of closure
})(jQuery, window, document);
</gomapsext:script>