<f:layout name="Default" />

<f:section name="main">

    <f:if condition="{settings.introHeadline}"><h1>{settings.introHeadline}</h1></f:if>
    <f:if condition="{settings.introText}"><f:format.raw>{settings.introText}</f:format.raw></f:if>
    
    <f:form action="save" name="formdata" object="{formdata}" method="POST" noCacheHash="1">

        <f:form.validationResults>
	        <f:if condition="{validationResults.flattenedErrors}">
        	<p class="error"><f:translate key="form-error-info" /></p>
    	    </f:if>
        </f:form.validationResults>

        <fieldset class="block">
	        <div><f:translate key="formular-info-requireds" /></div>

	        <fieldset class="row">
		        <fieldset class="col1 anrede">
        			<label><f:translate key="salutation" /> <span></span></label>
			        <f:form.radio property="gender" value='<f:translate key="gender-F" />' id="gender-F"/>
			        <label for="gender-F" class="anrede"><f:translate key="gender-F" /></label>
			        <f:form.radio property="gender" value='<f:translate key="gender-M" />' id="gender-M"/>
			        <label for="gender-M" class="anrede"><f:translate key="gender-M" /></label>
		        </fieldset>
				<fieldset class="col2 title">
	                <label for="title"><f:translate key="title" /> <span></span></label>
    	            <f:form.select property="title" options="{lst_titel}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title"/>
                </fieldset>
            </fieldset>
            <fieldset class="row">
        	    <fieldset class="col1">
            		<label for="firstname"><f:translate key="firstname" /> <span>*</span></label>
		            <f:form.textfield property="firstname" id="firstname"/>
    	        </fieldset>
        		<fieldset class="col2">
		            <label for="lastname"><f:translate key="lastname" /> <span>*</span></label>
        		    <f:form.textfield property="lastname" id="lastname"/>
	            </fieldset>
    	        <fieldset class="col3">
        		    <label for="nachgesttitel"><f:translate key="titleAfter" /> <span></span></label>
		            <f:form.select property="titleAfter" id="sel-titleAfter" options="{lst_titel_nach}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-title-after"/>
        	    </fieldset>
            </fieldset>
            
            <fieldset class="row">
            	<fieldset class="col0">
		            <label for="comName"><f:translate key="companyname" /> <span></span></label>
        		    <f:form.textfield property="companyName" id="companyName"/>
	            </fieldset>
            </fieldset>
            
            <fieldset class="row">
        	    <fieldset class="col1">
    	    	    <label for="sel-function"><f:translate key="position-function" /> <span></span></label>
		            <f:form.select property="function" id="sel-function" options="{lst_function}" prependOptionLabel='<f:translate key="form-select-default" />' prependOptionValue="" class="sel-position-function"/>
        	    </fieldset>
            	<fieldset class="col2">
		            <label for="email"><f:translate key="email" /> <span>*</span></label>
        		    <f:form.textfield property="email" id="email"/>
	            </fieldset>
            </fieldset>
            
            <fieldset class="row">
	            <fieldset class="col1">
    		        <label for="street"><f:translate key="street" /> <span></span></label>
            		<f:form.textfield property="street" id="street"/>
	            </fieldset>
            	<fieldset class="col2">
    		        <label for="streetNr"><f:translate key="streetNr" /> <span></span></label>
		            <f:form.textfield property="streetNr" id="streetNr"/>
        	    </fieldset>
            </fieldset>
            <fieldset class="row">
	            <fieldset class="col1">
    		        <label for="zip"><f:translate key="zip" /> <span></span></label>
            		<f:form.textfield property="zip" id="zip"/>
	            </fieldset>
    	        <fieldset class="col2">
        		    <label for="city"><f:translate key="city" /> <span></span></label>
		            <f:form.textfield property="city" id="city"/>
        	    </fieldset>
            </fieldset>
		</fieldset>
        <fieldset class="block last">
            <div>&nbsp;</div>
            <fieldset class="fs_submit">
                <f:form.submit value='<f:translate key="form-button-submit-register" />' class="button"/>
            </fieldset>
        </fieldset>
    </f:form>

</f:section>
