{namespace vh=NEXT\IconErweiterungen\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
  
   	<f:render partial="Event/Related" arguments="{eventItem: eventItem, settings:settings}" />

    <div class="event-detail">
  <f:if condition="{eventItem.isPast}">
  	<f:then>
      <div class="pastInfo"><f:format.raw>{settings.pastInfo} <f:if condition="{settings.pastInfoLinkText}"><f:link.page>{settings.pastInfoLinkText}</f:link.page></f:if></f:format.raw></div>
    </f:then>
    <f:else>
      <f:if condition="{eventItem.isAbgesagt}">
        <f:then>
          <div class="pastInfo"><f:format.raw>{settings.abgesagtInfo} <f:if condition="{settings.abgesagtInfoLinkText}"><f:link.page>{settings.abgesagtInfoLinkText}</f:link.page></f:if></f:format.raw></div>
        </f:then>
<!--
        <f:else>
          <f:if condition="{eventItem.openRegistration}==0">
            <div class="pastInfo"><f:format.raw>{settings.inactiveInfo} <f:if condition="{settings.inactiveInfoLinkText}"><f:link.page>{settings.inactiveInfoLinkText}</f:link.page></f:if></f:format.raw></div>            
          </f:if>
        </f:else>
-->
      </f:if>
    </f:else>
  </f:if>

      <div class="topHeader">
        <div class="header">
        	<f:render partial="Event/Title" arguments="{eventItem: eventItem, settings:settings}" />
        </div>
        <div class="ImageSpeakers">
        <f:if condition="{eventItem.type} == 0">
          <f:if condition="{eventItem.speaker}">
          	<f:then>
              <div class="speakers">
                <f:render partial="Event/Speaker" arguments="{speaker: eventItem.speaker1, settings:settings}" />
                <f:render partial="Event/Speaker" arguments="{speaker: eventItem.speaker2, settings:settings}" />
                <div class="clear"></div>
              </div>
            </f:then>
            <f:else>
	        	<f:render partial="Event/Image" arguments="{eventItem: eventItem, settings:settings}" />
            </f:else>
           </f:if>
        </f:if>
        <f:if condition="{eventItem.type} > 0">
	       	<f:render partial="Event/Image" arguments="{eventItem: eventItem, settings:settings}" />
		</f:if>        
        </div>
        <div class="clear"></div>
      </div>
      <div class="btmHeader">
        <div class="header">
        	<f:render partial="Event/DateTime" arguments="{eventItem: eventItem, settings:settings}" />
			<f:render partial="Event/Place" arguments="{eventItem: eventItem, settings:settings}" />
        </div>
        <div class="ImageSpeakers">
		<f:if condition="{eventItem.openRegistration}">
          <f:link.action action="form" arguments="{event: '{eventItem.uid}'}" class="button anmeldung">zur ANMELDUNG</f:link.action>
		</f:if>
        </div>
        <div class="clear"></div>
      </div>
      <div class="trenner"></div>
	<f:if condition="{eventItem.type}==0">
		<f:if condition="{eventItem.benefit}"><div class="message">{eventItem.benefit}</div></f:if>
	</f:if>
        <div class="eventContent">
		    <div class="contentLeft">
      
			<f:if condition="{eventItem.type}==2">
				<f:if condition="{settings.type2HeaderLeft}"><h3>{settings.type2HeaderLeft}</h3></f:if>
			</f:if>
                <f:format.html>{eventItem.textLinks}</f:format.html>

		<f:if condition="{eventItem.type}==0">
            <f:if condition="{settings.type0ContactInfo}">
	            <div class="eventContact">
                {settings.type0ContactInfo}
                <f:if condition="{settings.type0ContactEmail}"> (<f:link.email email="{settings.type0ContactEmail}">{settings.type0ContactEmail}</f:link.email>)</f:if>
                </div>
			</f:if>
		</f:if>
		<f:if condition="{eventItem.type}==1">
            <f:if condition="{settings.type1ContactInfo}">
	            <div class="eventContact">
                {settings.type0ContactInfo}
                <f:if condition="{settings.type1ContactEmail}"> (<f:link.email email="{settings.type1ContactEmail}">{settings.type1ContactEmail}</f:link.email>)</f:if>
                </div>
			</f:if>
		</f:if>
		<f:if condition="{eventItem.type}==2">
            <f:if condition="{settings.type2ContactInfo}">
	            <div class="eventContact">
                {settings.type2ContactInfo}
                <f:if condition="{settings.type2ContactEmail}"> (<f:link.email email="{settings.type2ContactEmail}">{settings.type2ContactEmail}</f:link.email>)</f:if>
                </div>
			</f:if>
		</f:if>
			</div>
            
	        <div class="contentRight">
            <f:if condition="{eventItem.type}==2">
                <f:if condition="{settings.type2HeaderRight}"><h3>{settings.type2HeaderRight}</h3></f:if>
            </f:if>
            
            <f:if condition="{eventItem.textRechts}">
                <f:format.html>{eventItem.textRechts}</f:format.html>
			</f:if>
            
            <f:if condition="{eventItem.type}==0">
              <f:if condition="{eventItem.isAbgesagt}==0">
                <f:if condition="{eventItem.priceFolder}">
                  <h3>{settings.type0FolderHeader}</h3>
                  <f:format.raw>{settings.type0FolderText}</f:format.raw> {eventItem.priceFolder}
                  <br/><br/>
                  <f:link.action action="folder" arguments="{event: '{eventItem.uid}'}" noCacheHash="TRUE">{settings.type0FolderLinkText}</f:link.action>
                </f:if>
              </f:if>
	            <h3>{settings.type0CostHeader}</h3>
                <f:if condition="{eventItem.hasPrice}">
                	<f:then>
	    	        	<f:if condition="{eventItem.priceSpecial}">{settings.type0CostPriceSpecial} {eventItem.priceSpecial}<br/></f:if>
    	    	    	<f:if condition="{eventItem.price}">{settings.type0CostPrice} {eventItem.price}<br/></f:if>
		                <br/>
                        <f:if condition="{eventItem.priceInfo}">
                            <f:then>
                        <div class="priceinfo"><f:format.html>{eventItem.priceInfo}</f:format.html></div>
                            </f:then>
                            <f:else>
                                <f:if condition="{settings.type0Costinfo}">
                        <div class="priceinfo"><f:format.raw>{settings.type0Costinfo}</f:format.raw></div>
                                </f:if>
                            </f:else>
                        </f:if>
                        <f:if condition="{settings.type0RegRequirements}">
                        <div class="requirements"><f:format.raw>{settings.type0RegRequirements}</f:format.raw></div>
                        </f:if>
                    </f:then>
                    <f:else>
		                <f:format.raw>{settings.type0CostPriceFree}</f:format.raw>
                        <br/>
                        <f:if condition="{eventItem.priceInfo}">
                        <div class="priceinfo"><f:format.html>{eventItem.priceInfo}</f:format.html></div>
                        </f:if>
                    </f:else>
				</f:if>
            </f:if>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</f:section>