{namespace vh=NEXT\IconErweiterungen\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

   	<f:render partial="Event/Related" arguments="{eventItem: eventItem, settings:settings}" />

  <div class="doneHeader">Anforderung Seminarunterlagen.</div>
  <div class="doneIntro">
    Vielen Dank für Ihre Anforderung unserer Seminarunterlagen.<br/>
    Eine Bestätigung wird Ihnen in Kürze per E-Mail zugesandt.
  </div>
  
  <div class="event-detail">
    <f:render partial="Event/Title" arguments="{eventItem: eventItem, settings:settings}" />
    <f:render partial="Event/DateTime" arguments="{eventItem: eventItem, settings:settings}" />
    <f:render partial="Event/Place" arguments="{eventItem: eventItem, settings:settings}" />
  </div>
  <div class="clear"></div>
<!--
  <div class="costInfo">
<f:if condition="{eventItem.type}==0">
    <f:if condition="{eventItem.hasPrice}">
        <f:then>
          <f:if condition="{eventItem.priceSpecial}">{settings.type0CostPriceSpecial} {eventItem.priceSpecial}&nbsp;&nbsp;|&nbsp;&nbsp;</f:if>
          <f:if condition="{eventItem.price}">{settings.type0CostPrice} {eventItem.price}<br/></f:if>
          <br>
          <f:if condition="{eventItem.priceInfo}">
            <f:then>
            <div class="priceinfo"><f:format.html>{eventItem.priceInfo}</f:format.html></div>
            </f:then>
            <f:else>
              <f:if condition="{settings.type0Costinfo}">
            <div class="priceinfo"><f:format.raw>{settings.type0Costinfo}</f:format.raw></div>
              </f:if>
            </f:else>
          </f:if>
        </f:then>
        <f:else>
            <f:format.raw>{settings.type0CostPriceFree}</f:format.raw>
            <br/>
            <f:if condition="{eventItem.priceInfo}">
            <div class="priceinfo"><f:format.html>{eventItem.priceInfo}</f:format.html></div>
            </f:if>
        </f:else>
    </f:if>
</f:if>
  </div>
-->
  <div class="trenner"></div>
  <div class="event-registration">
    <div class="colLeft">
      <div class="block first">
        <h4>Kontakt:</h4>
        {registration.vollAnrede}<br>
        <f:if condition="{registration.function}">{registration.function}<br></f:if>
        <f:if condition="{registration.phone}">{registration.phone}<br></f:if>
        <f:if condition="{registration.email}">{registration.email}</f:if>
      </div>
      <f:if condition="{registration.hasAddress}">
      <div class="block">
        <h4>Firmenadresse:</h4>
        <f:if condition="{registration.addrTitle}">{registration.addrTitle}<br></f:if>
        <f:if condition="{registration.addrStreet}">{registration.addrStreet}, </f:if><f:if condition="{registration.addrZip}">{registration.addrZip} </f:if><f:if condition="{registration.addrCity}">{registration.addrCity}</f:if>
      </div>
      </f:if>
      <f:if condition="{registration.hasBillAddress}">
      <div class="block">
        <h4>Rechnungsadresse:</h4>
        <f:if condition="{registration.billTitle}">{registration.billTitle}<br></f:if>
        <f:if condition="{registration.billStreet}">{registration.billStreet}, </f:if><f:if condition="{registration.billZip}">{registration.billZip} </f:if><f:if condition="{registration.billCity}">{registration.billCity}</f:if>
      </div>
      </f:if>
      <div class="block">
        Zustellung der Seminuarunterlagen per 
        <f:if condition="{registration.sendPdf}==1">E-Mail.</f:if>
        <f:if condition="{registration.sendPdf}==0">Post.</f:if>
      </div>
      <f:if condition="{registration.newsletter}">
      <div class="block">
        Ja, Ich möchte weitere Informationen über ICON beziehen.
      </div>
      </f:if>
    </div>
    <div class="colRight">
      <f:if condition="{registration.message}">
      <div class="block first">
        <h4>Anmerkungen:</h4>
        <f:format.nl2br><f:format.stripTags>{registration.message}</f:format.stripTags></f:format.nl2br>
        <br>
        <br>
      </div>
      </f:if>
    </div>
    <div class="clear"></div>
  </div>
</f:section>