{namespace vh=NEXT\IconErweiterungen\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

   	<f:render partial="Event/Related" arguments="{eventItem: eventItem, settings:settings}" />

<div class="event-form">

  <f:if condition="{eventItem.isPast}">
  	<f:then>
      <div class="pastInfo"><f:format.raw>{settings.pastInfo} <f:if condition="{settings.pastInfoLinkText}"><f:link.page>{settings.pastInfoLinkText}</f:link.page></f:if></f:format.raw></div>
    </f:then>
    <f:else>
      <f:if condition="{eventItem.isAbgesagt}">
        <f:then>
          <div class="pastInfo"><f:format.raw>{settings.abgesagtInfo} <f:if condition="{settings.abgesagtInfoLinkText}"><f:link.page>{settings.abgesagtInfoLinkText}</f:link.page></f:if></f:format.raw></div>
        </f:then>
        <f:else>
          <f:if condition="{eventItem.priceFolder}==0">
            <div class="pastInfo"><f:format.raw>{settings.type0FolderTextInactive} <f:if condition="{settings.type0FolderLinkTextInactive}"><f:link.page>{settings.type0FolderLinkTextInactive}</f:link.page></f:if></f:format.raw></div>            
          </f:if>
        </f:else>
      </f:if>
    </f:else>
  </f:if>


  <div class="formHeader">Seminarunterlagen</div>
  <div class="formIntro">
<f:if condition="{eventItem.priceFolder}">
  <f:then>
    <f:if condition="{eventItem.isAbgesagt}==0">
      Ich fordere verbindlich Seminarunterlagen zu folgender Veranstaltung an:
    </f:if>
  </f:then>
</f:if>
  </div>
  <div class="event-detail">
    <f:render partial="Event/Title" arguments="{eventItem: eventItem, settings:settings}" />
    <f:render partial="Event/DateTime" arguments="{eventItem: eventItem, settings:settings}" />
    <f:render partial="Event/Place" arguments="{eventItem: eventItem, settings:settings}" />
  </div>
  <div class="clear"></div>
<!--
  <div class="costInfo">
<f:if condition="{eventItem.type}==0">
    <f:if condition="{eventItem.hasPrice}">
        <f:then>
          <f:if condition="{eventItem.priceSpecial}">{settings.type0CostPriceSpecial} {eventItem.priceSpecial}&nbsp;&nbsp;|&nbsp;&nbsp;</f:if>
          <f:if condition="{eventItem.price}">{settings.type0CostPrice} {eventItem.price}<br/></f:if>
          <br>
          <f:if condition="{eventItem.priceInfo}">
            <f:then>
            <div class="priceinfo"><f:format.html>{eventItem.priceInfo}</f:format.html></div>
            </f:then>
            <f:else>
              <f:if condition="{settings.type0Costinfo}">
            <div class="priceinfo"><f:format.raw>{settings.type0Costinfo}</f:format.raw></div>
              </f:if>
            </f:else>
          </f:if>
        </f:then>
        <f:else>
            <f:format.raw>{settings.type0CostPriceFree}</f:format.raw>
            <br/>
            <f:if condition="{eventItem.priceInfo}">
            <div class="priceinfo"><f:format.html>{eventItem.priceInfo}</f:format.html></div>
            </f:if>
        </f:else>
    </f:if>
</f:if>
  </div>
-->

<f:if condition="{eventItem.priceFolder}">
  <f:if condition="{eventItem.isAbgesagt}==0">

  <div class="trenner"></div>

  <f:form action="storeFolder" name="folderdata" object="{formdata}" arguments="{event: '{eventItem.uid}'}" method="POST" noCacheHash="1">
  	<f:form.hidden property="type"/>

    <f:form.validationResults>
      <f:if condition="{validationResults.flattenedErrors}">
      <p class="error">Bitte überprüfen Sie Ihre Angaben im Formular.</p>
        <f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
          <f:for each="{errors}" as="error">
            <span class="error">{error}</span><br/>
          </f:for>
        </f:for>
      <br>
      </f:if>
    </f:form.validationResults>

    <fieldset class="block first">
      <div>Zur schnelleren Bearbeitung das Formular bitte vollständig ausfüllen.  * Pflichtfelder</div>
      <fieldset class="row">
        <fieldset class="col1 anrede">
          <f:form.radio property="gender" value="Frau"/>
          <label for="anrede_frau" class="anrede">Frau</label>
          <f:form.radio property="gender" value="Herr"/>
          <label for="anrede_herr" class="anrede">Herr</label>
        </fieldset>
        <fieldset class="col2 title">
          <label for="title">Titel<span></span></label>
          <f:form.select property="title" id="sel-title" options="{lst_titel}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="sel-title"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="firstname">Vorname<span>*</span></label>
          <f:form.textfield property="firstname"/>
        </fieldset>
        <fieldset class="col2">
          <label for="lastname">Nachname<span>*</span></label>
          <f:form.textfield property="lastname"/>
        </fieldset>
        <fieldset class="col3">
          <label for="titleAfter">Nachgest. Titel<span></span></label>
          <f:form.select property="titleAfter" id="sel-title-after" options="{lst_titel_nach}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="sel-title-after"/>          
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="function">Position/Funktion<span></span></label>
          <f:form.select property="function" id="sel-function" options="{lst_pf}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="position-function"/>
        </fieldset>
        <fieldset class="col2">
          <label for="phone">Telefon<span></span></label>
          <f:form.textfield property="phone"/>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col1">
          <label for="email">E-Mail<span>*</span></label>
          <f:form.textfield property="email"/>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="eventBillAddr" class="block">
      <div class="">Rechnungsadresse</div>
      <fieldset class="row">
        <fieldset class="col0">
          <label for="billTitle">Firma<span>*</span></label>
          <f:form.textfield property="billTitle"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col0">
          <label for="billStreet">Straße<span>*</span></label>
          <f:form.textfield property="billStreet"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="billZip">PLZ<span>*</span></label>
          <f:form.textfield property="billZip"/>
        </fieldset>
        <fieldset class="col2">
          <label for="billCity">Ort<span>*</span></label>
          <f:form.textfield property="billCity"/>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset class="block">
      <div>Zustellung</div>
      <fieldset class="row">
        <fieldset class="col0 newsletter">
          <p>Wie dürfen wir Ihnen die Seminuarunterlagen zukommen lassen?</p>
          <f:form.radio property="sendPdf" value="1"/> per E-Mail &nbsp;&nbsp; 
          <f:form.radio property="sendPdf" value="0"/> per Post
        </fieldset>
      </fieldset>
    </fieldset>
  
    
    <fieldset class="block last">
      <div>&nbsp;</div>
      <fieldset class="row">
        <fieldset class="col0 message">
          <label for="" class="message">Anmerkungen<span></span></label>
          <f:form.textarea property="message"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col0 newsletter">
          <p>Holen Sie sich kostenlos und aktuell Informationen zu unseren Wirtschaftsthemen, Veranstaltungen und Vernissagen aus erster Hand.</p>
          <f:form.checkbox property="newsletter" value="1"/>
          <label for="newsletter" class="newsletter">Newsletter abonnieren</label>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="fs_submit">
	      <f:form.submit value="Anfordern" class="button"/>
        </fieldset>
      </fieldset>
    </fieldset>
  
  </f:form>

  </f:if>
</f:if>

</div>
</f:section>