{namespace vh=NEXT\IconErweiterungen\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

   	<f:render partial="Event/Related" arguments="{eventItem: eventItem, settings:settings}" />

<div class="event-form">

  <f:if condition="{eventItem.isPast}">
  	<f:then>
      <div class="pastInfo"><f:format.raw>{settings.pastInfo} <f:if condition="{settings.pastInfoLinkText}"><f:link.page>{settings.pastInfoLinkText}</f:link.page></f:if></f:format.raw></div>
    </f:then>
    <f:else>
      <f:if condition="{eventItem.isAbgesagt}">
        <f:then>
          <div class="pastInfo"><f:format.raw>{settings.abgesagtInfo} <f:if condition="{settings.abgesagtInfoLinkText}"><f:link.page>{settings.abgesagtInfoLinkText}</f:link.page></f:if></f:format.raw></div>
        </f:then>
        <f:else>
          <f:if condition="{eventItem.openRegistration}==0">
            <div class="pastInfo"><f:format.raw>{settings.inactiveInfo} <f:if condition="{settings.inactiveInfoLinkText}"><f:link.page>{settings.inactiveInfoLinkText}</f:link.page></f:if></f:format.raw></div>            
          </f:if>
        </f:else>
      </f:if>
    </f:else>
  </f:if>

  <div class="formHeader">Anmeldung</div>
  
  <div class="formIntro">
    <f:if condition="{eventItem.openRegistration}">
	  <f:then>
        <f:if condition="{eventItem.isPast}==0">
  	      Ich melde mich verbindlich zu folgender Veranstaltung an:
        </f:if>
      </f:then>
    </f:if>
  </div>
  
  <div class="event-detail">
    <f:render partial="Event/Title" arguments="{eventItem: eventItem, settings:settings}" />
    <f:render partial="Event/DateTime" arguments="{eventItem: eventItem, settings:settings}" />
    <f:render partial="Event/Place" arguments="{eventItem: eventItem, settings:settings}" />
  </div>
  <div class="clear"></div>
  <div class="costInfo">
<f:if condition="{eventItem.type}==0">
    <f:if condition="{eventItem.hasPrice}">
        <f:then>
          <f:if condition="{eventItem.priceSpecial}">{settings.type0CostPriceSpecial} {eventItem.priceSpecial}&nbsp;&nbsp;|&nbsp;&nbsp;</f:if>
          <f:if condition="{eventItem.price}">{settings.type0CostPrice} {eventItem.price}<br/></f:if>
          <br>
          <f:if condition="{eventItem.priceInfo}">
            <f:then>
            <div class="priceinfo"><f:format.html>{eventItem.priceInfo}</f:format.html></div>
            </f:then>
            <f:else>
              <f:if condition="{settings.type0Costinfo}">
            <div class="priceinfo"><f:format.raw>{settings.type0Costinfo}</f:format.raw></div>
              </f:if>
            </f:else>
          </f:if>
        </f:then>
        <f:else>
            <f:format.raw>{settings.type0CostPriceFree}</f:format.raw>
            <br/>
            <f:if condition="{eventItem.priceInfo}">
            <div class="priceinfo"><f:format.html>{eventItem.priceInfo}</f:format.html></div>
            </f:if>
        </f:else>
    </f:if>
</f:if>
  </div>

<f:if condition="{eventItem.openRegistration}">
  <f:if condition="{eventItem.isPast}==0">

  <div class="trenner"></div>

  <f:form action="store" name="formdata" object="{formdata}" arguments="{event: '{eventItem.uid}'}" method="POST" noCacheHash="1">
  	<f:form.hidden property="type"/>

    <f:form.validationResults>
      <f:if condition="{validationResults.flattenedErrors}">
      <p class="error">Bitte überprüfen Sie Ihre Angaben im Formular.</p>
        <f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
          <f:for each="{errors}" as="error">
            <span class="error">{error}</span><br/>
          </f:for>
        </f:for>
      <br>
      </f:if>
    </f:form.validationResults>

    <fieldset class="block first">
      <div>Zur schnelleren Bearbeitung das Formular bitte vollständig ausfüllen.  * Pflichtfelder</div>
      <fieldset class="row">
        <fieldset class="col1 anrede">
          <f:form.radio property="gender" value="Frau"/>
          <label for="anrede_frau" class="anrede">Frau</label>
          <f:form.radio property="gender" value="Herr"/>
          <label for="anrede_herr" class="anrede">Herr</label>
        </fieldset>
        <fieldset class="col2 title">
          <label for="title">Titel<span></span></label>
          <f:form.select property="title" id="sel-title" options="{lst_titel}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="sel-title"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="firstname">Vorname<span>*</span></label>
          <f:form.textfield property="firstname"/>
        </fieldset>
        <fieldset class="col2">
          <label for="lastname">Nachname<span>*</span></label>
          <f:form.textfield property="lastname"/>
        </fieldset>
        <fieldset class="col3">
          <label for="titleAfter">Nachgest. Titel<span></span></label>
          <f:form.select property="titleAfter" id="sel-title-after" options="{lst_titel_nach}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="sel-title-after"/>          
        </fieldset>
      </fieldset>
<f:if condition="{eventItem.type} < 2">
  <f:then>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="sel-function">Position/Funktion<span></span></label>
          <f:form.select property="function" id="sel-function" options="{lst_pf}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="position-function"/>
        </fieldset>
        <fieldset class="col2">
          <label for="phone">Telefon<span></span></label>
          <f:form.textfield property="phone"/>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col1">
          <label for="email">E-Mail<span>*</span></label>
          <f:form.textfield property="email"/>
        </fieldset>
        <fieldset class="col2 moreTN">
          <f:form.select property="participants" options="{max_participants}" id="participants"/>
          <label for="participants" class="moreTN">zusätzliche Teilnehmer</label>
        </fieldset>
      </fieldset>
  </f:then>
  <f:else>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="email">E-Mail<span>*</span></label>
          <f:form.textfield property="email"/>
        </fieldset>
        <fieldset class="col2">
          <label for="phone">Telefon<span></span></label>
          <f:form.textfield property="phone"/>
        </fieldset>
      </fieldset>
  </f:else>
</f:if>
    </fieldset>

<f:if condition="{eventItem.type}==2">
    <fieldset class="block">
      <div class="">&nbsp;</div>
      <fieldset class="row">
        <fieldset class="col0 gallery"> 
          <label for="participants">Ich komme in Begleitung von</label>
          <f:form.select property="participants" options="{max_participants_gallery}"/>
          <label for="participants">Personen.</label>
        </fieldset>
      </fieldset>
    </fieldset>
</f:if>

<f:if condition="{eventItem.type} < 2">
    <fieldset id="eventTN1" class="block<f:if condition='{formdata.participants}<1'> hide</f:if>">
      <div>2. Teilnehmer</div>
      <fieldset class="row">
        <fieldset class="col1 anrede">
          <f:form.radio property="gender1" value="Frau"/>
          <label for="anrede1_frau" class="anrede">Frau</label>
          <f:form.radio property="gender1" value="Herr"/>
          <label for="anrede1_herr" class="anrede">Herr</label>
        </fieldset>
        <fieldset class="col2 title">
          <label for="title1">Titel<span></span></label>
          <f:form.select property="title1" id="sel-title1" options="{lst_titel}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="sel-title"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="firstname1">Vorname<span>*</span></label>
          <f:form.textfield property="firstname1"/>
        </fieldset>
        <fieldset class="col2">
          <label for="lastname1">Nachname<span>*</span></label>
          <f:form.textfield property="lastname1"/>
        </fieldset>
        <fieldset class="col3">
          <label for="titleAfter1">Nachgest. Titel<span></span></label>
          <f:form.select property="titleAfter1" id="sel-title-after1" options="{lst_titel_nach}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="sel-title-after"/>          
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="sel-function1">Postion/Funktion<span></span></label>
          <f:form.select property="function1" id="sel-function1" options="{lst_pf}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="position-function"/>          
        </fieldset>
        <fieldset class="col2">
          <label for="phone1">Telefon<span></span></label>
          <f:form.textfield property="phone1"/>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col1">
          <label for="email1">E-Mail<span>*</span></label>
          <f:form.textfield property="email1"/>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="eventTN2" class="block<f:if condition='{formdata.participants}<2'> hide</f:if>">
      <div>3. Teilnehmer</div>
      <fieldset class="row">
        <fieldset class="col1 anrede">
          <f:form.radio property="gender2" value="Frau"/>
          <label for="anrede2_frau" class="anrede">Frau</label>
          <f:form.radio property="gender2" value="Herr"/>
          <label for="anrede2_herr" class="anrede">Herr</label>
        </fieldset>
        <fieldset class="col2 title">
          <label for="title2">Titel<span></span></label>
          <f:form.select property="title2" id="sel-title2" options="{lst_titel}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="sel-title"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="firstname2">Vorname<span>*</span></label>
          <f:form.textfield property="firstname2"/>
        </fieldset>
        <fieldset class="col2">
          <label for="lastname2">Nachname<span>*</span></label>
          <f:form.textfield property="lastname2"/>
        </fieldset>
        <fieldset class="col3">
          <label for="titleAfter2">Nachgest. Titel<span></span></label>
          <f:form.select property="titleAfter2" id="sel-title-after2" options="{lst_titel_nach}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="sel-title-after"/>          
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="sel-function2">Postion/Funktion<span></span></label>
          <f:form.select property="function2" id="sel-function2" options="{lst_pf}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="position-function"/>
        </fieldset>
        <fieldset class="col2">
          <label for="phone2">Telefon<span></span></label>
          <f:form.textfield property="phone2"/>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col1">
          <label for="email2">E-Mail<span>*</span></label>
          <f:form.textfield property="email2"/>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="eventTN3" class="block<f:if condition='{formdata.participants}<3'> hide</f:if>">
      <div>4. Teilnehmer</div>
      <fieldset class="row">
        <fieldset class="col1 anrede">
          <f:form.radio property="gender3" value="Frau"/>
          <label for="anrede3_frau" class="anrede">Frau</label>
          <f:form.radio property="gender3" value="Herr"/>
          <label for="anrede3_herr" class="anrede">Herr</label>
        </fieldset>
        <fieldset class="col2 title">
          <label for="title3">Titel<span></span></label>
          <f:form.select property="title3" id="sel-title3" options="{lst_titel}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="sel-title"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="firstname3">Vorname<span>*</span></label>
          <f:form.textfield property="firstname3"/>
        </fieldset>
        <fieldset class="col2">
          <label for="lastname3">Nachname<span>*</span></label>
          <f:form.textfield property="lastname3"/>
        </fieldset>
        <fieldset class="col3">
          <label for="titleAfter3">Nachgest. Titel<span></span></label>
          <f:form.select property="titleAfter3" id="sel-title-after3" options="{lst_titel_nach}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="sel-title-after"/>          
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="sel-function3">Postion/Funktion<span></span></label>
          <f:form.select property="function3" id="sel-function3" options="{lst_pf}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="position-function"/>
        </fieldset>
        <fieldset class="col2">
          <label for="phone3">Telefon<span></span></label>
          <f:form.textfield property="phone3"/>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col1">
          <label for="email3">E-Mail<span>*</span></label>
          <f:form.textfield property="email3"/>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="eventTN4" class="block<f:if condition='{formdata.participants}<4'> hide</f:if>">
      <div>5. Teilnehmer</div>
      <fieldset class="row">
        <fieldset class="col1 anrede">
          <f:form.radio property="gender4" value="Frau"/>
          <label for="anrede4_frau" class="anrede">Frau</label>
          <f:form.radio property="gender4" value="Herr"/>
          <label for="anrede4_herr" class="anrede">Herr</label>
        </fieldset>
        <fieldset class="col2 title">
          <label for="title4">Titel<span></span></label>
          <f:form.select property="title4" id="sel-title4" options="{lst_titel}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="sel-title"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="firstname4">Vorname<span>*</span></label>
          <f:form.textfield property="firstname4"/>
        </fieldset>
        <fieldset class="col2">
          <label for="lastname4">Nachname<span>*</span></label>
          <f:form.textfield property="lastname4"/>
        </fieldset>
        <fieldset class="col3">
          <label for="titleAfter4">Nachgest. Titel<span></span></label>
          <f:form.select property="titleAfter4" id="sel-title-after4" options="{lst_titel_nach}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="sel-title-after"/>          
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="sel-function4">Postion/Funktion<span></span></label>
          <f:form.select property="function4" id="sel-function4" options="{lst_pf}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="position-function"/>
        </fieldset>
        <fieldset class="col2">
          <label for="phone4">Telefon<span></span></label>
          <f:form.textfield property="phone4"/>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col1">
          <label for="email4">E-Mail<span>*</span></label>
          <f:form.textfield property="email4"/>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="eventTN5" class="block<f:if condition='{formdata.participants}<5'> hide</f:if>">
      <div>6. Teilnehmer</div>
      <fieldset class="row">
        <fieldset class="col1 anrede">
          <f:form.radio property="gender5" value="Frau"/>
          <label for="anrede5_frau" class="anrede">Frau</label>
          <f:form.radio property="gender5" value="Herr"/>
          <label for="anrede5_herr" class="anrede">Herr</label>
        </fieldset>
        <fieldset class="col2 title">
          <label for="title5">Titel<span></span></label>
          <f:form.select property="title5" id="sel-title5" options="{lst_titel}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="sel-title"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="firstname5">Vorname<span>*</span></label>
          <f:form.textfield property="firstname5"/>
        </fieldset>
        <fieldset class="col2">
          <label for="lastname5">Nachname<span>*</span></label>
          <f:form.textfield property="lastname5"/>
        </fieldset>
        <fieldset class="col3">
          <label for="titleAfter5">Nachgest. Titel<span></span></label>
          <f:form.select property="titleAfter5" id="sel-title-after5" options="{lst_titel_nach}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="sel-title-after"/>          
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="sel-function5">Postion/Funktion<span></span></label>
          <f:form.select property="function5" id="sel-function5" options="{lst_pf}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="position-function"/>
        </fieldset>
        <fieldset class="col2">
          <label for="phone5">Telefon<span></span></label>
          <f:form.textfield property="phone5"/>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col1">
          <label for="email5">E-Mail<span>*</span></label>
          <f:form.textfield property="email5"/>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="eventTN6" class="block<f:if condition='{formdata.participants}<6'> hide</f:if>">
      <div>7. Teilnehmer</div>
      <fieldset class="row">
        <fieldset class="col1 anrede">
          <f:form.radio property="gender6" value="Frau"/>
          <label for="anrede6_frau" class="anrede">Frau</label>
          <f:form.radio property="gender6" value="Herr"/>
          <label for="anrede6_herr" class="anrede">Herr</label>
        </fieldset>
        <fieldset class="col2 title">
          <label for="title6">Titel<span></span></label>
          <f:form.select property="title6" id="sel-title6" options="{lst_titel}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="sel-title"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="firstname6">Vorname<span>*</span></label>
          <f:form.textfield property="firstname6"/>
        </fieldset>
        <fieldset class="col2">
          <label for="lastname6">Nachname<span>*</span></label>
          <f:form.textfield property="lastname6"/>
        </fieldset>
        <fieldset class="col3">
          <label for="titleAfter6">Nachgest. Titel<span></span></label>
          <f:form.select property="titleAfter6" id="sel-title-after6" options="{lst_titel_nach}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="sel-title-after"/>          
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="sel-function6">Postion/Funktion<span></span></label>
          <f:form.select property="function6" id="sel-function6" options="{lst_pf}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="position-function"/>
        </fieldset>
        <fieldset class="col2">
          <label for="phone6">Telefon<span></span></label>
          <f:form.textfield property="phone6"/>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col1">
          <label for="email6">E-Mail<span>*</span></label>
          <f:form.textfield property="email6"/>
        </fieldset>
      </fieldset>
    </fieldset>

    <fieldset id="eventTN7" class="block<f:if condition='{formdata.participants}<7'> hide</f:if>">
      <div>8. Teilnehmer</div>
      <fieldset class="row">
        <fieldset class="col1 anrede">
          <f:form.radio property="gender7" value="Frau"/>
          <label for="anrede7_frau" class="anrede">Frau</label>
          <f:form.radio property="gender7" value="Herr"/>
          <label for="anrede7_herr" class="anrede">Herr</label>
        </fieldset>
        <fieldset class="col2 title">
          <label for="title7">Titel<span></span></label>
          <f:form.select property="title7" id="sel-title7" options="{lst_titel}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="sel-title"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="firstname7">Vorname<span>*</span></label>
          <f:form.textfield property="firstname7"/>
        </fieldset>
        <fieldset class="col2">
          <label for="lastname7">Nachname<span>*</span></label>
          <f:form.textfield property="lastname7"/>
        </fieldset>
        <fieldset class="col3">
          <label for="titleAfter7">Nachgest. Titel<span></span></label>
          <f:form.select property="titleAfter7" id="sel-title-after7" options="{lst_titel_nach}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="sel-title-after"/>          
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="sel-function7">Postion/Funktion<span></span></label>
          <f:form.select property="function7" id="sel-function7" options="{lst_pf}" prependOptionLabel='-- Bitte wählen --' prependOptionValue="" class="position-function"/>
        </fieldset>
        <fieldset class="col2">
          <label for="phone7">Telefon<span></span></label>
          <f:form.textfield property="phone7"/>
        </fieldset>
      </fieldset>
	  <fieldset class="row">
        <fieldset class="col1">
          <label for="email7">E-Mail<span>*</span></label>
          <f:form.textfield property="email7"/>
        </fieldset>
      </fieldset>
    </fieldset>


    <fieldset class="block">
      <div class="">Firmenadresse</div>
      <fieldset class="row">
        <fieldset class="col0">
          <label for="addrTitle">Firma<span><f:if condition="{eventItem.type}==0">*</f:if></span></label>
          <f:form.textfield property="addrTitle"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col0">
          <label for="addrStreet">Straße<span><f:if condition="{eventItem.type}==0">*</f:if></span></label>
          <f:form.textfield property="addrStreet"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="addrZip">PLZ<span><f:if condition="{eventItem.type}==0">*</f:if></span></label>
          <f:form.textfield property="addrZip"/>
        </fieldset>
        <fieldset class="col2">
          <label for="addrCity">Ort<span><f:if condition="{eventItem.type}==0">*</f:if></span></label>
          <f:form.textfield property="addrCity"/>
        </fieldset>
      </fieldset>
  <f:if condition="{eventItem.hasPrice}">
      <fieldset class="row">
        <fieldset class="col0 billaddress">
          <f:form.checkbox property="billAddr" value="1" id="billAddr"/>
          <label for="billAddr" class="billaddress">Rechnungsadresse weicht von Firmenadresse ab</label>
        </fieldset>
      </fieldset>
  </f:if>
    </fieldset>

  <f:if condition="{eventItem.hasPrice}">
    <fieldset id="eventBillAddr" class="block<f:if condition='{formdata.billAddr}==0'> hide</f:if>">
      <div class="">Rechnungsadresse</div>
      <fieldset class="row">
        <fieldset class="col0">
          <label for="billTitle">Firma<span></span></label>
          <f:form.textfield property="billTitle"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col0">
          <label for="billStreet">Straße<span></span></label>
          <f:form.textfield property="billStreet"/>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="col1">
          <label for="billZip">PLZ<span></span></label>
          <f:form.textfield property="billZip"/>
        </fieldset>
        <fieldset class="col2">
          <label for="billCity">Ort<span></span></label>
          <f:form.textfield property="billCity"/>
        </fieldset>
      </fieldset>
    </fieldset>
  </f:if>
</f:if>
    
    <fieldset class="block last">
      <div>&nbsp;</div>
<f:if condition="{eventItem.type} < 2">
      <fieldset class="row">
        <fieldset class="col0 message">
          <label for="" class="message">Anmerkungen<span></span></label>
          <f:form.textarea property="message"/>
        </fieldset>
      </fieldset>
</f:if>
      <fieldset class="row">
        <fieldset class="col0 newsletter">
          <p>Holen Sie sich kostenlos und aktuell Informationen zu unseren Wirtschaftsthemen, Veranstaltungen und Vernissagen aus erster Hand.</p>
          <f:form.checkbox property="newsletter" value="1"/>
          <label for="newsletter" class="newsletter">Newsletter abonnieren</label>
        </fieldset>
      </fieldset>
      <fieldset class="row">
        <fieldset class="fs_submit">
	      <f:form.submit value="Anmelden" class="button"/>
        </fieldset>
      </fieldset>
    </fieldset>
  
  </f:form>
  <script type="text/javascript">
  <!--
  function setTN () {
	var max = 8;
	var t = $('#participants').val();
	for( i=1; i<max; i++ ){
		$e = $('#eventTN' + i);
		if( i <= t ){
			$e.removeClass('hide');
		} else {
			$e.addClass('hide');
		}
	}
  };
  $(document).ready(function(){
	setTN();
	$("#participants").change(function(){
		setTN();
	});
	$("#billAddr").change(function(){
		$e = $('#eventBillAddr');
		if( $(this).is(":checked") ){
			$e.removeClass('hide');
		} else {
			$e.addClass('hide');
		}
	});
  });
  -->
  </script>

  </f:if>
</f:if>

</div>
</f:section>