{namespace vh=NEXT\IconErweiterungen\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
  
  <h1>ICON VERANSTALTUNGSKALENDER</h1>
   
  <f:form action="index" name="searchdata" object="{searchdata}" method="POST"> 
    <fieldset class="fs_bereiche">
      <label for="tag">Leistungsbereiche</label>
      <f:form.select property="tag" options="{tags}" prependOptionValue="" prependOptionLabel=" -- Alle -- "/>
    </fieldset>
    <fieldset class="fs_category">
      <label for="category">Kategorie</label>
      <f:form.select property="category" options="{categories}" prependOptionValue="" prependOptionLabel=" -- Alle -- "/>
    </fieldset>
    <fieldset class="fs_speaker">
      <label for="speaker">Vortragende/r</label>
      <f:form.select property="speaker" options="{speakers}" prependOptionValue="" prependOptionLabel=" -- Alle -- "/>
    </fieldset>
    <fieldset class="fs_submit">
	    <f:form.submit value="send"/>
    </fieldset>
  </f:form>
  <script type="text/javascript">
  <!--
  	$('form[name="searchdata"] select').each( function(index){
		$(this).change(function(){ $(this).closest("form").submit(); });
	});
  -->
  </script>
  <f:if condition="{events}">
  <f:then>
  <table border="0" cellspacing="0" cellpadding="0" class="result">
    <thead>
      <tr>
        <th class="col1">Datum</th>
        <td class="col2">Titel</td>
        <td class="col3">Kategorie</td>
        <td class="col4">Ort</td>
        <td class="col5"></td>
      </tr>
    </thead>
    <tbody>
      <f:for each="{events}" as="eventItem" iteration="itemIteration">
        <tr<f:if condition="{itemIteration.isEven}"> class="even"</f:if>>
          <th><f:format.date format="d.m.Y">{eventItem.dateStart}</f:format.date></th>
          <td>
          <f:if condition="{eventItem.type}==3">
            <f:then>
              <f:if condition="{eventItem.link}">
                <f:then>
                  <f:format.raw><vh:Typolink parameter="{eventItem.link}"><f:format.raw>{eventItem.title}</f:format.raw></vh:Typolink></f:format.raw>
                </f:then>
                <f:else>
                  <f:format.raw>{eventItem.title}</f:format.raw>
                </f:else>
              </f:if>
            </f:then>
            <f:else>
              <f:link.action action="detail" controller="Event" arguments="{event: '{eventItem.uid}' }"><f:format.raw>{eventItem.title}</f:format.raw></f:link.action>
            </f:else>
          </f:if>
          </td>
          <td>
          <f:if condition="{eventItem.type}==0">
          	<f:if condition="{eventItem.firstCategory.title}">
              <f:then>{eventItem.firstCategory.title}</f:then>
              <f:else>Seminar</f:else>
            </f:if>
          </f:if>
          <f:if condition="{eventItem.type}==1">Event</f:if>
          <f:if condition="{eventItem.type}==2">Galerie</f:if>
          <f:if condition="{eventItem.type}==3">Extern</f:if>
          </td>
          <td>{eventItem.location}</td>
          <td>
          <f:if condition="{eventItem.type}==3">
            <f:then>
              <f:if condition="{eventItem.link}"><f:format.raw><vh:Typolink parameter="{eventItem.link}">anmelden</vh:Typolink></f:format.raw></f:if>
            </f:then>
            <f:else>
          <f:if condition="{eventItem.openRegistration}">
            <f:link.action action="form" arguments="{event: '{eventItem.uid}'}" >anmelden</f:link.action>
          </f:if>
            </f:else>
          </f:if>
          </td>
        </tr>
      </f:for>
    </tbody>
  </table>
  </f:then>
  <f:else>
  <div class="no-result">
  Zu Ihrer Abfrage konnten keine Einträge gefunden werden.</p>
  </div>
  </f:else>
  </f:if>

  <f:render partial="Event/CategoryLegend" arguments="{class: 'legend-bottom', caption:1, head:1 }" />
  
</f:section>