<f:layout name="Default" />

<f:section name="main">
  
  <f:render partial="Event/CategoryLegend" arguments="{class: 'legend-top', caption: 0, tableHead:0}" />

  <f:if condition="{events}">
  <f:then>
  <f:if condition="{settings.headline}"><h1>{settings.headline}</h1></f:if>
  <table border="0" cellspacing="0" cellpadding="0" class="result">
    <thead>
      <tr>
        <th class="col1">Datum</th>
        <td class="col2">Titel</td>
        <td class="col3">Kategorie</td>
        <td class="col4">Ort</td>
        <td class="col5"></td>
      </tr>
    </thead>
    <tbody>
      <f:for each="{events}" as="eventItem" iteration="itemIteration">
        <tr<f:if condition="{itemIteration.isEven}"> class="even"</f:if>>
          <th><f:format.date format="d.m.Y">{eventItem.dateStart}</f:format.date></th>
          <td>
            <f:link.action pageUid="{settings.detailPage}" action="detail" controller="Event" arguments="{event: '{eventItem.uid}'}"><f:format.raw>{eventItem.title}</f:format.raw></f:link.action>
          </td>
          <td>
          <f:if condition="{eventItem.type}==0">
          	<f:if condition="{eventItem.firstCategory.title}">
              <f:then>{eventItem.firstCategory.title}</f:then>
              <f:else>Seminar</f:else>
            </f:if>
          </f:if>
          <f:if condition="{eventItem.type}==1">Event</f:if>
          <f:if condition="{eventItem.type}==2">Galerie</f:if>
          </td>
          <td>{eventItem.location}</td>
          <td>
          <f:if condition="{eventItem.openRegistration}">
          <f:link.action pageUid="{settings.detailPage}" action="form" controller="Event" arguments="{event: '{eventItem.uid}'}" noCacheHash="TRUE">anmelden</f:link.action>
		</f:if>
          </td>
        </tr>
      </f:for>
    </tbody>
  </table>
    <f:if condition="{settings.detailPage}">
    <div class="shotlistAll">
      <f:link.page pageUid="{settings.detailPage}">
        <f:if condition="{settings.detailPageLinkText}">
          <f:then>{settings.detailPageLinkText}</f:then>
          <f:else>Unser gesamtes Veranstaltungsangebot finden Sie im Veranstaltungskalender</f:else>
        </f:if>
      </f:link.page>
    </div>
    </f:if>
  </f:then>
  <f:else>
  <div class="no-result">
  Aktuell liegen keine Termine vor.</p>
  </div>
  </f:else>
  </f:if>
  
</f:section>