<f:layout name="Default" />

<f:section name="main">

  <div class="teaserBox teaser-Left">
    <f:if condition="{settings.headline}">
    <div class="teaserHeader">{settings.headline}</div>
    </f:if>
    <f:if condition="{settings.detailPage}">
    <div class="teaserAll"><f:link.page pageUid="{settings.detailPage}">alle anzeigen</f:link.page></div>
    </f:if>
    <f:if condition="{events}">
    <div class="teaserList">
      <f:for each="{events}" as="eventItem" iteration="itemIteration">
      <div class="teaserItem">
        <div class="teaserDate"><f:format.date format="d.m.Y">{eventItem.dateStart}</f:format.date></div>
        <div class="teaserContent">
          <f:if condition="{eventItem.preTitle}"><span><f:format.stripTags>{eventItem.preTitle}</f:format.stripTags></span></f:if>
          <f:link.action pageUid="{settings.detailPage}" action="detail" controller="Event" arguments="{event: '{eventItem.uid}'}"><f:format.raw>{eventItem.title}</f:format.raw></f:link.action>
        </div>
      </div>
      </f:for>
    </div>
	</f:if>
  </div>
  
</f:section>