{namespace yag=Tx_Yag_ViewHelpers}

<ol id="{listId}">

	<f:for each="{albums}" key="i" as="album">

		<f:if condition="{album.uid} == {selectedAlbumUid}">

			<f:then><li class="ui-state-default ui-selected" style="margin-bottom:2px;" albumUid="{album.uid}"></f:then>

			<f:else><li class="ui-state-default" style="margin-bottom:2px;" albumUid="{album.uid}"></f:else>

		</f:if>

			

			<div style="padding:3px;">

				<div style="float:left; padding-right:5px;">

					<yag:image item="{album.thumb}" resolutionName="icon64"/>

				</div>

				<div>

					<div><strong>{album.name}</strong></div>

					<div>{album.itemCount} <f:translate key="tx_yag_general.images" /></div>

				</div>

				<div style="clear:both"></div>

			</div>

		</li>

	</f:for>

</ol>