{namespace yag=Tx_Yag_ViewHelpers}
{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace ptx=Tx_PtExtbase_ViewHelpers}

<extlist:comment>
<!--  
Template for rendering list of albums of a gallery

Here is a list of objects / variables that can be accessed in this template:

Tx_PtExtlist_Domain_Model_List_ListData  listData               Items to be rendered
Tx_PtExtlist_Domain_Model_Pager_PagerInterface pager            Pager
Tx_PtExtlist_Domain_Model_Pager_PagerCollection pagerCollection Collection of pagers

@package YAG
@author Michael Knoll <mimi@kaktusteam.de>
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>

<f:layout name="Default" />
<f:section name="head" />

<f:section name="main">

	<f:if condition="{config.albumListConfig.columnCount}">
		<style type="text/css">
			.tx-yag-album-thumb-outerframe { width: {config.albumListConfig.columnRelativeWidth}%;}
		</style>
	</f:if>

	<div class="messages"></div>

	<div class="tx-yag-gallery-header">
    	<f:if condition="{gallery.name}"><h1>{gallery.name}</h1></f:if>
        <f:if condition="{gallery.description}"><p><f:format.nl2br><f:format.stripTags value="{gallery.description}"></f:format.stripTags></f:format.nl2br></p></f:if>
    </div>
	<div class="tx-yag-items">
		<f:for each="{listData}" key="rowIndex" as="listRow">
			<div class="tx-yag-thumb-outerframe tx-yag-album-thumb-outerframe">
				<f:render partial="{config.albumListConfig.albumThumbPartial}" arguments="{album: listRow.album.value, yagContext:yagContext}" />
			</div>
		</f:for>
		<div style="clear:both;">&nbsp;</div>
	</div>
	
	<f:if condition="{config.settings.albumList.showPager}">
		<div class="tx-yag-pager">
			<f:render partial="{config.albumListConfig.pagerPartial}" arguments="{pager: pager, controller:'Gallery', action:'index', pagerCollection: pagerCollection, itemsText: '{f:translate(key:\'tx_yag_domain_model_albums\')}'}" />
		</div>
	</f:if>
</f:section>

<f:section name="beButtonsLeft">
	<ptx:be.buttons.icon uri="{f:uri.action(action: 'list')}"/>
	<ptx:be.buttons.icon uri="{f:uri.action(action: 'new', controller: 'Album', arguments: '{gallery: gallery}')}" icon="actions-document-new"/>
</f:section>


<f:section name="feEdit">
	<ptx:rbac.hasAccess hasAny="{1:'album.create'}">
		<div class="form-actions">
			<ul class="nav nav-pills">
			<ptx:rbac.hasAccess object="gallery" action="edit">
				<li>
					<f:link.action action="edit" controller="Gallery" arguments="{gallery: gallery}"><f:translate key="tx_yag_controller_gallery.editGallery"/></f:link.action>
				</li>
			</ptx:rbac.hasAccess>
			<ptx:rbac.hasAccess object="album" action="create">
				<li>
					<f:link.action action="new" controller="Album" arguments="{gallery: gallery}"><f:translate key="tx_yag_controller_album.addAlbum"/></f:link.action>
				</li>
			</ptx:rbac.hasAccess>
			</ul>
		</div>
	</ptx:rbac.hasAccess>
</f:section>