<f:layout name="Default" />

<f:section name="main">
  
  <h1>ICON REISEKOSTENABRECHNUNG</h1>
   
	<f:form action="login" name="formdata" object="{formdata}" method="POST" noCacheHash="1">
      <fieldset class="block">
        <fieldset class="row">
          <fieldset class="col0">
		    <label>Login<span>*</span></label>
            <f:form.password property="login" value=""/>
          </fieldset>
          <fieldset class="col0">
            <f:form.submit value="LogIn"/>
          </fieldset>
        </fieldset>
     </fieldset>  
   </f:form>
   
</f:section>