  <table class="legend {class}" summary="Übersicht Seminarkategorien der ICON TAX ACADEMY">
  	<f:if condition="{caption}"><caption>ICON TAX ACADEMY</caption></f:if>
    <f:if condition="{head}"><thead>
      <tr>
        <th scope="col">Kategorie</th>
        <th scope="col">Info</th>
      </tr>
    </thead></f:if>
    <tbody>
      <tr>
        <th scope="row">ICON Basic</th>
        <td>Bieten einen fundierten, praxisorientierten Einstieg in das Thema.</td>
      </tr>
      <tr>
        <th scope="row">ICON Special</th>
        <td>Setzen Basiswissen zum behandelten Thema voraus.</td>
      </tr>
      <tr>
        <th scope="row">ICON Premium</th>
        <td>Referenten aus Wirtschaft, Wissenschaft oder Finanzverwaltung kommen zu Wort.</td>
      </tr>
      <tr>
        <th scope="row">ICON Lounge</th>
        <td>Bieten einen kompakten Überblick zu aktuellen Themen. <br />(idR verbunden mit einer Produktpräsentation)<br />Die Teilnahme ist kostenlos!</td>
      </tr>
    </tbody>
  </table>