<f:link.action pageType="798" arguments="{event: '{eventItem.uid}'}" extensionName="iconevents" pluginName="ics" noCache="TRUE" noCacheHash="TRUE" title="Termin in Kalender speichern" class="infoDateTime" rel="nofollow">
    <f:if condition="{f:format.date(date: '{eventItem.dateStart}', format: 'N')}==1">Montag,</f:if>
    <f:if condition="{f:format.date(date: '{eventItem.dateStart}', format: 'N')}==2">Dienstag,</f:if>
    <f:if condition="{f:format.date(date: '{eventItem.dateStart}', format: 'N')}==3">Mittwoch,</f:if>
    <f:if condition="{f:format.date(date: '{eventItem.dateStart}', format: 'N')}==4">Donnerstag,</f:if>
    <f:if condition="{f:format.date(date: '{eventItem.dateStart}', format: 'N')}==5">Freitag,</f:if>
    <f:if condition="{f:format.date(date: '{eventItem.dateStart}', format: 'N')}==6">Samstag,</f:if>
    <f:if condition="{f:format.date(date: '{eventItem.dateStart}', format: 'N')}==7">Sonntag,</f:if>

    <f:format.date format="d.m.Y">{eventItem.dateStart}</f:format.date> | 
    <f:format.date format="H:i">{eventItem.dateStart}</f:format.date> bis 
    <f:format.date format="H:i">{eventItem.dateEnd}</f:format.date> Uhr
    <span class="hide">Termin speichern</span>
</f:link.action>