{namespace vh=NEXT\IconErweiterungen\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
  
    <div class="event-detail">
        <div class="header">
	        <h1><span class="subTitle">{eventItem.preTitle}</span><f:format.raw>{eventItem.title}</f:format.raw></h1>
        
            <div class="infoDateTime">
                Mittwoch, 
                <f:format.date format="d.m.Y">{eventItem.dateStart}</f:format.date> | 
                <f:format.date format="H:i">{eventItem.dateStart}</f:format.date> bis 
                <f:format.date format="H:i">{eventItem.dateEnd}</f:format.date> Uhr
            </div>
            <div class="infoPlace">
                <f:if condition="{eventItem.building}">{eventItem.building},<br></f:if>
                <f:if condition="{eventItem.address}">{eventItem.address}</f:if>
                <f:if condition="{eventItem.addressLink}">| <f:format.raw><vh:Typolink parameter="{eventItem.addressLink}">Anfahrtsplan</vh:Typolink></f:format.raw></f:if>
            </div>
        </div>
        <div class="image">
        <f:if condition="{eventItem.type} == 0">
          <div class="speakers">
        	<f:if condition="eventItem.speaker1">
	            <vh:Typolink parameter="{eventItem.speaker1.pageDetail}">
    		        <f:if condition="{eventItem.speaker1.image}">
            			<f:image src="{settings.detail.imageAddress.path}{eventItem.speaker1.image}" width="{settings.detail.imageAddress.width}" height="{settings.detail.imageAddress.height}" alt="{eventItem.speaker1.firstName} {eventItem.speaker1.lastName}" />
					</f:if>
		            <f:if condition="eventItem.speaker1.title">{eventItem.speaker1.title} </f:if>{eventItem.speaker1.firstName} {eventItem.speaker1.lastName}<f:if condition="{eventItem.speaker1.titleAfter}">, {eventItem.speaker1.titleAfter}</f:if>
				</vh:Typolink>
            </f:if>
            <br/>
        	<f:if condition="eventItem.speaker2">
            <f:image src="{settings.detail.imageAddress.path}{eventItem.speaker2.image}" width="{settings.detail.imageAddress.width}" height="{settings.detail.imageAddress.height}" alt="{eventItem.speaker2.firstName} {eventItem.speaker2.lastName}" />
            <f:if condition="eventItem.speaker2.title">{eventItem.speaker2.title} </f:if>{eventItem.speaker2.firstName} {eventItem.speaker2.lastName}<f:if condition="{eventItem.speaker2.titleAfter}">, {eventItem.speaker2.titleAfter}</f:if>
            </f:if>
          </div>
        </f:if>
        <f:if condition="{eventItem.type} > 0">
        	<f:if condition="{eventItem.image}">
    	    <f:image src="{eventItem.image.uid}" treatIdAsReference="TRUE" width="{settings.detail.image.width}" height="{settings.detail.image.height}" alt="{f:format.stripTags(value: '{eventItem.title}')}" />
            </f:if>
		</f:if>
        
		<f:if condition="{eventItem.registration}">
			<f:link.email email="<f:if condition='{eventItem.type}==0'>seminare@icon.at</f:if><f:if condition='{eventItem.type}==1'>claudia.hois@icon.at</f:if><f:if condition='{eventItem.type}==2'>kathrin.hausberger@icon.at</f:if>?subject=Veranstaltungsanmeldung: {f:format.stripTags(value: '{eventItem.title}')} am <f:format.date format='d.m.Y'>{eventItem.dateStart}</f:format.date>" class="button anmeldung">zur Anmeldung</f:link.email>
		</f:if>
        </div>
        <div class="clear"></div>
        <div class="trenner"></div>
	<f:if condition="{eventItem.type}==0">
		<f:if condition="{eventItem.benefit}"><div class="message">{eventItem.benefit}</div></f:if>
	</f:if>
        <div class="eventContent">
		    <div class="contentLeft">
      
			<f:if condition="{eventItem.type}==0">
				<f:if condition="{settings.type0HeaderLeft}"><h3>{settings.type0HeaderLeft}</h3></f:if>
			</f:if>
			<f:if condition="{eventItem.type}==2">
				<f:if condition="{settings.type2HeaderLeft}"><h3>{settings.type2HeaderLeft}</h3></f:if>
			</f:if>
                <f:format.html>{eventItem.textLinks}</f:format.html>

		<f:if condition="{eventItem.type}==0">
            <f:if condition="{settings.type0ContactInfo}">
	            <div class="eventContact">
                {settings.type2ContactInfo}
                <f:if condition="{settings.type0ContactEmail}"> (<f:link.email email="{settings.type0ContactEmail}">{settings.type0ContactEmail}</f:link.email>)</f:if>
                </div>
			</f:if>
		</f:if>
		<f:if condition="{eventItem.type}==2">
            <f:if condition="{settings.type2ContactInfo}">
	            <div class="eventContact">
                {settings.type2ContactInfo}
                <f:if condition="{settings.type2ContactEmail}"> (<f:link.email email="{settings.type2ContactEmail}">{settings.type2ContactEmail}</f:link.email>)</f:if>
                </div>
			</f:if>
		</f:if>
			</div>
            
	        <div class="contentRight">
            <f:if condition="{eventItem.type}==0">
                <f:if condition="{settings.type0HeaderRight}"><h3>{settings.type0HeaderRight}</h3></f:if>
            </f:if>
            <f:if condition="{eventItem.type}==2">
                <f:if condition="{settings.type2HeaderRight}"><h3>{settings.type2HeaderRight}</h3></f:if>
            </f:if>
            
            <f:if condition="{eventItem.type}==0">
            	<f:if condition="{eventItem.priceSpecial}">Spezialpreis für ICON-Kunden: EUR {eventItem.priceSpecial}<br/></f:if>
            	<f:if condition="{eventItem.price}">Normalpreis: EUR {eventItem.price}<br/></f:if>
                <br/>
                <f:if condition="{eventItem.textRechts}">
                	<f:then>
		                <f:if condition="{eventItem.textRechts}">
                <div class="priceinfo"><f:format.nl2br>{eventItem.textRechts}</f:format.nl2br></div>
        		        </f:if>
                	</f:then>
                    <f:else>
		                <f:if condition="{settings.type0Costinfo}">
                <div class="priceinfo"><f:format.nl2br>{settings.type0Costinfo}</f:format.nl2br></div>
        		        </f:if>
                	</f:else>
				</f:if>
           		<f:if condition="{settings.type0RegRequirements}">
                <div class="requirements"><f:format.nl2br>{settings.type0RegRequirements}</f:format.nl2br></div>
                </f:if>
            </f:if>
            <f:if condition="{eventItem.type}!=0">
                <f:format.html>{eventItem.textRechts}</f:format.html>
			</f:if>
            </div>
            <div class="clear"></div>
        </div>
    </div>

	<br/>
    <br/>
  type: {eventItem.type}<br />
  pre_title: {eventItem.preTitle}<br />
  pre_title_big: {eventItem.preTitleBig}<br />
  title: {eventItem.title}<br />
  date_start: <f:format.date format="d.m.Y H:i:s">{eventItem.dateStart}</f:format.date><br />
  date_end: <f:format.date format="d.m.Y H:i:s">{eventItem.dateStart}</f:format.date><br />
  location: {eventItem.location}<br />
  building: {eventItem.building}<br />
  address: {eventItem.address}<br />
  address_link: {eventItem.addressLink}<br />
  link: {eventItem.link}<br />
  speaker: {eventItem.speaker}<br />
  registration: {eventItem.registration}<br />
  price: {eventItem.price}<br />
  price_special: {eventItem.priceSpecial}<br />
  benefit: {eventItem.benefit}<br />
  text_links: {eventItem.textLinks}<br />
  text_rechts: {eventItem.textRechts}<br />
  <br />
  
  
</f:section>