{namespace vh=NEXT\IconErweiterungen\ViewHelpers}

<div class="infoPlace">
    <f:if condition="{eventItem.building}">{eventItem.building},<br></f:if>
    <f:if condition="{eventItem.address}">{eventItem.address}</f:if>
    <f:if condition="{eventItem.addressLink}">| <f:format.raw><vh:Typolink parameter="{eventItem.addressLink}">Anfahrtsplan</vh:Typolink></f:format.raw></f:if>
</div>