{namespace vh=NEXT\IconErweiterungen\ViewHelpers}

<f:if condition="{eventItem.relatedUid}">
  <div class="event-related">
    <div class="event-related-side">!</div>
    <div class="event-related-middle">
      <div class="text-info"><f:if condition="{eventItem.relatedTextInfo}"><f:then>{eventItem.relatedTextInfo}</f:then><f:else>{settings.type0RelatedTextInfo}</f:else></f:if></div>
    <f:link.action action="detail" arguments="{event: '{eventItem.relatedUid}'}"><f:if condition="{eventItem.relatedTextLink}"><f:then>{eventItem.relatedTextLink}</f:then><f:else>{settings.type0RelatedTextLink}</f:else></f:if></f:link.action>
    </div>
    <div class="event-related-side">!</div>
  </div>
</f:if>