{namespace vh=NEXT\IconErweiterungen\ViewHelpers}

<f:if condition="{speaker}">

  <div class="speaker">
    <f:if condition="{settings.contactsPage}">
      <f:then>
        <f:link.action pageUid="{settings.contactsPage}" arguments="{address: '{speaker.uid}'}" action="detail" controller="Address" extensionName="ttaddressicon" pluginName="pi3">
          <f:if condition="{speaker.image}">
    	    <f:image src="{speaker.image.uid}" treatIdAsReference="TRUE" width="{settings.detail.imageAddress.width}" height="{settings.detail.imageAddress.height}" alt="<f:if condition='{speaker.title}'>{speaker.title} </f:if>{speaker.firstName} {speaker.lastName}<f:if condition='{speaker.titleAfter}'>, {speaker.titleAfter}</f:if>" />
          </f:if>
          <f:if condition="speaker.title">{speaker.title} </f:if>{speaker.firstName} {speaker.lastName}<f:if condition="{speaker.titleAfter}">, {speaker.titleAfter}</f:if>
        </f:link.action>
      </f:then>
  
      <f:else>
        <f:if condition="{speaker.image}">
          <f:image src="{speaker.image.uid}" treatIdAsReference="TRUE" width="{settings.detail.imageAddress.width}" height="{settings.detail.imageAddress.height}" alt="<f:if condition='{speaker.title}'>{speaker.title} </f:if>{speaker.firstName} {speaker.lastName}<f:if condition='{speaker.titleAfter}'>, {speaker.titleAfter}</f:if>" />
        </f:if>
        <f:if condition="speaker.title">{speaker.title} </f:if>{speaker.firstName} {speaker.lastName}<f:if condition="{speaker.titleAfter}">, {speaker.titleAfter}</f:if>
      </f:else>
    </f:if>
  </div>

</f:if>