{namespace vh=NEXT\IconErweiterungen\ViewHelpers}

<h1><span class="subTitle<f:if condition='{eventItem.preTitleBig}'> big</f:if>">{eventItem.preTitle}</span><f:format.raw>{eventItem.title}</f:format.raw></h1>