{namespace vh=NEXT\IconReiseabrechnung\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	
	<script src="/typo3conf/ext/icon_reiseabrechnung/Resources/Public/js/abrechnen.js" type="text/javascript"></script> 

   	<f:form id="abrechnen-form" name="abrechnen" action="abrechnen" method="POST" noCacheHash="1">
    	<f:form.hidden property="ids" id="ids"/>

	<table class="overview manager abrechnen">
    	<f:render partial="Manager/OverviewHead" arguments="{view: 'abrechnen'}"/>
        <tbody>
        <f:for each="{reisen}" as="reise">
	        <tr>
		        <td>{reise.uid}</td>
        		<td><vh:Reise mode="reisenr" reise="{reise}" /></td>
        		<td>{reise.personnr}</td>
        		<td>{reise.firstname} {reise.lastname}</td>
        		<td><f:format.date date="{reise.abschnitte.0.abDatetime}" format="%d.%m.%Y"/></td>
		        <td><vh:Reise mode="grund" grund="{reise.grund}" /></td>
        		<td>{reise.ziel}</td>
		        <td>{reise.klientennr}</td>
        		<td>{reise.projektnr}</td>
        		<td>{reise.status}</td>
                <td><input type="checkbox" name="BH-{reise.uid}" id="BH-{reise.uid}" class="CB-BH" value="1" {f:if(condition:'{reise.exportBh}==1',then:'checked="checked" disabled readonly',else:'')} data-id="{reise.uid}"/></td>
                <td><input type="checkbox" name="LV-{reise.uid}" id="LV-{reise.uid}" class="CB-LV" value="1" {f:if(condition:'{reise.exportLv}==1',then:'checked="checked" disabled readonly',else:'')} data-id="{reise.uid}"/></td>
                <td><f:if condition="{reise.verrechenbar}"><input type="checkbox" name="WV-{reise.uid}" id="WV-{reise.uid}" class="CB-WV" value="1" {f:if(condition:'{reise.exportWv}==1',then:'checked="checked" disabled readonly',else:'')} data-id="{reise.uid}"/></f:if></td>
                </td>
        		<td><f:format.raw><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTaxfree}</f:format.currency></f:format.raw></td>
        		<td><f:format.raw><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTax}</f:format.currency></f:format.raw></td>
        		<td><f:format.raw><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTotal}</f:format.currency></f:format.raw></td>
        		<td><f:format.raw><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTotalWv}</f:format.currency></f:format.raw></td>
        		<td>
                <f:if condition="{reise.status} == 'SEK'">
                	<f:then>
		                <f:link.action action="edit" arguments="{reise: '{reise.uid}'}" noCacheHash="TRUE">bearbeiten</f:link.action>
					</f:then>
					<f:else>
						<f:link.action action="view" arguments="{reise: '{reise.uid}'}" noCacheHash="TRUE">anzeigen</f:link.action>
					</f:else>
                </f:if>
                </td>
	        </tr>
        </f:for>
        </tbody>
    </table>

    </f:form>

    <div class="" style="margin-top:20px;">
    	<input type="button" id="btn-BH" disabled="disabled" name="" value="export Buchhaltung" class="button disabled"/>
    	<input type="button" id="btn-LV" disabled="disabled" name="" value="export Lohnverrechnung" class="button disabled"/>
    	<input type="button" id="btn-WV" disabled="disabled" name="" value="Weiterverrechnung durchgeführt" class="button disabled"/>        
    </div>


   	<f:form id="abrechnenBH-form" name="abrechnen" action="abrechnenBH" method="POST" noCacheHash="1">
    	<f:form.hidden property="ids" id="ids-BH"/>
<f:if condition="{test-smo}">
	<f:form.checkbox property="dotest" value="1" id="dotest-BH"/> <label for="dotest-BH">Test Export Buchhaltung</label>
</f:if>

    </f:form>
    
   	<f:form id="abrechnenLV-form" name="abrechnen" action="abrechnenLV" method="POST" noCacheHash="1">
    	<f:form.hidden property="ids" id="ids-LV"/>

<f:if condition="{test-smo}">
	<f:form.checkbox property="dotest" value="1" id="dotest-LV"/> <label for="dotest-LV">Test Export Lohnverrechnung</label>
</f:if>

    </f:form>
    
   	<f:form id="abrechnenWV-form" name="abrechnen" action="abrechnenWV" method="POST" noCacheHash="1">
    	<f:form.hidden property="ids" id="ids-WV"/>
    </f:form>
    
</f:section>