<f:layout name="Default" />

<f:section name="main">
	
	<f:render partial="Login/Status" arguments="{_all}" />
    
	<f:render partial="Manager/Title"/>

	<f:render partial="Manager/Menu" arguments="{_all}"/>

	<table>
    	<thead>
        	<tr>
            	<th>UID</th>
            	<th>Reise-Nr.</th>
            	<th>Personal-Nr.</th>
                <th>Datum</th>
                <th>Grund</th>
                <th>Ziel</th>
                <th>Klient</th>
                <th>Projekt</th>
                <th>Status</th>
                <th>Summe Steuerfrei</th>
                <th>Summe Steuerpflichtig</th>
                <th>Summe Gesamt</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        <f:for each="{reisen}" as="reise">
			<tr>
		        <td>{reise.uid}</td>
        		<td>{reise.reisenr}</td>
        		<td>{reise.personnr}</td>
        		<td><f:format.date date="{reise.abschnitte.0.abDatetime}" format="%d.%m.%Y"/></td>
		        <td><vh:Reise mode="grund" grund="{reise.grund}" /></td>
        		<td>{reise.ziel}</td>
		        <td>{reise.klientennr}</td>
        		<td>{reise.projektnr}</td>
        		<td>{reise.status}</td>
        		<td><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTaxfree}</f:format.currency></td>
        		<td><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTax}</f:format.currency></td>
        		<td><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTotal}</f:format.currency></td>
        		<td>
                <f:if condition="{reise.status} == 'SEK'">
                	<f:then>
		                <f:link.action action="edit" arguments="{reise: '{reise.uid}'}" noCacheHash="TRUE">bearbeiten</f:link.action>
					</f:then>
					<f:else>
						ansehen
					</f:else>
                </f:if>
                </td>
	        </tr>
        </f:for>
        </tbody>
    </table>
   
</f:section>