{namespace vh=NEXT\IconReiseabrechnung\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">

  <f:if condition="{reisen}">
    <f:then>  
      <f:widget.paginate objects="{reisen}" as="paginatedItems" configuration="{paginate}">
        
	<table class="overview manager">
    	<f:render partial="Manager/OverviewHead" arguments="{view: 'deleted'}"/>
        <tbody>

		<f:for each="{paginatedItems}" as="reise">
	        <tr>
		        <td>{reise.uid}</td>
        		<td><vh:Reise mode="reisenr" reise="{reise}" /></td>
        		<td>{reise.personnr}</td>
        		<td>{reise.firstname} {reise.lastname}</td>
        		<td><f:format.date date="{reise.abschnitte.0.abDatetime}" format="%d.%m.%Y"/></td>
		        <td><vh:Reise mode="grund" grund="{reise.grund}" /></td>
        		<td>{reise.ziel}</td>
		        <td>{reise.klientennr}</td>
        		<td>{reise.projektnr}</td>
        		<td>{reise.status}</td>
        		<td><f:format.raw><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTaxfree}</f:format.currency></f:format.raw></td>
        		<td><f:format.raw><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTax}</f:format.currency></f:format.raw></td>
        		<td><f:format.raw><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTotal}</f:format.currency></f:format.raw></td>
        		<td><f:format.raw><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTotalWv}</f:format.currency></f:format.raw></td>
        		<td>
					<f:link.action action="showDeleted" arguments="{reise: '{reise.uid}'}" noCacheHash="TRUE">anzeigen</f:link.action>
                </td>
	        </tr>
        </f:for>
        </tbody>
    </table>

      </f:widget.paginate>
    </f:then>
    <f:else>
      <p>{settings.search.noEntries}</p>
    </f:else>
  </f:if>
   
</f:section>