{namespace vh=NEXT\IconReiseabrechnung\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">
    <link href="/typo3conf/ext/icon_reiseabrechnung/Resources/Public/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">
    <script src="/typo3conf/ext/icon_reiseabrechnung/Resources/Public/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

    <f:if condition="{user}">
        <f:form id="user-form" name="user" action="saveMitarbeiter" object="{user}" method="POST"
                enctype="multipart/form-data" noCacheHash="1">
            <legend>Mitarbeiter</legend>
            <fieldset class="block">
                <label for="personnr">Person-Nr.:</label>
                <f:form.textfield id="personnr" property="personnr" data="{validation:'required'}"/>
            </fieldset>
            <!--
            <fieldset class="block">
                <label for="title">Titel:</label>
                <f:form.textfield id="title" property="title"/>
            </fieldset>
            -->
            <fieldset class="block">
                <label for="firstname">Vorname:</label>
                <f:form.textfield id="firstname" property="firstname" data="{validation:'required'}"/>
            </fieldset>
            <fieldset class="block">
                <label for="lastname">Nachname:</label>
                <f:form.textfield id="lastname" property="lastname" data="{validation:'required'}"/>
            </fieldset>
            <!--
            <fieldset class="block">
                <label for="title_after">Titel nachgestellt:</label>
                <f:form.textfield id="title_after" property="titleAfter"/>
            </fieldset>
            -->
            <fieldset class="block">
                <label for="email">E-Mail:</label>
                <f:form.textfield id="email" property="email" data="{validation:'required'}"/>
            </fieldset>
            <fieldset class="block">
                <label for="manager">Sek:</label>
                <f:form.select property="manager" options="{0:'nein',1:'ja'}" />

            </fieldset>
            <fieldset class="block">
                <label for="deleted">Ausgetreten:</label>
                <f:form.select property="deleted" options="{0:'nein',1:'ja'}" />

            </fieldset>

            <fieldset>
                <f:form.button type="submit" class="button">Speichern</f:form.button>
            </fieldset>
        </f:form>
        <script>
            $(document).ready(function() {
                $.validate({
                    form:'#user-form',
                    modules : 'jsconf, html5, date, security, sanitize',
                    showHelpOnFocus : false,
                    addSuggestions : false,
                    borderColorOnError : '#F00',


                });
            })
        </script>

    </f:if>
</f:section>