{namespace vh=NEXT\IconReiseabrechnung\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
  
	<script src="/typo3conf/ext/icon_reiseabrechnung/Resources/Public/js/scripts.js" type="text/javascript"></script> 

    <div class="edit edit-manager">
    
    	<h3>BEARBEITUNG</h3>

    	<f:form id="trip-form" name="reise" action="save" object="{reise}" method="POST" enctype="multipart/form-data" noCacheHash="1">
			<input type="hidden" id="userMode" value="{userMode}" />
        
			<f:render partial="Reise/Form" arguments="{_all}"/>

			<fieldset class="block block-einreichung">
				<legend>Reiseabrechnung zur Freigabe:</legend>
            	<fieldset>
                    <f:form.radio property="chief" value="2" id="chief-2"/>
                	<label for="chief-2">{settings.departments.2.chief.name} ({settings.departments.2.chief.email})</label>
                </fieldset>
            	<fieldset>
                    <f:form.radio property="chief" value="3" id="chief-3"/>
                	<label for="chief-3">{settings.departments.3.chief.name} ({settings.departments.3.chief.email})</label>
                </fieldset>
            	<fieldset>
                    <f:form.radio property="chief" value="1" id="chief-1"/>
                	<label for="chief-1">{settings.departments.1.chief.name} ({settings.departments.1.chief.email})</label>
                </fieldset>
				<fieldset>
					<f:form.radio property="chief" value="4" id="chief-4"/>
					<label for="chief-4">{settings.departments.4.chief.name} ({settings.departments.4.chief.email})</label>
				</fieldset>
	            <fieldset class="fs_submit">
                	<f:form.hidden property="submit" id="einreichung-checked"/>
    		        <f:form.button type="button" disabled="disabled" id="einreichung-submit" class="button disabled">Abrechnung zur Freigabe senden</f:form.button>
            	</fieldset>
			</fieldset>
        </f:form>

		<f:if condition="{userMode} == 'MANAGER'">
			<f:form id="trip-form-delete" name="reise" action="delete" object="{reise}" method="POST" enctype="multipart/form-data" noCacheHash="1">
				<input type="hidden" id="userMode" value="{userMode}" />
				<input type="hidden" id="reise" value="{reise}" />
					<fieldset class="block">
						<legend>Reiseabrechnung löschen</legend>
						<input id="button-delete" type="button" value="Reiseabrechnung löschen" class="button"/><br />
						<fieldset id="delete-reise-container" style="display:none">
							<br /><label class="label" for="delete_reason" style="width:inherit;">Begründung:</label><br />
							<f:form.textarea property="deleteReason" id="delete_reason" style="width:100%;height:100px;"/>
							<input id="button-delete-final" disabled="disabled" type="submit" value="Reiseabrechnung jetzt wirklich löschen" class="button disabled"/>
						</fieldset>
					</fieldset>
			</f:form>
		</f:if>
    </div>
   
</f:section>