{namespace vh=NEXT\IconReiseabrechnung\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<f:form id="filter_mitarbeiter" action="erledigt" method="post">
	<fieldset class="block">
		<label for="sel_mitarbeiter"><strong>Filtern nach Mitarbeiter</strong></label>
		<select name="mitarbeiter" id="sel_mitarbeiter">
			<option value="">--- bitte auswählen ---</option>
			<f:if condition="{users}">
				<f:for each="{users}" as="user">
					<f:if condition="{user.personnr} == {personNr}">
						<f:then>
							<option value="{user.personnr}" selected="selected">{user.firstname} {user.lastname} - {user.personnr} {f:if(condition: '{user.deleted}', then: '- (AUS)')}</option>
						</f:then>
						<f:else>
							<option value="{user.personnr}">{user.firstname} {user.lastname} - {user.personnr} {f:if(condition: '{user.deleted}', then: '- (AUS)')}</option>
						</f:else>
					</f:if>
				</f:for>
			</f:if>
		</select>
	</fieldset>
	</f:form><br />
	<script>
        $(document).ready(function() {
            $("#sel_mitarbeiter").change(function(){
                $("#filter_mitarbeiter").submit();
			})
		})
	</script>

  <f:if condition="{reisen}">
    <f:then>  
      <f:widget.paginate objects="{reisen}" as="paginatedItems" configuration="{paginate}">
        
	<table class="overview manager erledigt">
    	<f:render partial="Manager/OverviewHead" arguments="{view: 'erledigt'}"/>
        <tbody>
        <f:for each="{paginatedItems}" as="reise">
	        <tr>
		        <td>{reise.uid}</td>
        		<td><vh:Reise mode="reisenr" reise="{reise}" /></td>
        		<td>{reise.personnr}</td>
        		<td>{reise.firstname} {reise.lastname}</td>
        		<td><f:format.date date="{reise.abschnitte.0.abDatetime}" format="%d.%m.%Y"/></td>
		        <td><vh:Reise mode="grund" grund="{reise.grund}" /></td>
        		<td>{reise.ziel}</td>
		        <td>{reise.klientennr}</td>
        		<td>{reise.projektnr}</td>
        		<td>{reise.status}</td>
        		<td><f:format.raw><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTaxfree}</f:format.currency></f:format.raw></td>
        		<td><f:format.raw><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTax}</f:format.currency></f:format.raw></td>
        		<td><f:format.raw><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTotal}</f:format.currency></f:format.raw></td>
        		<td><f:format.raw><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{reise.sumTotalWv}</f:format.currency></f:format.raw></td>
        		<td>
                <f:if condition="{reise.status} == 'SEK'">
                	<f:then>
		                <f:link.action action="edit" arguments="{reise: '{reise.uid}'}" noCacheHash="TRUE">bearbeiten</f:link.action>
					</f:then>
					<f:else>
						<f:link.action action="view" arguments="{reise: '{reise.uid}'}" noCacheHash="TRUE">anzeigen</f:link.action>
					</f:else>
                </f:if>
                </td>
	        </tr>
        </f:for>
        </tbody>
    </table>

      </f:widget.paginate>
    </f:then>
    <f:else>
      <p>{settings.search.noEntries}</p>
    </f:else>
  </f:if>
   
</f:section>