{namespace vh=NEXT\IconReiseabrechnung\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	
<link href="/typo3conf/ext/icon_reiseabrechnung/Resources/Public/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">
<script src="/typo3conf/ext/icon_reiseabrechnung/Resources/Public/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="/typo3conf/ext/icon_reiseabrechnung/Resources/Public/js/rueckerstattung.js" type="text/javascript"></script> 

  <div class="edit">


    <fieldset class="block">
    	<legend>Mitarbeiter</legend>

		<f:form id="erstattung-form" name="erstattung" action="erstattung" object="{erstattung}" method="POST" noCacheHash="1">
		<fieldset>
			<label class="label" for="personnr">Personal-Nr:</label>
			<f:form.select property="personnr" id="personnr" class="personnr" options="{users}" optionLabelField="selectLabel" optionValueField="personnr" prependOptionLabel="--- bitte auswählen ---" prependOptionValue=""/>
		</fieldset>
	</f:form>
		<script>
			$(document).ready(function() {
				$("#personnr").change(function(){
					$("#erstattung-form").submit();
				})
			})
        </script>

<f:if condition="{seminar.personnr}">
	<f:form id="erstattung-seminar-form" name="seminar" action="seminar" object="{seminar}" method="POST" noCacheHash="1">
		<fieldset>
			<f:form.hidden property="personnr"/>
			<f:form.button type="submit" class="button">NB-Seminar hinzufügen</f:form.button>
		</fieldset>
	</f:form>
</f:if>
	</fieldset>

<f:if condition="{results}">
    <fieldset id="rueckerstattung-form" class="block">
    	<legend>Ausbildungskostenrückerstattung</legend>
		<fieldset class="block-datum">
			<label class="label" for="austrittsdate">Austrittsdatum:</label>
			<input type="text" name="austrittsdate" id="austrittsdate" value="{today}">
            <f:form.button type="button" class="button" id="austritt-btn">Berechnen</f:form.button>
		</fieldset>
        <fieldset class="block-summe">
        	<label>Summe Rückerstattung:</label>
            <strong>&euro; <span id="sum-rueck">0,00</span></strong>
        </fieldset>
	</fieldset>
</f:if>
  </div>
        
<f:if condition="{results}">
	<table class="overview manager erstattung">
    	<f:render partial="Manager/OverviewHead" arguments="{view: 'erstattung'}"/>
        <tbody style="display:none;">
        <f:for each="{reisen}" as="reise">
<!-- f:if condition="{reise.grund} == 4" -->
	        <tr data-uid="{reise.uid}"  data-datetime="{reise.abschnitte.0.abDatetime}">
		        <td>{reise.uid}</td>
        		<td><vh:Reise mode="reisenr" reise="{reise}" /></td>
        		<td>{reise.personnr}</td>
        		<td>{reise.firstname} {reise.lastname}</td>
                <td>Reise</td>
        		<td><f:format.date date="{reise.abschnitte.0.abDatetime}" format="%d.%m.%Y"/></td>
		        <td><vh:Reise mode="grund" grund="{reise.grund}" /></td>
                <f:format.raw><vh:ReiseErstattung reise="{reise}"/></f:format.raw>
                <td><f:link.action action="view" arguments="{reise: '{reise.uid}'}" noCacheHash="TRUE">anzeigen</f:link.action></td>
	        </tr>
<!-- /f:if -->
        </f:for>

        <f:for each="{seminare}" as="semi">
	        <tr data-uid="NBS-{semi.uid}" data-datetime="{semi.datetime}">
		        <td>{semi.uid}</td>
        		<td>NBS-{semi.uid}</td>
        		<td>{semi.personnr}</td>
        		<td>{semi.firstname} {semi.lastname}</td>
                <td>Seminar</td>
        		<td><f:format.date date="{semi.datetime}" format="%d.%m.%Y"/></td>
		        <td>{semi.title}</td>
        		<td data-uid="NBS-{semi.uid}" data-sumtotal="{semi.netto}"><f:format.raw><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{semi.netto}</f:format.currency></f:format.raw></td>
        		<td data-uid="NBS-{semi.uid}" data-sumseminar="{semi.netto}"><f:format.raw><f:format.currency currencySign="&euro;" decimalSeparator="," thousandsSeparator="." prependCurrency="true">{semi.netto}</f:format.currency></f:format.raw></td>
                <td data-uid="NBS-{semi.uid}" data-sumreise="0">&euro; 0,00</td>
        		<td data-uid="NBS-{semi.uid}" data-sumaliquote="0">&euro; 0,00</td>
                <td><f:link.action action="seminar" arguments="{seminar: '{semi.uid}'}" noCacheHash="TRUE">bearbeiten</f:link.action></td>
	        </tr>
        </f:for>
        </tbody>
    </table>
</f:if>

</f:section>