{namespace vh=NEXT\IconReiseabrechnung\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
    <f:if condition="{users}">
        <p>
            <f:link.action action="newMitarbeiter" class="button">Neuen Mitarbeiter anlegen</f:link.action>
        </p>
        <table class="overview">
            <f:render partial="Manager/OverviewHeadMitarbeiter" arguments="{view: 'index'}"/>
            <tbody>
                <f:for each="{users}" as="user">
                    <f:if condition="{user.uid} != '2'">
                        <tr>
                            <td>{user.uid}</td>
                            <td>{user.personnr}</td>
                            <td>{user.firstname}</td>
                            <td>{user.lastname}</td>
                            <td style="text-align:left;">{user.email}</td>
                            <td style="text-align:left;"><f:if condition="{user.manager}"><f:then>ja</f:then><f:else>nein</f:else></f:if></td>
                            <td style="text-align:left;"><f:if condition="{user.deleted}"><f:then>ja</f:then><f:else>nein</f:else></f:if></td>
                            <td><f:link.action action="editMitarbeiter" arguments="{user: '{user.uid}'}" noCacheHash="TRUE">bearbeiten</f:link.action></td>
                        </tr>
                    </f:if>
                </f:for>
            </tbody>
        </table>
    </f:if>


</f:section>