<f:layout name="Default" />

<f:section name="main">

<link href="/typo3conf/ext/icon_reiseabrechnung/Resources/Public/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">
<script src="/typo3conf/ext/icon_reiseabrechnung/Resources/Public/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script> 

<script src="/typo3conf/ext/icon_reiseabrechnung/Resources/Public/js/seminar.js" type="text/javascript"></script> 

    <div class="edit edit-seminar">
    
    	<h3>Nahbereich-Seminar hinzufügen</h3>

    	<f:form id="seminar-form" name="seminar" action="saveSeminar" object="{seminar}" method="POST" noCacheHash="1">
			<f:form.hidden property="personnr" />
            
            <fieldset class="block">
            	<legend>Mitarbeiter:</legend>
                <fieldset>
                	<label class="label" for="">Personal-Nr:</label>
                    <span><strong>{seminar.personnr}</strong></span>
				</fieldset>
                <fieldset>
                	<label class="label" for="">Mitarbeiter:</label>
                    <span><strong>{seminar.firstname} {seminar.lastname}</strong></span>
				</fieldset>
			</fieldset>

			<fieldset class="block">
            	<legend>Nahbereich-Seminar:</legend>
                <fieldset>
                	<label class="label" for="">Titel / Veranstalter:</label>
                    <f:form.textfield property="title" id="title"/>
				</fieldset>
                <fieldset>
                	<label class="label" for="">Datum:</label>
                    <f:form.hidden property="datetime" id="datetime"/>
    	            <input type="text" class="" value="{f:format.date(date: seminar.datetime, format: '%d.%m.%Y')}" id="startdatetime" data-value="{f:format.date(date: seminar.datetime, format: '%d.%m.%Y')}"/>
				</fieldset>
                <fieldset>
                	<label class="label" for="">Ort:</label>
                    <f:form.textfield property="place" id="ort"/>
				</fieldset>
                <fieldset>
                	<label class="label" for="">Kosten Brutto:</label>
                    <f:form.textfield property="brutto" id="brutto" value="<f:format.number decimalSeparator=',' thousandsSeparator=''>{seminar.brutto}</f:format.number>" class="money"/> EUR
				</fieldset>
                <fieldset>
                	<label class="label" for="">Kosten Netto:</label>
                    <f:form.textfield property="netto" id="netto" value="<f:format.number decimalSeparator=',' thousandsSeparator=''>{seminar.netto}</f:format.number>" class="money"/> EUR
				</fieldset>
			</fieldset>
           
			<fieldset class="block">
	            <fieldset class="fs_submit">
    		        <f:form.submit value="Speichern" class="button"/>
            	</fieldset>
			</fieldset>

        </f:form>

		<f:form id="seminar-erstattung-form" name="erstattung" action="erstattung" object="{erstattung}" method="POST" noCacheHash="1">
			<fieldset class="block">
				<fieldset class="fs_submit">
					<f:form.hidden property="personnr"/>
					<f:form.button type="submit" class="button">Zurück zur Ausbildungsrückerstattung</f:form.button>
				</fieldset>
			</fieldset>
		</f:form>

    </div>
   
</f:section>