<f:layout name="Default" />

<f:section name="main">
  
    <div class="reise-user-edit">
    
    	<h3>BEARBEITUNG</h3>

		<p><strong>Die Reiseabrechnung <strong>Reise-Nr. {reise.reisenr}</strong> wurde zur Freigabe übergeben.</strong></p>

    </div>
   
</f:section>