{namespace vh=NEXT\IconReiseabrechnung\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
  
    <div class="edit edit-manager">
        
    	<h3>DETAILANSICHT</h3>

		<f:render partial="Reise/View" arguments="{_all}"/>
        <f:if condition="{reise.status} == 'SEK' || {reise.status} == 'GL'">
            <div class="edit edit-manager">
                <f:form id="trip-form" name="reise" action="submit" object="{reise}" method="POST" enctype="multipart/form-data" noCacheHash="1">
                    <input type="hidden" id="userMode" value="{userMode}" />
                    <input type="hidden" name="reise" value="{reise.uid}" />
                    <fieldset class="block block-einreichung">
                        <legend>Reiseabrechnung zur Freigabe:</legend>
                        <fieldset>
                            <f:form.radio property="chief" value="2" id="chief-2"/>
                            <label for="chief-2">{settings.departments.2.chief.name} ({settings.departments.2.chief.email})</label>
                        </fieldset>
                        <fieldset>
                            <f:form.radio property="chief" value="3" id="chief-3"/>
                            <label for="chief-3">{settings.departments.3.chief.name} ({settings.departments.3.chief.email})</label>
                        </fieldset>
                        <fieldset>
                            <f:form.radio property="chief" value="1" id="chief-1"/>
                            <label for="chief-1">{settings.departments.1.chief.name} ({settings.departments.1.chief.email})</label>
                        </fieldset>
                        <fieldset>
                            <f:form.radio property="chief" value="4" id="chief-4"/>
                            <label for="chief-4">{settings.departments.4.chief.name} ({settings.departments.4.chief.email})</label>
                        </fieldset>
                        <fieldset class="fs_submit">
                            <f:form.hidden property="submit" id="einreichung-checked"/>
                            <f:form.button type="button" disabled="disabled" id="einreichung-submit" class="button disabled">Abrechnung zur Freigabe senden</f:form.button>
                        </fieldset>
                    </fieldset>
                </f:form>
                <script>
                    $('input[type=radio][name$="[reise][secretary]"]').change(function(){
                        if( $(this).val() ){
                            $('#einreichung-submit').removeAttr('disabled').removeClass('disabled');
                        }
                    });
                    $('input[type=radio][name$="[reise][chief]"]').change(function(){
                        if( $(this).val() ){
                            $('#einreichung-submit').removeAttr('disabled').removeClass('disabled');
                        }
                    });

                    /*
                        BUTTONS für EINREICHUNG
                    */
                    $('#einreichung-submit').click( function(){
                        $('#einreichung-checked').val(1);
                        $('#trip-form').submit();
                    });
                </script>
            </div>
        </f:if>
    </div>
   
</f:section>