<div class="mainNav" id="navigationFirstLevelMenu">
<f:if condition="{loggedInUser}">
    <f:if condition="{userMode} == 'MANAGER'"><f:render partial="Manager/Menu" arguments="{_all}"/></f:if>
    <f:if condition="{userMode} == 'USER'"><f:render partial="User/Menu" arguments="{_all}" /></f:if>
</f:if>
</div>
