    <div class="" style="position:absolute; top:0px; left:192px;">
        <f:if condition="{userMode} == 'CHIEF'"><f:render partial="Chief/Title" arguments="{_all}" /></f:if>
		<f:if condition="{userMode} == 'MANAGER'"><f:render partial="Manager/Title" arguments="{_all}"/></f:if>
        <f:if condition="{userMode} == 'USER'"><f:render partial="User/Title" arguments="{_all}" /></f:if>
    </div>
