  <f:if condition="{skript.image}">
    <div class="csc-textpic csc-textpic-center csc-textpic-above">
	    <div class="csc-textpic-imagewrap">
    		<div class="csc-textpic-center-outer">
		    	<div class="csc-textpic-center-inner">
				    <div class="csc-textpic-image csc-textpic-last">
<f:image src="{skript.image.uid}" treatIdAsReference="TRUE" width="{settings.formular.image.width}" height="{settings.formular.image.height}" alt="{f:format.stripTags(value: '{skript.title}')}" />
                    </div>
			    </div>
		    </div>
	    </div>
    </div>
</f:if>